workflows.example/EGX Single Stock Deep Analyst.json
{
  "name": "EGX Single Stock Deep Analyst",
  "nodes": [
    {
      "parameters": {
        "jsCode": "\n/*\n * SINGLE STOCK CONFIG — EGX Deep Analyst (Enhanced)\n * ══════════════════════════════════════════════════\n * CHANGE THE ACTIVE STOCK BELOW.\n * Yahoo EGX ticker format: TICKER.CA\n * Additional 5m TF for precision entries.\n */\n\n// ═══════════════════════════════════════════════════════\n// ██  CHANGE YOUR STOCK HERE  ██\n// ═══════════════════════════════════════════════════════\nconst ACTIVE_STOCK = { ticker: 'SKPC', name: 'Sidi Kerir Petrochemicals', shares: 25073, avgCost: 17.59 };\n\n// Other stocks you hold (uncomment to switch):\n// const ACTIVE_STOCK = { ticker: 'ICFC',  name: 'International Co For Investment & Development' };\n// const ACTIVE_STOCK = { ticker: 'IFAP',  name: 'International Agricultural Products' };\n// const ACTIVE_STOCK = { ticker: 'EGS02291C010', name: 'Al Khair River For Development Agricultural Investment' };\n// const ACTIVE_STOCK = { ticker: 'NEDA',  name: 'Northern Upper Egypt Development and Agricultural Production' };\n// const ACTIVE_STOCK = { ticker: 'WKOL',  name: 'Wadi Kom Ombo Land Reclamation' };\n// const ACTIVE_STOCK = { ticker: 'ISMQ',  name: 'Iron And Steel for Mines and Quarries' };\n// const ACTIVE_STOCK = { ticker: 'SPMD',  name: 'Speed Medical Co' };\n// const ACTIVE_STOCK = { ticker: 'EGS72XL1C014', name: 'Premium HealthCare Group' };\n// const ACTIVE_STOCK = { ticker: 'ZMID',  name: 'Zahraa El Maadi Investment & Development' };\n// const ACTIVE_STOCK = { ticker: 'AMER',  name: 'Amer Group Holding' };\n\nconst FETCH_MATRIX = [\n  { id: '15m',  interval: '15m',  range: '60d',  label: '15-Min Precision Entry' },\n  { id: '1H',   interval: '60m',  range: '60d',  label: '1-Hour Swing' },\n  { id: '1W',   interval: '1wk',  range: '5y',   label: 'Weekly Macro Deep' }\n];\n\nconst runDate = new Date().toISOString().split('T')[0];\nreturn [{ json: { stock: ACTIVE_STOCK, fetchMatrix: FETCH_MATRIX, runDate } }];\n"
      },
      "id": "f74347eb-cdb0-4fe3-a6b9-b2e0874ba26d",
      "name": "Single Stock Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*\n * YAHOO FINANCE DEFENSIVE FETCHER v5 — Single Stock\n * Architecture: 3 TFs, 2s delays, 3 retries\n * Data Healer: MOC filter, grid inject, piastre fix, 4H synthesis\n */\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst httpReq = this.helpers.httpRequest;\nconst config = $input.all()[0].json;\nconst { stock, fetchMatrix, runDate } = config;\n\nconst YAHOO_BASE = 'https://query1.finance.yahoo.com/v8/finance/chart';\nconst YAHOO_HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',\n  'Accept': 'application/json'\n};\n\nconst CAIRO_OFFSET_MS = 2 * 60 * 60 * 1000;\nfunction toCairoHour(unixSec) {\n  const d = new Date((unixSec * 1000) + CAIRO_OFFSET_MS);\n  return d.getUTCHours();\n}\nfunction toCairoDate(unixSec) {\n  const d = new Date((unixSec * 1000) + CAIRO_OFFSET_MS);\n  return d.toISOString().split('T')[0];\n}\n\nasync function fetchYahoo(ticker, interval, range, maxRetries) {\n  maxRetries = maxRetries || 3;\n  const url = YAHOO_BASE + '/' + ticker + '.CA?interval=' + interval + '&range=' + range;\n  for (let attempt = 0; attempt < maxRetries; attempt++) {\n    try {\n      const resp = await httpReq({\n        method: 'GET', url,\n        headers: YAHOO_HEADERS,\n        returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 20000\n      });\n      if (resp.statusCode === 200) {\n        const body = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n        return { ok: true, data: body };\n      }\n      if (resp.statusCode === 404) return { ok: false, err: 'Yahoo 404: ' + ticker + '.CA not found' };\n      if (resp.statusCode === 401 || resp.statusCode === 403) {\n        await sleep(5000 * (attempt + 1));\n        continue;\n      }\n      if (attempt === maxRetries - 1) return { ok: false, err: 'Yahoo HTTP ' + resp.statusCode };\n    } catch (e) {\n      if (attempt === maxRetries - 1) return { ok: false, err: 'Yahoo error: ' + e.message };\n    }\n    await sleep(2000 * Math.pow(2, attempt));\n  }\n  return { ok: false, err: 'Max retries exceeded' };\n}\n\nfunction extractOHLCV(yahooData) {\n  const result = yahooData?.chart?.result?.[0];\n  if (!result?.timestamp) return null;\n  const ts = result.timestamp;\n  const q = result.indicators?.quote?.[0];\n  if (!q) return null;\n  return {\n    timestamps: ts,\n    opens:   ts.map((_, i) => q.open?.[i] ?? null),\n    highs:   ts.map((_, i) => q.high?.[i] ?? null),\n    lows:    ts.map((_, i) => q.low?.[i] ?? null),\n    closes:  ts.map((_, i) => q.close?.[i] ?? null),\n    volumes: ts.map((_, i) => q.volume?.[i] ?? 0)\n  };\n}\n\nfunction fixPiastreAnomaly(closes) {\n  if (closes.length < 10) return closes;\n  const valid = closes.filter(c => c != null && c > 0);\n  if (valid.length < 5) return closes;\n  const sorted = [...valid].sort((a, b) => a - b);\n  const median = sorted[Math.floor(sorted.length / 2)];\n  return closes.map(c => {\n    if (c == null) return c;\n    if (median > 0 && c > median * 50 && c < median * 200) return +(c / 100).toFixed(4);\n    return c;\n  });\n}\n\nfunction filterMOC(raw, isIntraday) {\n  if (!isIntraday || !raw) return raw;\n  const idx = [];\n  for (let i = 0; i < raw.timestamps.length; i++) {\n    if (toCairoHour(raw.timestamps[i]) < 14) idx.push(i);\n  }\n  return {\n    timestamps: idx.map(i => raw.timestamps[i]),\n    opens:   idx.map(i => raw.opens[i]),\n    highs:   idx.map(i => raw.highs[i]),\n    lows:    idx.map(i => raw.lows[i]),\n    closes:  idx.map(i => raw.closes[i]),\n    volumes: idx.map(i => raw.volumes[i])\n  };\n}\n\nfunction healGrid(raw, intervalSec) {\n  if (!raw || raw.timestamps.length < 2) return raw;\n  const healed = { timestamps: [], opens: [], highs: [], lows: [], closes: [], volumes: [] };\n  for (let i = 0; i < raw.timestamps.length; i++) {\n    if (i > 0) {\n      const gap = raw.timestamps[i] - raw.timestamps[i - 1];\n      if (gap > intervalSec * 1.5 && gap < intervalSec * 50) {\n        const prevClose = healed.closes[healed.closes.length - 1] || raw.closes[i - 1];\n        let fillTs = raw.timestamps[i - 1] + intervalSec;\n        while (fillTs < raw.timestamps[i]) {\n          const fillHour = toCairoHour(fillTs);\n          if (fillHour >= 10 && fillHour < 14) {\n            healed.timestamps.push(fillTs);\n            healed.opens.push(prevClose); healed.highs.push(prevClose);\n            healed.lows.push(prevClose); healed.closes.push(prevClose);\n            healed.volumes.push(0);\n          }\n          fillTs += intervalSec;\n        }\n      }\n    }\n    const prevClose = healed.closes.length > 0 ? healed.closes[healed.closes.length - 1] : null;\n    const c = raw.closes[i], o = raw.opens[i], h = raw.highs[i], l = raw.lows[i];\n    if (c != null && c > 0) {\n      healed.timestamps.push(raw.timestamps[i]);\n      healed.opens.push(o != null && o > 0 ? o : c);\n      healed.highs.push(h != null && h > 0 ? h : c);\n      healed.lows.push(l != null && l > 0 ? l : c);\n      healed.closes.push(c);\n      healed.volumes.push(raw.volumes[i] || 0);\n    } else if (prevClose != null) {\n      healed.timestamps.push(raw.timestamps[i]);\n      healed.opens.push(prevClose); healed.highs.push(prevClose);\n      healed.lows.push(prevClose); healed.closes.push(prevClose);\n      healed.volumes.push(0);\n    }\n  }\n  return healed;\n}\n\nfunction synthesize4H(healed1H) {\n  if (!healed1H || healed1H.timestamps.length < 4) return null;\n  const byDay = {};\n  for (let i = 0; i < healed1H.timestamps.length; i++) {\n    const day = toCairoDate(healed1H.timestamps[i]);\n    if (!byDay[day]) byDay[day] = [];\n    byDay[day].push(i);\n  }\n  const result = { timestamps: [], opens: [], highs: [], lows: [], closes: [], volumes: [] };\n  for (const day of Object.keys(byDay).sort()) {\n    const indices = byDay[day];\n    if (indices.length === 0) continue;\n    const dayO = healed1H.opens[indices[0]];\n    const dayH = Math.max(...indices.map(i => healed1H.highs[i]));\n    const dayL = Math.min(...indices.map(i => healed1H.lows[i]));\n    const dayC = healed1H.closes[indices[indices.length - 1]];\n    const dayV = indices.reduce((s, i) => s + (healed1H.volumes[i] || 0), 0);\n    if (dayC > 0) {\n      result.timestamps.push(healed1H.timestamps[indices[0]]);\n      result.opens.push(dayO); result.highs.push(dayH);\n      result.lows.push(dayL); result.closes.push(dayC);\n      result.volumes.push(dayV);\n    }\n  }\n  return result.closes.length >= 5 ? result : null;\n}\n\nfunction toPlainOHLCV(healed) {\n  if (!healed) return null;\n  const fixedCloses = fixPiastreAnomaly(healed.closes);\n  return {\n    opens: healed.opens, highs: healed.highs,\n    lows: healed.lows, closes: fixedCloses, volumes: healed.volumes\n  };\n}\n\n// MAIN ORCHESTRATOR — Single Stock\nconst fetchLog = [];\nconst bundle = {\n  stock: stock.ticker, fullName: stock.name,\n  runDate, currentPrice: 0, mtf: {}, error: null, shares: stock.shares || 0, avgCost: stock.avgCost || 0\n};\nlet hasAnyData = false;\n\nfor (const tf of fetchMatrix) {\n  const isIntraday = (tf.id === '15m' || tf.id === '1H');\n  const intervalSec = tf.id === '15m' ? 900 : tf.id === '1H' ? 3600 : 0;\n\n  const result = await fetchYahoo(stock.ticker, tf.interval, tf.range);\n  fetchLog.push({ stock: stock.ticker, tf: tf.id, ok: result.ok, err: result.err || null });\n\n  if (result.ok) {\n    let raw = extractOHLCV(result.data);\n    if (raw && raw.timestamps.length > 0) {\n      raw = filterMOC(raw, isIntraday);\n      if (isIntraday && intervalSec > 0) raw = healGrid(raw, intervalSec);\n      const plain = toPlainOHLCV(raw);\n      if (plain && plain.closes.length >= 10) {\n        bundle.mtf[tf.id] = plain;\n        hasAnyData = true;\n        const lastClose = plain.closes[plain.closes.length - 1];\n        if (lastClose > 0) bundle.currentPrice = +lastClose.toFixed(2);\n      }\n      if (tf.id === '1H' && raw) {\n        const synth4H = synthesize4H(raw);\n        const plain4H = toPlainOHLCV(synth4H);\n        if (plain4H && plain4H.closes.length >= 10) {\n          bundle.mtf['4H'] = plain4H;\n        }\n      }\n    }\n  }\n  await sleep(2000);\n}\n\nif (!hasAnyData) {\n  bundle.error = 'No data from Yahoo Finance for ' + stock.ticker + '.CA across all timeframes.';\n} else if (!bundle.mtf['4H']) {\n  bundle.error = 'Warning: Missing 4H macro anchor for ' + stock.ticker + '. Partial TA only.';\n}\n\nreturn [{ json: bundle }, { json: { _fetchLog: fetchLog } }];\n"
      },
      "id": "03f568e5-4895-498a-a8f3-5e760aed6158",
      "name": "Fetch Yahoo OHLCV (Single Stock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*\n * DEEP TA ENGINE — Single Stock Enhanced\n * ═══════════════════════════════════════\n *\n * CORE (from original):\n *   EMA 9/21/50, RSI-14, RSI-3 (85/15), MACD 12/26/9, MACD EGX 8/17/9,\n *   Ichimoku 7/22/44, MFI 14, CMF 20, ADX/DMI 14, Bollinger 10/2.5,\n *   Stochastic 9/3/2, ATR, Zigzag, Elliott Wave, Fibonacci, OBV, A/D Line,\n *   Volume Spikes, Pattern Detection, Legacy S/R, Cross-TF Wave Alignment\n *\n * NEW (enhanced for deep single-stock):\n *   VWAP + StdDev Bands, SuperTrend (10/3), Pivot Points (Standard/Fib/Camarilla),\n *   Williams %R (14), Parabolic SAR, CCI (20), ROC (12), Heikin-Ashi Trend,\n *   Volume Profile (POC/VAH/VAL), Linear Regression Channel (20, R-squared)\n */\n\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst TF_HIERARCHY = ['1W', '4H', '1H', '15m'];\nconst TF_WEIGHTS = { '1W': 2, '4H': 5, '1H': 3, '15m': 2 };\nconst ZZ_THRESHOLDS = { '1W': 0.06, '4H': 0.04, '1H': 0.025, '15m': 0.015 };\n\n// ═══════════════════════════════════════\n// CORE INDICATORS\n// ═══════════════════════════════════════\n\nfunction calcEMA(arr, p) {\n  if (!arr.length) return [];\n  const k = 2 / (p + 1), e = [arr[0]];\n  for (let i = 1; i < arr.length; i++) e.push(arr[i] * k + e[i - 1] * (1 - k));\n  return e;\n}\n\nfunction calcRSI(closes, p) {\n  p = p || 14;\n  if (closes.length < p + 2) return { value: 50, prev: 50, slope: 0 };\n  const g = [], l = [];\n  for (let i = 1; i < closes.length; i++) {\n    const d = closes[i] - closes[i - 1];\n    g.push(d > 0 ? d : 0);\n    l.push(d < 0 ? -d : 0);\n  }\n  let ag = g.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let al = l.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let cur = 50, prev = 50;\n  for (let i = p; i < g.length; i++) {\n    ag = (ag * (p - 1) + g[i]) / p;\n    al = (al * (p - 1) + l[i]) / p;\n    prev = cur;\n    cur = al === 0 ? 100 : 100 - 100 / (1 + ag / al);\n  }\n  return { value: +cur.toFixed(2), prev: +prev.toFixed(2), slope: +(cur - prev).toFixed(2) };\n}\n\nfunction calcRSIShort(closes) {\n  const p = 3;\n  if (closes.length < p + 2) return { value: 50, signal: 'neutral' };\n  const g = [], l = [];\n  for (let i = 1; i < closes.length; i++) {\n    const d = closes[i] - closes[i - 1];\n    g.push(d > 0 ? d : 0);\n    l.push(d < 0 ? -d : 0);\n  }\n  let ag = g.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let al = l.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let cur = 50;\n  for (let i = p; i < g.length; i++) {\n    ag = (ag * (p - 1) + g[i]) / p;\n    al = (al * (p - 1) + l[i]) / p;\n    cur = al === 0 ? 100 : 100 - 100 / (1 + ag / al);\n  }\n  const val = +cur.toFixed(2);\n  let signal = 'neutral';\n  if (val >= 85) signal = 'overbought';\n  else if (val <= 15) signal = 'oversold';\n  else if (val >= 70) signal = 'bullish';\n  else if (val <= 30) signal = 'bearish';\n  return { value: val, signal };\n}\n\nfunction calcMACD(closes) {\n  if (closes.length < 27) return null;\n  const e12 = calcEMA(closes, 12), e26 = calcEMA(closes, 26);\n  const ml = e12.map((v, i) => v - e26[i]);\n  const sl = calcEMA(ml, 9);\n  const h = ml.map((v, i) => v - sl[i]);\n  const n = ml.length;\n  return {\n    line: +ml[n - 1].toFixed(4), signal: +sl[n - 1].toFixed(4),\n    histogram: +h[n - 1].toFixed(4),\n    prevHistogram: n > 1 ? +h[n - 2].toFixed(4) : 0,\n    histSlope: n > 1 ? +(h[n - 1] - h[n - 2]).toFixed(4) : 0,\n    crossover: n > 1 && ml[n - 2] < sl[n - 2] && ml[n - 1] > sl[n - 1] ? 'bullish'\n             : n > 1 && ml[n - 2] > sl[n - 2] && ml[n - 1] < sl[n - 1] ? 'bearish' : 'none'\n  };\n}\n\nfunction calcMACDEGX(closes) {\n  if (closes.length < 18) return null;\n  const e8 = calcEMA(closes, 8), e17 = calcEMA(closes, 17);\n  const ml = e8.map((v, i) => v - e17[i]);\n  const sl = calcEMA(ml, 9);\n  const h = ml.map((v, i) => v - sl[i]);\n  const n = ml.length;\n  return {\n    line: +ml[n-1].toFixed(4), signal: +sl[n-1].toFixed(4),\n    histogram: +h[n-1].toFixed(4),\n    histSlope: n > 1 ? +(h[n-1] - h[n-2]).toFixed(4) : 0,\n    crossover: n > 1 && ml[n-2] < sl[n-2] && ml[n-1] > sl[n-1] ? 'bullish'\n             : n > 1 && ml[n-2] > sl[n-2] && ml[n-1] < sl[n-1] ? 'bearish' : 'none'\n  };\n}\n\nfunction calcATR(H, L, C, p) {\n  p = p || 14;\n  if (C.length < 2) return 0;\n  const tr = [];\n  for (let i = 1; i < C.length; i++)\n    tr.push(Math.max(H[i] - L[i], Math.abs(H[i] - C[i - 1]), Math.abs(L[i] - C[i - 1])));\n  if (tr.length < p) return +(tr.reduce((a, b) => a + b, 0) / tr.length).toFixed(4);\n  let a = tr.slice(0, p).reduce((x, y) => x + y, 0) / p;\n  for (let i = p; i < tr.length; i++) a = (a * (p - 1) + tr[i]) / p;\n  return +a.toFixed(4);\n}\n\nfunction calcIchimoku(highs, lows, closes) {\n  const tenkanP = 7, kijunP = 22, senkouBP = 44;\n  if (closes.length < senkouBP + 1) return null;\n  function donchianMid(h, l, period, idx) {\n    const start = Math.max(0, idx - period + 1);\n    let hi = -Infinity, lo = Infinity;\n    for (let i = start; i <= idx; i++) {\n      if (h[i] > hi) hi = h[i];\n      if (l[i] < lo) lo = l[i];\n    }\n    return (hi + lo) / 2;\n  }\n  const n = closes.length - 1;\n  const tenkan = +donchianMid(highs, lows, tenkanP, n).toFixed(4);\n  const kijun = +donchianMid(highs, lows, kijunP, n).toFixed(4);\n  const senkouA = +((tenkan + kijun) / 2).toFixed(4);\n  const senkouB = +donchianMid(highs, lows, senkouBP, n).toFixed(4);\n  const price = closes[n];\n  const cloudTop = Math.max(senkouA, senkouB);\n  const cloudBot = Math.min(senkouA, senkouB);\n  let cloud = 'inside_cloud';\n  if (price > cloudTop) cloud = 'above_cloud';\n  else if (price < cloudBot) cloud = 'below_cloud';\n  const tkCross = tenkan > kijun ? 'bullish' : tenkan < kijun ? 'bearish' : 'neutral';\n  return { tenkan, kijun, senkouA, senkouB, cloud, tkCross };\n}\n\nfunction calcMFI(highs, lows, closes, volumes) {\n  const p = 14;\n  if (closes.length < p + 1) return { value: 50, signal: 'neutral' };\n  const tp = closes.map((c, i) => (highs[i] + lows[i] + c) / 3);\n  let posMF = 0, negMF = 0;\n  for (let i = closes.length - p; i < closes.length; i++) {\n    if (i <= 0) continue;\n    const mf = tp[i] * volumes[i];\n    if (tp[i] > tp[i-1]) posMF += mf;\n    else negMF += mf;\n  }\n  const mfr = negMF === 0 ? 100 : posMF / negMF;\n  const val = +(100 - 100 / (1 + mfr)).toFixed(2);\n  let signal = 'neutral';\n  if (val >= 80) signal = 'overbought';\n  else if (val <= 20) signal = 'oversold';\n  return { value: val, signal };\n}\n\nfunction calcCMF(highs, lows, closes, volumes) {\n  const p = 20;\n  if (closes.length < p) return { value: 0, signal: 'neutral' };\n  let mfvSum = 0, volSum = 0;\n  for (let i = closes.length - p; i < closes.length; i++) {\n    const range = highs[i] - lows[i];\n    if (range > 0) {\n      const mfm = ((closes[i] - lows[i]) - (highs[i] - closes[i])) / range;\n      mfvSum += mfm * volumes[i];\n    }\n    volSum += volumes[i];\n  }\n  const val = volSum === 0 ? 0 : +(mfvSum / volSum).toFixed(4);\n  let signal = 'neutral';\n  if (val > 0.05) signal = 'accumulation';\n  else if (val < -0.05) signal = 'distribution';\n  return { value: val, signal };\n}\n\nfunction calcADX(highs, lows, closes) {\n  const p = 14;\n  if (closes.length < p * 2) return { adx: 0, pdi: 0, mdi: 0, signal: 'no_trend' };\n  const dmP = [], dmM = [], tr = [];\n  for (let i = 1; i < closes.length; i++) {\n    const upMove = highs[i] - highs[i-1];\n    const downMove = lows[i-1] - lows[i];\n    dmP.push(upMove > downMove && upMove > 0 ? upMove : 0);\n    dmM.push(downMove > upMove && downMove > 0 ? downMove : 0);\n    tr.push(Math.max(highs[i] - lows[i], Math.abs(highs[i] - closes[i-1]), Math.abs(lows[i] - closes[i-1])));\n  }\n  let atrS = tr.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let dmPS = dmP.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let dmMS = dmM.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  const dxArr = [];\n  for (let i = p; i < tr.length; i++) {\n    atrS = (atrS * (p-1) + tr[i]) / p;\n    dmPS = (dmPS * (p-1) + dmP[i]) / p;\n    dmMS = (dmMS * (p-1) + dmM[i]) / p;\n    const pdi = atrS > 0 ? (dmPS / atrS) * 100 : 0;\n    const mdi = atrS > 0 ? (dmMS / atrS) * 100 : 0;\n    const sum = pdi + mdi;\n    dxArr.push(sum > 0 ? (Math.abs(pdi - mdi) / sum) * 100 : 0);\n  }\n  if (dxArr.length < p) return { adx: 0, pdi: 0, mdi: 0, signal: 'no_trend' };\n  let adx = dxArr.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  for (let i = p; i < dxArr.length; i++) adx = (adx * (p-1) + dxArr[i]) / p;\n  const lastPdi = atrS > 0 ? +(dmPS / atrS * 100).toFixed(2) : 0;\n  const lastMdi = atrS > 0 ? +(dmMS / atrS * 100).toFixed(2) : 0;\n  const adxVal = +adx.toFixed(2);\n  let signal = 'no_trend';\n  if (adxVal > 25) signal = lastPdi > lastMdi ? 'strong_uptrend' : 'strong_downtrend';\n  else if (adxVal > 20) signal = lastPdi > lastMdi ? 'weak_uptrend' : 'weak_downtrend';\n  else signal = 'ranging';\n  return { adx: adxVal, pdi: lastPdi, mdi: lastMdi, signal };\n}\n\nfunction calcBollinger(closes) {\n  const p = 10, mult = 2.5;\n  if (closes.length < p) return null;\n  const slice = closes.slice(-p);\n  const sma = slice.reduce((a, b) => a + b, 0) / p;\n  const variance = slice.reduce((s, v) => s + Math.pow(v - sma, 2), 0) / p;\n  const stdDev = Math.sqrt(variance);\n  const upper = +(sma + mult * stdDev).toFixed(4);\n  const lower = +(sma - mult * stdDev).toFixed(4);\n  const width = +((upper - lower) / sma * 100).toFixed(2);\n  const price = closes[closes.length - 1];\n  const pctB = upper !== lower ? +((price - lower) / (upper - lower) * 100).toFixed(2) : 50;\n  let signal = 'neutral';\n  if (pctB > 100) signal = 'above_upper';\n  else if (pctB < 0) signal = 'below_lower';\n  else if (width < 3) signal = 'squeeze';\n  return { upper, lower, middle: +sma.toFixed(4), width, pctB, signal };\n}\n\nfunction calcStochastic(highs, lows, closes) {\n  const kP = 9, dP = 3, slow = 2;\n  if (closes.length < kP + dP + slow) return null;\n  const rawK = [];\n  for (let i = kP - 1; i < closes.length; i++) {\n    let hi = -Infinity, lo = Infinity;\n    for (let j = i - kP + 1; j <= i; j++) {\n      if (highs[j] > hi) hi = highs[j];\n      if (lows[j] < lo) lo = lows[j];\n    }\n    const range = hi - lo;\n    rawK.push(range > 0 ? ((closes[i] - lo) / range) * 100 : 50);\n  }\n  const slowK = [];\n  for (let i = slow - 1; i < rawK.length; i++) {\n    let sum = 0;\n    for (let j = i - slow + 1; j <= i; j++) sum += rawK[j];\n    slowK.push(sum / slow);\n  }\n  const dLine = [];\n  for (let i = dP - 1; i < slowK.length; i++) {\n    let sum = 0;\n    for (let j = i - dP + 1; j <= i; j++) sum += slowK[j];\n    dLine.push(sum / dP);\n  }\n  if (!slowK.length || !dLine.length) return null;\n  const k = +slowK[slowK.length - 1].toFixed(2);\n  const d = +dLine[dLine.length - 1].toFixed(2);\n  const prevK = slowK.length > 1 ? +slowK[slowK.length - 2].toFixed(2) : k;\n  const prevD = dLine.length > 1 ? +dLine[dLine.length - 2].toFixed(2) : d;\n  let signal = 'neutral';\n  if (k < 20 && d < 20) signal = 'oversold';\n  else if (k > 80 && d > 80) signal = 'overbought';\n  let crossover = 'none';\n  if (prevK < prevD && k > d) crossover = 'bullish';\n  else if (prevK > prevD && k < d) crossover = 'bearish';\n  return { k, d, signal, crossover };\n}\n\n// ═══════════════════════════════════════\n// NEW ENHANCED INDICATORS\n// ═══════════════════════════════════════\n\nfunction calcVWAP(highs, lows, closes, volumes) {\n  if (closes.length < 5) return null;\n  let cumTPV = 0, cumVol = 0;\n  const vwapArr = [];\n  for (let i = 0; i < closes.length; i++) {\n    const tp = (highs[i] + lows[i] + closes[i]) / 3;\n    cumTPV += tp * volumes[i];\n    cumVol += volumes[i];\n    vwapArr.push(cumVol > 0 ? cumTPV / cumVol : closes[i]);\n  }\n  const vwap = +vwapArr[vwapArr.length - 1].toFixed(4);\n  const price = closes[closes.length - 1];\n  let sumSqDev = 0;\n  for (let i = 0; i < closes.length; i++) {\n    sumSqDev += Math.pow(closes[i] - vwapArr[i], 2) * (volumes[i] || 1);\n  }\n  const stdDev = cumVol > 0 ? Math.sqrt(sumSqDev / cumVol) : 0;\n  return {\n    value: vwap,\n    upper1: +(vwap + stdDev).toFixed(4),\n    lower1: +(vwap - stdDev).toFixed(4),\n    upper2: +(vwap + 2 * stdDev).toFixed(4),\n    lower2: +(vwap - 2 * stdDev).toFixed(4),\n    position: price > vwap + stdDev ? 'above_upper' : price < vwap - stdDev ? 'below_lower' : price > vwap ? 'above' : price < vwap ? 'below' : 'at'\n  };\n}\n\nfunction calcSuperTrend(highs, lows, closes, period, multiplier) {\n  period = period || 10; multiplier = multiplier || 3;\n  if (closes.length < period + 1) return null;\n  const trArr = [];\n  for (let i = 1; i < closes.length; i++) {\n    trArr.push(Math.max(highs[i] - lows[i], Math.abs(highs[i] - closes[i-1]), Math.abs(lows[i] - closes[i-1])));\n  }\n  let atr = trArr.slice(0, period).reduce((s, v) => s + v, 0) / period;\n  const atrArr = [atr];\n  for (let i = period; i < trArr.length; i++) {\n    atr = (atr * (period - 1) + trArr[i]) / period;\n    atrArr.push(atr);\n  }\n  let trend = 1;\n  let superTrend = 0;\n  let prevUpper = Infinity, prevLower = -Infinity;\n  const offset = closes.length - 1 - (atrArr.length - 1);\n  for (let i = 0; i < atrArr.length; i++) {\n    const idx = i + offset;\n    const hl2 = (highs[idx] + lows[idx]) / 2;\n    let upperBand = hl2 + multiplier * atrArr[i];\n    let lowerBand = hl2 - multiplier * atrArr[i];\n    if (i > 0) {\n      if (lowerBand > prevLower) lowerBand = lowerBand; else lowerBand = prevLower;\n      if (upperBand < prevUpper) upperBand = upperBand; else upperBand = prevUpper;\n    }\n    if (closes[idx] > prevUpper) trend = 1;\n    else if (closes[idx] < prevLower) trend = -1;\n    superTrend = trend === 1 ? lowerBand : upperBand;\n    prevUpper = upperBand;\n    prevLower = lowerBand;\n  }\n  const price = closes[closes.length - 1];\n  return {\n    value: +superTrend.toFixed(4),\n    trend: trend === 1 ? 'bullish' : 'bearish',\n    distance: +((price - superTrend) / price * 100).toFixed(2)\n  };\n}\n\nfunction calcPivotPoints(highs, lows, closes) {\n  if (closes.length < 2) return null;\n  const H = highs[highs.length - 2];\n  const L = lows[lows.length - 2];\n  const C = closes[closes.length - 2];\n  const price = closes[closes.length - 1];\n  const PP = (H + L + C) / 3;\n  const range = H - L;\n  const std = {\n    r3: +(H + 2 * (PP - L)).toFixed(4), r2: +(PP + range).toFixed(4), r1: +(2 * PP - L).toFixed(4),\n    s1: +(2 * PP - H).toFixed(4), s2: +(PP - range).toFixed(4), s3: +(L - 2 * (H - PP)).toFixed(4)\n  };\n  const fib = {\n    r3: +(PP + range).toFixed(4), r2: +(PP + 0.618 * range).toFixed(4), r1: +(PP + 0.382 * range).toFixed(4),\n    s1: +(PP - 0.382 * range).toFixed(4), s2: +(PP - 0.618 * range).toFixed(4), s3: +(PP - range).toFixed(4)\n  };\n  const cam = {\n    r4: +(C + range * 1.1 / 2).toFixed(4), r3: +(C + range * 1.1 / 4).toFixed(4),\n    r2: +(C + range * 1.1 / 6).toFixed(4), r1: +(C + range * 1.1 / 12).toFixed(4),\n    s1: +(C - range * 1.1 / 12).toFixed(4), s2: +(C - range * 1.1 / 6).toFixed(4),\n    s3: +(C - range * 1.1 / 4).toFixed(4), s4: +(C - range * 1.1 / 2).toFixed(4)\n  };\n  return {\n    pp: +PP.toFixed(4), standard: std, fibonacci: fib, camarilla: cam,\n    position: price > PP ? 'above_pivot' : 'below_pivot'\n  };\n}\n\nfunction calcWilliamsR(highs, lows, closes, period) {\n  period = period || 14;\n  if (closes.length < period) return null;\n  let hh = -Infinity, ll = Infinity;\n  for (let i = closes.length - period; i < closes.length; i++) {\n    if (highs[i] > hh) hh = highs[i];\n    if (lows[i] < ll) ll = lows[i];\n  }\n  const range = hh - ll;\n  const wr = range > 0 ? +(-100 * (hh - closes[closes.length - 1]) / range).toFixed(2) : -50;\n  let signal = 'neutral';\n  if (wr > -20) signal = 'overbought';\n  else if (wr < -80) signal = 'oversold';\n  return { value: wr, signal };\n}\n\nfunction calcParabolicSAR(highs, lows, closes) {\n  if (closes.length < 5) return null;\n  const afStep = 0.02, afMax = 0.20;\n  let trend = 1, sar = lows[0], ep = highs[0], af = afStep;\n  for (let i = 1; i < closes.length; i++) {\n    sar = sar + af * (ep - sar);\n    if (trend === 1) {\n      if (i >= 2) sar = Math.min(sar, lows[i-1], lows[Math.max(0, i-2)]);\n      if (highs[i] > ep) { ep = highs[i]; af = Math.min(af + afStep, afMax); }\n      if (lows[i] < sar) { trend = -1; sar = ep; ep = lows[i]; af = afStep; }\n    } else {\n      if (i >= 2) sar = Math.max(sar, highs[i-1], highs[Math.max(0, i-2)]);\n      if (lows[i] < ep) { ep = lows[i]; af = Math.min(af + afStep, afMax); }\n      if (highs[i] > sar) { trend = 1; sar = ep; ep = highs[i]; af = afStep; }\n    }\n  }\n  const price = closes[closes.length - 1];\n  return {\n    value: +sar.toFixed(4),\n    trend: trend === 1 ? 'bullish' : 'bearish',\n    distance: +((price - sar) / price * 100).toFixed(2)\n  };\n}\n\nfunction calcCCI(highs, lows, closes, period) {\n  period = period || 20;\n  if (closes.length < period) return null;\n  const tp = closes.map((c, i) => (highs[i] + lows[i] + c) / 3);\n  const slice = tp.slice(-period);\n  const sma = slice.reduce((s, v) => s + v, 0) / period;\n  const mad = slice.reduce((s, v) => s + Math.abs(v - sma), 0) / period;\n  const cci = mad > 0 ? +((tp[tp.length - 1] - sma) / (0.015 * mad)).toFixed(2) : 0;\n  let signal = 'neutral';\n  if (cci > 200) signal = 'extreme_overbought';\n  else if (cci > 100) signal = 'overbought';\n  else if (cci < -200) signal = 'extreme_oversold';\n  else if (cci < -100) signal = 'oversold';\n  return { value: cci, signal };\n}\n\nfunction calcROC(closes, period) {\n  period = period || 12;\n  if (closes.length < period + 1) return null;\n  const prev = closes[closes.length - 1 - period];\n  const curr = closes[closes.length - 1];\n  const roc = prev > 0 ? +((curr - prev) / prev * 100).toFixed(2) : 0;\n  return {\n    value: roc,\n    signal: roc > 5 ? 'strong_bullish' : roc > 0 ? 'bullish' : roc > -5 ? 'bearish' : 'strong_bearish'\n  };\n}\n\nfunction calcHeikinAshi(opens, highs, lows, closes) {\n  if (closes.length < 6) return null;\n  const n = closes.length;\n  const start = Math.max(0, n - 6);\n  const haCandles = [];\n  let prevHaOpen = opens[start];\n  let prevHaClose = (opens[start] + highs[start] + lows[start] + closes[start]) / 4;\n  for (let i = start; i < n; i++) {\n    const hClose = (opens[i] + highs[i] + lows[i] + closes[i]) / 4;\n    const hOpen = (prevHaOpen + prevHaClose) / 2;\n    const hHigh = Math.max(highs[i], hOpen, hClose);\n    const hLow = Math.min(lows[i], hOpen, hClose);\n    const isGreen = hClose > hOpen;\n    const bodySize = Math.abs(hClose - hOpen);\n    const upperShadow = hHigh - Math.max(hOpen, hClose);\n    const lowerShadow = Math.min(hOpen, hClose) - hLow;\n    haCandles.push({\n      color: isGreen ? 'green' : 'red', bodySize, upperShadow, lowerShadow,\n      noLowerWick: bodySize > 0 && lowerShadow < bodySize * 0.05,\n      noUpperWick: bodySize > 0 && upperShadow < bodySize * 0.05\n    });\n    prevHaOpen = hOpen;\n    prevHaClose = hClose;\n  }\n  const last = haCandles[haCandles.length - 1];\n  let streak = 0;\n  for (let i = haCandles.length - 1; i >= 0; i--) {\n    if (haCandles[i].color === last.color) streak++; else break;\n  }\n  let strength = 'neutral';\n  if (last.color === 'green') {\n    if (last.noLowerWick && streak >= 3) strength = 'strong_bullish';\n    else if (streak >= 2) strength = 'bullish';\n    else strength = 'weak_bullish';\n  } else {\n    if (last.noUpperWick && streak >= 3) strength = 'strong_bearish';\n    else if (streak >= 2) strength = 'bearish';\n    else strength = 'weak_bearish';\n  }\n  return {\n    color: last.color, streak, strength,\n    doji: last.bodySize < (last.upperShadow + last.lowerShadow) * 0.1\n  };\n}\n\nfunction calcVolumeProfile(closes, volumes, bins) {\n  bins = bins || 24;\n  if (closes.length < 20) return null;\n  const lookback = Math.min(60, closes.length);\n  const rc = closes.slice(-lookback);\n  const rv = volumes.slice(-lookback);\n  const high = Math.max(...rc);\n  const low = Math.min(...rc);\n  const range = high - low;\n  if (range <= 0) return null;\n  const binSize = range / bins;\n  const profile = new Array(bins).fill(0);\n  for (let i = 0; i < rc.length; i++) {\n    const bin = Math.min(bins - 1, Math.floor((rc[i] - low) / binSize));\n    profile[bin] += rv[i];\n  }\n  let pocBin = 0, maxVol = 0;\n  for (let i = 0; i < bins; i++) {\n    if (profile[i] > maxVol) { maxVol = profile[i]; pocBin = i; }\n  }\n  const poc = +(low + (pocBin + 0.5) * binSize).toFixed(4);\n  const totalVol = profile.reduce((s, v) => s + v, 0);\n  const targetVol = totalVol * 0.7;\n  let vaVol = profile[pocBin];\n  let vaHigh = pocBin, vaLow = pocBin;\n  while (vaVol < targetVol && (vaLow > 0 || vaHigh < bins - 1)) {\n    const expandUp = vaHigh < bins - 1 ? profile[vaHigh + 1] : 0;\n    const expandDown = vaLow > 0 ? profile[vaLow - 1] : 0;\n    if (expandUp >= expandDown && vaHigh < bins - 1) { vaHigh++; vaVol += profile[vaHigh]; }\n    else if (vaLow > 0) { vaLow--; vaVol += profile[vaLow]; }\n    else { vaHigh++; vaVol += profile[vaHigh]; }\n  }\n  const vah = +(low + (vaHigh + 1) * binSize).toFixed(4);\n  const val = +(low + vaLow * binSize).toFixed(4);\n  const price = closes[closes.length - 1];\n  let position = 'inside_va';\n  if (price > vah) position = 'above_va';\n  else if (price < val) position = 'below_va';\n  return { poc, vah, val, position };\n}\n\nfunction calcLinearRegression(closes, period) {\n  period = period || 20;\n  if (closes.length < period) return null;\n  const slice = closes.slice(-period);\n  const n = slice.length;\n  let sumX = 0, sumY = 0, sumXY = 0, sumX2 = 0;\n  for (let i = 0; i < n; i++) {\n    sumX += i; sumY += slice[i]; sumXY += i * slice[i]; sumX2 += i * i;\n  }\n  const denom = n * sumX2 - sumX * sumX;\n  if (denom === 0) return null;\n  const slope = (n * sumXY - sumX * sumY) / denom;\n  const intercept = (sumY - slope * sumX) / n;\n  const yMean = sumY / n;\n  let ssTot = 0, ssRes = 0;\n  for (let i = 0; i < n; i++) {\n    const pred = intercept + slope * i;\n    ssTot += Math.pow(slice[i] - yMean, 2);\n    ssRes += Math.pow(slice[i] - pred, 2);\n  }\n  const r2 = ssTot > 0 ? +(1 - ssRes / ssTot).toFixed(4) : 0;\n  const se = n > 2 ? Math.sqrt(ssRes / (n - 2)) : 0;\n  const lastPred = intercept + slope * (n - 1);\n  const slopePct = lastPred > 0 ? +(slope / lastPred * 100).toFixed(3) : 0;\n  return {\n    slope: +slope.toFixed(6), slopePct,\n    r2, upper: +(lastPred + 2 * se).toFixed(4), lower: +(lastPred - 2 * se).toFixed(4),\n    center: +lastPred.toFixed(4),\n    signal: r2 > 0.8 ? (slope > 0 ? 'strong_uptrend' : 'strong_downtrend') :\n            r2 > 0.5 ? (slope > 0 ? 'uptrend' : 'downtrend') : 'no_trend'\n  };\n}\n\n// ═══════════════════════════════════════\n// ZIGZAG / ELLIOTT / FIBONACCI (original)\n// ═══════════════════════════════════════\n\nfunction zigzag(highs, lows, threshold) {\n  if (highs.length < 5) return [];\n  const swings = [];\n  let dir = 0, lastIdx = 0;\n  while (lastIdx < highs.length && (highs[lastIdx] == null || lows[lastIdx] == null)) lastIdx++;\n  if (lastIdx >= highs.length) return [];\n  let lastHigh = highs[lastIdx], lastLow = lows[lastIdx];\n  for (let i = lastIdx + 1; i < highs.length; i++) {\n    if (highs[i] == null || lows[i] == null) continue;\n    if (dir === 0) {\n      if (highs[i] >= lastLow * (1 + threshold)) {\n        swings.push({ idx: lastIdx, price: lastLow, type: 'L' }); dir = 1; lastIdx = i; lastHigh = highs[i];\n      } else if (lows[i] <= lastHigh * (1 - threshold)) {\n        swings.push({ idx: lastIdx, price: lastHigh, type: 'H' }); dir = -1; lastIdx = i; lastLow = lows[i];\n      }\n    } else if (dir === 1) {\n      if (highs[i] > lastHigh) { lastIdx = i; lastHigh = highs[i]; }\n      else if (lows[i] <= lastHigh * (1 - threshold)) {\n        swings.push({ idx: lastIdx, price: lastHigh, type: 'H' }); dir = -1; lastIdx = i; lastLow = lows[i];\n      }\n    } else {\n      if (lows[i] < lastLow) { lastIdx = i; lastLow = lows[i]; }\n      else if (highs[i] >= lastLow * (1 + threshold)) {\n        swings.push({ idx: lastIdx, price: lastLow, type: 'L' }); dir = 1; lastIdx = i; lastHigh = highs[i];\n      }\n    }\n  }\n  if (dir === 1) swings.push({ idx: lastIdx, price: lastHigh, type: 'H' });\n  else if (dir === -1) swings.push({ idx: lastIdx, price: lastLow, type: 'L' });\n  return swings;\n}\n\nfunction detectElliott(swings) {\n  if (swings.length < 4) return { phase: 'unknown', position: 0, direction: 'none', quality: 0, label: 'N/A', waveCount: 0, subWave: null };\n  const recent = swings.slice(-12);\n  const lastSwing = recent[recent.length - 1];\n  let startIdx = -1;\n  const lookForType = lastSwing.type === 'H' ? 'L' : 'H';\n  for (let i = recent.length - 2; i >= 0; i--) {\n    if (recent[i].type === lookForType) {\n      if (startIdx === -1) startIdx = i;\n      else {\n        if (lookForType === 'L' && recent[i].price < recent[startIdx].price) startIdx = i;\n        else if (lookForType === 'H' && recent[i].price > recent[startIdx].price) startIdx = i;\n        else break;\n      }\n    }\n  }\n  if (startIdx === -1) startIdx = 0;\n  const waveSwings = recent.slice(startIdx);\n  const waveCount = Math.max(0, waveSwings.length - 1);\n  const direction = lastSwing.type === 'H' ? 'up' : 'down';\n  let phase, position;\n  if (waveCount >= 1 && waveCount <= 5) { phase = 'impulse'; position = waveCount; }\n  else if (waveCount >= 6 && waveCount <= 8) { phase = 'corrective'; position = waveCount - 5; }\n  else if (waveCount > 8) { phase = 'extended'; position = waveCount; }\n  else { phase = 'forming'; position = 0; }\n  let quality = 30;\n  if (phase === 'impulse' && waveSwings.length >= 6) {\n    const waveSizes = [];\n    for (let i = 1; i < Math.min(waveSwings.length, 6); i++)\n      waveSizes.push(Math.abs(waveSwings[i].price - waveSwings[i - 1].price));\n    if (waveSizes.length >= 5) {\n      const w1 = waveSizes[0], w3 = waveSizes[2], w5 = waveSizes[4];\n      if (w3 >= Math.min(w1, w5)) quality += 20;\n      if (w3 >= Math.max(w1, w5)) quality += 10;\n    }\n    if (waveSwings.length >= 3) {\n      const w1Start = waveSwings[0].price, w2End = waveSwings[2].price;\n      if (direction === 'up' && w2End > w1Start) quality += 15;\n      else if (direction === 'down' && w2End < w1Start) quality += 15;\n    }\n    if (waveSwings.length >= 5) {\n      const w1End = waveSwings[1].price, w4End = waveSwings[4].price;\n      if (direction === 'up' && w4End > w1End * 0.98) quality += 15;\n      else if (direction === 'down' && w4End < w1End * 1.02) quality += 15;\n    }\n    quality = Math.min(95, quality);\n  } else if (phase === 'impulse' && waveCount >= 2) { quality = 40 + waveCount * 5; }\n  else if (phase === 'corrective') { quality = 50; }\n  let subWave = null;\n  if (waveSwings.length >= 4) {\n    const lastWaveStart = waveSwings[waveSwings.length - 2];\n    const lastWaveEnd = waveSwings[waveSwings.length - 1];\n    const waveRange = Math.abs(lastWaveEnd.price - lastWaveStart.price);\n    const prevWaveRange = waveSwings.length >= 3\n      ? Math.abs(waveSwings[waveSwings.length - 2].price - waveSwings[waveSwings.length - 3].price) : 0;\n    if (prevWaveRange > 0) {\n      const ratio = +(waveRange / prevWaveRange).toFixed(2);\n      let fibMatch = 'none';\n      if (Math.abs(ratio - 0.618) < 0.08) fibMatch = '61.8%';\n      else if (Math.abs(ratio - 0.382) < 0.08) fibMatch = '38.2%';\n      else if (Math.abs(ratio - 1.618) < 0.12) fibMatch = '161.8%';\n      else if (Math.abs(ratio - 1.0) < 0.08) fibMatch = '100%';\n      else if (Math.abs(ratio - 2.618) < 0.15) fibMatch = '261.8%';\n      subWave = { ratio, fibMatch, waveRange: +waveRange.toFixed(4) };\n    }\n  }\n  const impulseLabels = { 1: 'W1', 2: 'W2', 3: 'W3', 4: 'W4', 5: 'W5' };\n  const correctiveLabels = { 1: 'A', 2: 'B', 3: 'C' };\n  const arrow = direction === 'up' ? '\\u2191' : '\\u2193';\n  let label;\n  if (phase === 'impulse') label = (impulseLabels[position] || 'W' + position) + arrow;\n  else if (phase === 'corrective') label = (correctiveLabels[position] || position) + arrow;\n  else label = phase + arrow;\n  return { phase, position, direction, waveCount, quality, label, subWave };\n}\n\nfunction calcFibonacci(swings, currentPrice) {\n  if (swings.length < 2 || currentPrice == null || currentPrice <= 0) return null;\n  let lastHigh = null, lastLow = null;\n  for (let i = swings.length - 1; i >= 0; i--) {\n    if (swings[i].type === 'H' && !lastHigh && swings[i].price != null) lastHigh = swings[i];\n    if (swings[i].type === 'L' && !lastLow && swings[i].price != null) lastLow = swings[i];\n    if (lastHigh && lastLow) break;\n  }\n  if (!lastHigh || !lastLow) return null;\n  const high = lastHigh.price, low = lastLow.price;\n  const range = high - low;\n  if (range <= 0) return null;\n  const isUpSwing = lastLow.idx < lastHigh.idx;\n  const retRatios = [0.236, 0.382, 0.5, 0.618, 0.705, 0.786];\n  const extRatios = [1.272, 1.618, 2.618];\n  const retracements = retRatios.map(r => +(isUpSwing ? high - range * r : low + range * r).toFixed(2));\n  const extensions = extRatios.map(r => +(isUpSwing ? low + range * r : high - range * r).toFixed(2));\n  const allLevels = [...retracements, ...extensions];\n  let nearest = null, minDist = Infinity;\n  for (const lvl of allLevels) {\n    const dist = Math.abs(currentPrice - lvl);\n    if (dist < minDist) { minDist = dist; nearest = lvl; }\n  }\n  return {\n    swingHigh: +high.toFixed(2), swingLow: +low.toFixed(2),\n    retracements, extensions,\n    nearest: nearest ? +nearest.toFixed(2) : null,\n    nearestDist: nearest ? +(minDist / currentPrice * 100).toFixed(2) : null\n  };\n}\n\n// ═══════════════════════════════════════\n\nfunction calcEGXFibStrategy(swings, currentPrice) {\n  if (swings.length < 2 || currentPrice == null || currentPrice <= 0) return null;\n  let lastHigh = null, lastLow = null;\n  for (let i = swings.length - 1; i >= 0; i--) {\n    if (swings[i].type === 'H' && !lastHigh && swings[i].price != null) lastHigh = swings[i];\n    if (swings[i].type === 'L' && !lastLow && swings[i].price != null) lastLow = swings[i];\n    if (lastHigh && lastLow) break;\n  }\n  if (!lastHigh || !lastLow) return null;\n  const high = lastHigh.price, low = lastLow.price;\n  const range = high - low;\n  if (range <= 0) return null;\n  const isUpSwing = lastLow.idx < lastHigh.idx;\n  const tol = 0.03;\n  // EGX correction typically completes at ~71%\n  const correctionLevel = isUpSwing ? high - range * 0.705 : low + range * 0.705;\n  // EGX targets at ~160% and ~260%\n  const target1 = isUpSwing ? low + range * 1.618 : high - range * 1.618;\n  const target2 = isUpSwing ? low + range * 2.618 : high - range * 2.618;\n  const retPct = isUpSwing\n    ? (high - currentPrice) / range\n    : (currentPrice - low) / range;\n  const extPct = isUpSwing\n    ? (currentPrice - low) / range\n    : (high - currentPrice) / range;\n  const nearCorrection = Math.abs(retPct - 0.705) < tol;\n  const nearTarget1 = Math.abs(extPct - 1.618) < tol;\n  const nearTarget2 = Math.abs(extPct - 2.618) < tol;\n  const signals = [];\n  if (nearCorrection) signals.push('correction_complete_70.5pct');\n  if (nearTarget1) signals.push('target_hit_161.8pct');\n  if (nearTarget2) signals.push('target_hit_261.8pct');\n  if (retPct > 0.705 + tol) signals.push('overcorrected');\n  if (retPct > 0 && retPct < 0.705 - tol) signals.push('correction_in_progress');\n  return {\n    isUpSwing,\n    correctionLevel: +correctionLevel.toFixed(2),\n    target1: +target1.toFixed(2),\n    target2: +target2.toFixed(2),\n    retracementPct: +(retPct * 100).toFixed(1),\n    extensionPct: +(extPct * 100).toFixed(1),\n    signals,\n    nearCorrection,\n    nearTarget: nearTarget1 || nearTarget2\n  };\n}\n\n// VOLUME ANALYSIS (enhanced)\n// ═══════════════════════════════════════\n\nfunction calcOBV(closes, volumes) {\n  if (closes.length < 10) return { trend: 'neutral', divergence: 'none' };\n  let obv = 0;\n  const obvArr = [0];\n  for (let i = 1; i < closes.length; i++) {\n    if (closes[i] > closes[i - 1]) obv += volumes[i];\n    else if (closes[i] < closes[i - 1]) obv -= volumes[i];\n    obvArr.push(obv);\n  }\n  const lb = Math.min(10, obvArr.length - 1);\n  const obvStart = obvArr[obvArr.length - 1 - lb];\n  const obvEnd = obvArr[obvArr.length - 1];\n  const obvTrend = obvEnd > obvStart * 1.05 ? 'rising' : obvEnd < obvStart * 0.95 ? 'falling' : 'flat';\n  const priceStart = closes[closes.length - 1 - lb];\n  const priceEnd = closes[closes.length - 1];\n  const priceUp = priceEnd > priceStart;\n  const obvUp = obvTrend === 'rising';\n  let divergence = 'none';\n  if (priceUp && !obvUp) divergence = 'bearish_divergence';\n  else if (!priceUp && obvUp) divergence = 'bullish_divergence';\n  return { trend: obvTrend, divergence };\n}\n\nfunction calcADLine(highs, lows, closes, volumes) {\n  if (closes.length < 10) return { trend: 'neutral' };\n  let ad = 0, adPrev = 0;\n  const startPrev = Math.max(0, closes.length - 11);\n  for (let i = 0; i < closes.length; i++) {\n    const range = highs[i] - lows[i];\n    if (range > 0) {\n      const mfm = ((closes[i] - lows[i]) - (highs[i] - closes[i])) / range;\n      ad += mfm * volumes[i];\n      if (i >= startPrev && i < closes.length - 1) adPrev += mfm * volumes[i];\n    }\n  }\n  return { trend: ad > adPrev * 1.05 ? 'accumulation' : ad < adPrev * 0.95 ? 'distribution' : 'neutral' };\n}\n\nfunction detectVolumeSpikes(volumes) {\n  if (volumes.length < 21) return { hasSpike: false, ratio: 1 };\n  const recent = volumes.slice(-21, -1);\n  const avg = recent.reduce((a, b) => a + b, 0) / recent.length;\n  const lastVol = volumes[volumes.length - 1];\n  const ratio = avg > 0 ? +(lastVol / avg).toFixed(2) : 1;\n  return { hasSpike: ratio > 2, ratio };\n}\n\nfunction volumeAnalysis(highs, lows, closes, volumes) {\n  const obv = calcOBV(closes, volumes);\n  const ad = calcADLine(highs, lows, closes, volumes);\n  const spikes = detectVolumeSpikes(volumes);\n  const mfi = calcMFI(highs, lows, closes, volumes);\n  const cmf = calcCMF(highs, lows, closes, volumes);\n  let smConfidence = 0;\n  if (obv.divergence === 'bullish_divergence') smConfidence += 2;\n  else if (obv.divergence === 'bearish_divergence') smConfidence -= 2;\n  if (ad.trend === 'accumulation') smConfidence += 1;\n  else if (ad.trend === 'distribution') smConfidence -= 1;\n  if (mfi.signal === 'oversold') smConfidence += 2;\n  else if (mfi.signal === 'overbought') smConfidence -= 2;\n  if (cmf.signal === 'accumulation') smConfidence += 2;\n  else if (cmf.signal === 'distribution') smConfidence -= 2;\n  if (spikes.hasSpike) {\n    if (smConfidence > 0) smConfidence += 1;\n    else if (smConfidence < 0) smConfidence -= 1;\n  }\n  let smartMoney = 'neutral';\n  if (smConfidence >= 4) smartMoney = 'strong_accumulation';\n  else if (smConfidence >= 2) smartMoney = 'accumulation';\n  else if (smConfidence <= -4) smartMoney = 'strong_distribution';\n  else if (smConfidence <= -2) smartMoney = 'distribution';\n  else if (spikes.hasSpike) smartMoney = 'high_activity';\n  return {\n    obv: obv.trend, obvDivergence: obv.divergence, adLine: ad.trend,\n    volumeSpike: spikes.hasSpike, volumeRatio: spikes.ratio,\n    mfi: mfi.value, mfiSignal: mfi.signal, cmf: cmf.value, cmfSignal: cmf.signal,\n    smartMoney, smConfidence\n  };\n}\n\n// ═══════════════════════════════════════\n// PATTERN DETECTION + LEGACY S/R\n// ═══════════════════════════════════════\n\nfunction detectPatterns(swings) {\n  if (swings.length < 4) return { structure: 'unknown', patterns: [] };\n  const patterns = [];\n  const recentHighs = swings.filter(s => s.type === 'H').slice(-4).map(s => s.price);\n  const recentLows = swings.filter(s => s.type === 'L').slice(-4).map(s => s.price);\n  let structure = 'unknown';\n  if (recentHighs.length >= 2 && recentLows.length >= 2) {\n    const hh = recentHighs[recentHighs.length - 1] > recentHighs[recentHighs.length - 2];\n    const hl = recentLows[recentLows.length - 1] > recentLows[recentLows.length - 2];\n    const lh = recentHighs[recentHighs.length - 1] < recentHighs[recentHighs.length - 2];\n    const ll = recentLows[recentLows.length - 1] < recentLows[recentLows.length - 2];\n    if (hh && hl) structure = 'uptrend (HH/HL)';\n    else if (lh && ll) structure = 'downtrend (LH/LL)';\n    else if (hh && ll) structure = 'expanding';\n    else if (lh && hl) structure = 'contracting';\n    else structure = 'ranging';\n  }\n  if (recentLows.length >= 2) {\n    const l = recentLows.slice(-2);\n    if (Math.abs(l[0] - l[1]) / l[0] < 0.02) patterns.push('Double Bottom');\n  }\n  if (recentHighs.length >= 2) {\n    const h = recentHighs.slice(-2);\n    if (Math.abs(h[0] - h[1]) / h[0] < 0.02) patterns.push('Double Top');\n  }\n  if (recentHighs.length >= 3) {\n    const h = recentHighs.slice(-3);\n    if (Math.abs(h[0] - h[2]) / h[0] < 0.02 && h[1] > h[0] && h[1] > h[2]) patterns.push('Head & Shoulders');\n  }\n  if (recentLows.length >= 3) {\n    const l = recentLows.slice(-3);\n    if (Math.abs(l[0] - l[2]) / l[0] < 0.02 && l[1] < l[0] && l[1] < l[2]) patterns.push('Inv Head & Shoulders');\n  }\n  return { structure, patterns };\n}\n\nfunction calcLegacySR(H, L, C) {\n  const raw = [];\n  for (let i = 2; i < C.length - 2; i++) {\n    if (H[i] > H[i-1] && H[i] > H[i-2] && H[i] > H[i+1] && H[i] > H[i+2]) raw.push({ price: H[i], type: 'R' });\n    if (L[i] < L[i-1] && L[i] < L[i-2] && L[i] < L[i+1] && L[i] < L[i+2]) raw.push({ price: L[i], type: 'S' });\n  }\n  const used = new Set(), cl = [];\n  for (let i = 0; i < raw.length; i++) {\n    if (used.has(i)) continue;\n    let sum = raw[i].price, cnt = 1;\n    for (let j = i + 1; j < raw.length; j++)\n      if (!used.has(j) && Math.abs(raw[j].price - raw[i].price) / raw[i].price < 0.02) {\n        sum += raw[j].price; cnt++; used.add(j);\n      }\n    used.add(i);\n    cl.push({ p: +(sum / cnt).toFixed(2), s: cnt });\n  }\n  cl.sort((a, b) => b.s - a.s);\n  const price = C[C.length - 1];\n  return {\n    supports: cl.filter(x => x.p < price).sort((a, b) => b.p - a.p).slice(0, 3).map(x => x.p),\n    resistances: cl.filter(x => x.p >= price).sort((a, b) => a.p - b.p).slice(0, 3).map(x => x.p)\n  };\n}\n\nfunction mergeSR(legacy, fib, price) {\n  const supports = [...(legacy?.supports || [])];\n  const resistances = [...(legacy?.resistances || [])];\n  if (fib) {\n    for (const lvl of fib.retracements) {\n      if (lvl < price && !supports.find(s => Math.abs(s - lvl) / price < 0.01)) supports.push(lvl);\n      else if (lvl >= price && !resistances.find(r => Math.abs(r - lvl) / price < 0.01)) resistances.push(lvl);\n    }\n    for (const lvl of fib.extensions) {\n      if (lvl >= price && !resistances.find(r => Math.abs(r - lvl) / price < 0.01)) resistances.push(lvl);\n    }\n  }\n  supports.sort((a, b) => b - a);\n  resistances.sort((a, b) => a - b);\n  return { supports: supports.slice(0, 5), resistances: resistances.slice(0, 5) };\n}\n\n// ═══════════════════════════════════════\n// COMPUTE ONE TIMEFRAME (all indicators)\n// ═══════════════════════════════════════\n\nfunction computeTF(ohlcv, tfId) {\n  const { opens, highs, lows, closes, volumes } = ohlcv;\n  if (closes.length < 20) return null;\n  const n = closes.length;\n  let price = closes[n - 1];\n  if (price == null || price <= 0) {\n    for (let i = n - 2; i >= 0; i--) { if (closes[i] != null && closes[i] > 0) { price = closes[i]; break; } }\n  }\n  if (price == null || price <= 0) return null;\n\n  const e9 = calcEMA(closes, 9), e21 = calcEMA(closes, 21);\n  const e50 = calcEMA(closes, Math.min(50, closes.length));\n  const ema9 = +e9[n-1].toFixed(4), ema21 = +e21[n-1].toFixed(4), ema50 = +e50[n-1].toFixed(4);\n  const align = ema9 > ema21 && ema21 > ema50 ? 'bullish' : ema9 < ema21 && ema21 < ema50 ? 'bearish' : 'mixed';\n\n  const rsi = calcRSI(closes, 14);\n  const rsiShort = calcRSIShort(closes);\n  const macd = calcMACD(closes);\n  const macdEgx = calcMACDEGX(closes);\n  const atr = calcATR(highs, lows, closes, 14);\n  const ichimoku = calcIchimoku(highs, lows, closes);\n  const adx = calcADX(highs, lows, closes);\n  const bollinger = calcBollinger(closes);\n  const stochastic = calcStochastic(highs, lows, closes);\n\n  // NEW indicators\n  const vwap = calcVWAP(highs, lows, closes, volumes);\n  const superTrend = calcSuperTrend(highs, lows, closes);\n  const pivotPoints = calcPivotPoints(highs, lows, closes);\n  const williamsR = calcWilliamsR(highs, lows, closes);\n  const psar = calcParabolicSAR(highs, lows, closes);\n  const cci = calcCCI(highs, lows, closes);\n  const roc = calcROC(closes);\n  const heikinAshi = calcHeikinAshi(opens, highs, lows, closes);\n  const volumeProfile = calcVolumeProfile(closes, volumes);\n  const linReg = calcLinearRegression(closes);\n\n  // Zigzag + Elliott + Fibonacci\n  const zzThreshold = ZZ_THRESHOLDS[tfId] || 0.03;\n  const swings = zigzag(highs, lows, zzThreshold);\n  const elliott = detectElliott(swings);\n  const fib = calcFibonacci(swings, price);\n  const egxFibStrategy = calcEGXFibStrategy(swings, price);\n  const legacySR = calcLegacySR(highs, lows, closes);\n  const mergedSR = mergeSR(legacySR, fib, price);\n  const vol = volumeAnalysis(highs, lows, closes, volumes);\n  const pats = detectPatterns(swings);\n\n  return {\n    price, ema9, ema21, ema50, emaAlign: align,\n    rsi, rsiShort, macd, macdEgx, atr,\n    ichimoku, adx, bollinger, stochastic,\n    vwap, superTrend, pivotPoints, williamsR, psar, cci, roc, heikinAshi, volumeProfile, linReg,\n    sr: mergedSR, elliott, fib, egxFibStrategy, volume: vol, patterns: pats\n  };\n}\n\n// ═══════════════════════════════════════\n// CROSS-TF WAVE ALIGNMENT\n// ═══════════════════════════════════════\n\nfunction waveAlignment(tfs) {\n  const waves = {};\n  for (const [tf, data] of Object.entries(tfs)) {\n    if (data?.elliott) waves[tf] = data.elliott;\n  }\n  const entries = Object.entries(waves);\n  if (entries.length < 2) return { aligned: false, signal: 'insufficient_data', detail: '' };\n  const directions = entries.map(([_, w]) => w.direction);\n  const allUp = directions.every(d => d === 'up');\n  const allDown = directions.every(d => d === 'down');\n  const higherTF = waves['1W'] || waves['4H'];\n  const lowerTF = waves['1H'] || waves['15m'];\n  let signal = 'neutral';\n  let detail = entries.map(([tf, w]) => tf + ':' + w.label).join(' | ');\n  if (allUp) {\n    signal = higherTF && higherTF.phase === 'impulse' && higherTF.position === 3\n           ? 'strong_bullish_alignment' : 'bullish_alignment';\n  } else if (allDown) {\n    signal = higherTF && higherTF.phase === 'impulse' && higherTF.position === 3\n           ? 'strong_bearish_alignment' : 'bearish_alignment';\n  } else if (higherTF && lowerTF) {\n    if (higherTF.direction === 'up' && lowerTF.phase === 'corrective') signal = 'pullback_in_uptrend';\n    else if (higherTF.direction === 'down' && lowerTF.phase === 'corrective') signal = 'bounce_in_downtrend';\n    else signal = 'divergent';\n  }\n  return { aligned: allUp || allDown, signal, detail };\n}\n\n// ═══════════════════════════════════════\n// ENHANCED MTF CONFLUENCE (all indicators)\n// ═══════════════════════════════════════\n\nfunction confluence(tfs, waveAlign) {\n  let bull = 0, bear = 0, total = 0;\n  for (const [tf, data] of Object.entries(tfs)) {\n    if (!data) continue;\n    const w = TF_WEIGHTS[tf] || 1;\n    total += w;\n    if (data.emaAlign === 'bullish') bull += w * 0.07; else if (data.emaAlign === 'bearish') bear += w * 0.07;\n    if (data.rsi?.value > 55) bull += w * 0.02; else if (data.rsi?.value < 45) bear += w * 0.02;\n    if (data.rsiShort?.signal === 'oversold') bull += w * 0.03; else if (data.rsiShort?.signal === 'overbought') bear += w * 0.03;\n    if (data.macdEgx) {\n      if (data.macdEgx.histogram > 0 && data.macdEgx.histSlope > 0) bull += w * 0.04;\n      else if (data.macdEgx.histogram < 0 && data.macdEgx.histSlope < 0) bear += w * 0.04;\n      if (data.macdEgx.crossover === 'bullish') bull += w * 0.02; else if (data.macdEgx.crossover === 'bearish') bear += w * 0.02;\n    }\n    if (data.ichimoku) {\n      if (data.ichimoku.cloud === 'above_cloud') bull += w * 0.04; else if (data.ichimoku.cloud === 'below_cloud') bear += w * 0.04;\n      if (data.ichimoku.tkCross === 'bullish') bull += w * 0.02; else if (data.ichimoku.tkCross === 'bearish') bear += w * 0.02;\n    }\n    if (data.adx) {\n      if (data.adx.signal === 'strong_uptrend') bull += w * 0.05; else if (data.adx.signal === 'strong_downtrend') bear += w * 0.05;\n    }\n    if (data.bollinger) {\n      if (data.bollinger.signal === 'below_lower') bull += w * 0.03; else if (data.bollinger.signal === 'above_upper') bear += w * 0.03;\n    }\n    if (data.stochastic) {\n      if (data.stochastic.signal === 'oversold') bull += w * 0.06; else if (data.stochastic.signal === 'overbought') bear += w * 0.06;\n      if (data.stochastic.crossover === 'bullish') bull += w * 0.04; else if (data.stochastic.crossover === 'bearish') bear += w * 0.04;\n    }\n    // EGX Fibonacci Strategy scoring\n    if (data.egxFibStrategy) {\n      const efib = data.egxFibStrategy;\n      if (efib.nearCorrection) bull += w * 0.06;\n      if (efib.nearTarget) bear += w * 0.04;\n      if (efib.signals.includes('overcorrected')) bear += w * 0.03;\n      if (efib.signals.includes('correction_in_progress')) bear += w * 0.01;\n    }\n    // NEW indicator contributions\n    if (data.superTrend) {\n      if (data.superTrend.trend === 'bullish') bull += w * 0.04; else bear += w * 0.04;\n    }\n    if (data.vwap) {\n      if (data.vwap.position === 'above' || data.vwap.position === 'above_upper') bull += w * 0.03;\n      else if (data.vwap.position === 'below' || data.vwap.position === 'below_lower') bear += w * 0.03;\n    }\n    if (data.psar) {\n      if (data.psar.trend === 'bullish') bull += w * 0.03; else bear += w * 0.03;\n    }\n    if (data.heikinAshi) {\n      if (data.heikinAshi.strength.includes('bullish')) bull += w * 0.03;\n      else if (data.heikinAshi.strength.includes('bearish')) bear += w * 0.03;\n    }\n    if (data.cci) {\n      if (data.cci.signal === 'oversold' || data.cci.signal === 'extreme_oversold') bull += w * 0.02;\n      else if (data.cci.signal === 'overbought' || data.cci.signal === 'extreme_overbought') bear += w * 0.02;\n    }\n    if (data.williamsR) {\n      if (data.williamsR.signal === 'oversold') bull += w * 0.02; else if (data.williamsR.signal === 'overbought') bear += w * 0.02;\n    }\n    if (data.linReg) {\n      if (data.linReg.signal.includes('uptrend')) bull += w * 0.03; else if (data.linReg.signal.includes('downtrend')) bear += w * 0.03;\n    }\n    if (data.roc) {\n      if (data.roc.signal === 'strong_bullish') bull += w * 0.02; else if (data.roc.signal === 'strong_bearish') bear += w * 0.02;\n    }\n    if (data.volumeProfile) {\n      if (data.volumeProfile.position === 'above_va') bull += w * 0.02;\n      else if (data.volumeProfile.position === 'below_va') bear += w * 0.02;\n    }\n    // Elliott Wave\n    if (data.elliott) {\n      const ew = data.elliott;\n      if (ew.phase === 'impulse') {\n        if (ew.direction === 'up') {\n          if (ew.position === 3) bull += w * 0.08; else bull += w * 0.04;\n        } else {\n          if (ew.position === 3) bear += w * 0.08; else bear += w * 0.04;\n        }\n      } else if (ew.phase === 'corrective') {\n        if (ew.direction === 'up') bear += w * 0.04; else bull += w * 0.04;\n      }\n    }\n    // Smart Money\n    if (data.volume) {\n      if (data.volume.smartMoney === 'strong_accumulation') bull += w * 0.07;\n      else if (data.volume.smartMoney === 'accumulation') bull += w * 0.04;\n      else if (data.volume.smartMoney === 'strong_distribution') bear += w * 0.07;\n      else if (data.volume.smartMoney === 'distribution') bear += w * 0.04;\n    }\n    if (data.patterns?.structure) {\n      if (data.patterns.structure.includes('uptrend')) bull += w * 0.03; else if (data.patterns.structure.includes('downtrend')) bear += w * 0.03;\n    }\n  }\n  if (waveAlign && total > 0) {\n    const alignW = total * 0.08;\n    if (waveAlign.signal.includes('bullish')) bull += alignW;\n    else if (waveAlign.signal.includes('bearish')) bear += alignW;\n    if (waveAlign.signal.includes('strong_')) {\n      if (waveAlign.signal.includes('bullish')) bull += alignW * 0.5;\n      else bear += alignW * 0.5;\n    }\n  }\n  if (total === 0) return { score: 0, bias: 'neutral', strength: 'NONE' };\n  const net = +((bull - bear) / total * 100).toFixed(1);\n  return {\n    score: net, bullScore: +bull.toFixed(2), bearScore: +bear.toFixed(2),\n    bias: net > 15 ? 'bullish' : net < -15 ? 'bearish' : 'neutral',\n    strength: Math.abs(net) > 50 ? 'STRONG' : Math.abs(net) > 25 ? 'MODERATE' : 'WEAK'\n  };\n}\n\n// ═══ MAIN ═══\nconst results = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  if (d._fetchLog) { results.push(item); continue; }\n  if (d.error && Object.keys(d.mtf || {}).length === 0) { results.push(item); continue; }\n  const taResults = {};\n  for (const tf of TF_HIERARCHY) {\n    if (d.mtf?.[tf]) {\n      const ta = computeTF(d.mtf[tf], tf);\n      if (ta) taResults[tf] = ta;\n    }\n  }\n  const waveAlign = waveAlignment(taResults);\n  const conf = confluence(taResults, waveAlign);\n  results.push({ json: {\n    stock: d.stock, fullName: d.fullName, runDate: d.runDate,\n    currentPrice: d.currentPrice, error: d.error,\n    ta: taResults, confluence: conf,\n    waveAlignment: waveAlign,\n    availableTFs: Object.keys(taResults), shares: d.shares || 0, avgCost: d.avgCost || 0\n  } });\n}\nreturn results;\n"
      },
      "id": "97aa94a6-eae4-47a6-b789-f0c9a1048efc",
      "name": "Deep TA Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst httpReq = this.helpers.httpRequest;\nconst results = [];\n\nconst AR_MONTHS = {\n  '\\u064A\\u0646\\u0627\\u064A\\u0631': 0, '\\u0641\\u0628\\u0631\\u0627\\u064A\\u0631': 1, '\\u0645\\u0627\\u0631\\u0633': 2, '\\u0623\\u0628\\u0631\\u064A\\u0644': 3,\n  '\\u0645\\u0627\\u064A\\u0648': 4, '\\u064A\\u0648\\u0646\\u064A\\u0648': 5, '\\u064A\\u0648\\u0644\\u064A\\u0648': 6, '\\u0623\\u063A\\u0633\\u0637\\u0633': 7,\n  '\\u0633\\u0628\\u062A\\u0645\\u0628\\u0631': 8, '\\u0623\\u0643\\u062A\\u0648\\u0628\\u0631': 9, '\\u0646\\u0648\\u0641\\u0645\\u0628\\u0631': 10, '\\u062F\\u064A\\u0633\\u0645\\u0628\\u0631': 11\n};\n\nfunction parseArabicDate(str) {\n  if (!str) return null;\n  const m = str.trim().match(/^(\\d{1,2})\\s+(\\S+?)(?:\\s+(\\d{4}))?\\s+\\d/);\n  if (!m) return null;\n  const month = AR_MONTHS[m[2]];\n  if (month === undefined) return null;\n  const year = m[3] ? parseInt(m[3]) : new Date().getFullYear();\n  return new Date(year, month, parseInt(m[1]));\n}\n\nfunction stripHtml(s) {\n  return (s || '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#\\d+;/g, ' ')\n    .replace(/\\s+/g, ' ').trim();\n}\n\nfunction parseNewsList(html) {\n  const items = [];\n  const pat = /mi-article-media-block__date[^>]*>([\\s\\S]*?)<\\/span>[\\s\\S]{1,300}?mi-article-media-block__title[^>]*href=\"(\\/news\\/(\\d+)\\/[^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/g;\n  let m;\n  while ((m = pat.exec(html)) !== null) {\n    items.push({ dateStr: m[1].trim(), url: m[2], id: m[3], title: stripHtml(m[4]).trim(), dt: parseArabicDate(m[1].trim()) });\n  }\n  return items;\n}\n\nfunction extractArticleContent(html) {\n  const idx = html.indexOf('article__content-text');\n  if (idx === -1) return '';\n  const section = html.substring(idx, idx + 12000);\n  const parts = [];\n  const pPat = /<p[^>]*>([\\s\\S]*?)<\\/p>/g;\n  let pm;\n  while ((pm = pPat.exec(section)) !== null) {\n    const text = stripHtml(pm[1]);\n    if (text.length > 5) parts.push(text);\n  }\n  return parts.join('\\n').substring(0, 1500);\n}\n\nconst LIST_HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36',\n  'Accept': 'text/html,application/xhtml+xml',\n  'Accept-Language': 'ar-EG,ar;q=0.9,en;q=0.5',\n  'Referer': 'https://www.mubasher.info/'\n};\n\nfor (const item of $input.all()) {\n  const out = { ...item.json, news: [] };\n  if (out._fetchLog || (out.error && !out.ta)) { results.push({ json: out }); continue; }\n\n  try {\n    const stockLower = (out.stock || '').toLowerCase();\n    const listUrl = 'https://www.mubasher.info/markets/EGX/stocks/' + stockLower + '/news';\n\n    const listResp = await httpReq({\n      method: 'GET', url: listUrl,\n      headers: LIST_HEADERS,\n      returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 15000\n    });\n\n    if (listResp.statusCode === 200) {\n      const html = typeof listResp.body === 'string' ? listResp.body : '';\n      const allNews = parseNewsList(html);\n      const twoWeeksAgo = new Date(Date.now() - 14 * 24 * 60 * 60 * 1000);\n      const recent = allNews.filter(n => n.dt && n.dt >= twoWeeksAgo).slice(0, 10);\n\n      for (const n of recent) {\n        await sleep(400);\n        let content = '';\n        try {\n          const articleUrl = 'https://www.mubasher.info/news/' + n.id;\n          const artResp = await httpReq({\n            method: 'GET', url: articleUrl,\n            headers: { ...LIST_HEADERS, Referer: listUrl },\n            returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 12000\n          });\n          if (artResp.statusCode === 200) {\n            const artHtml = typeof artResp.body === 'string' ? artResp.body : '';\n            content = extractArticleContent(artHtml);\n          }\n        } catch (artErr) { /* use title as fallback */ }\n\n        out.news.push({\n          title: n.title.substring(0, 300),\n          content: content || n.title,\n          date: n.dateStr,\n          url: 'https://www.mubasher.info' + n.url\n        });\n      }\n    }\n  } catch (e) {\n    out.news_error = e.message;\n  }\n\n  results.push({ json: out });\n}\n\nreturn results;\n"
      },
      "id": "23289fd1-5ca5-4c3b-86fb-92ec8ba58efc",
      "name": "Fetch News (Mubasher - Extended)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*\n * COMPRESS DATA FOR AI — Enhanced Single Stock\n * Includes all new indicators for deep analysis.\n */\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst TF_ORDER = ['1W', '4H', '1H', '15m'];\nconst TF_SHORT = { '1W': 'W', '4H': '4H', '1H': '1H', '15m': '15m' };\n\nfunction compressTF(ta) {\n  if (!ta) return null;\n  const c = {\n    price: ta.price,\n    ema: ta.emaAlign, ema9: ta.ema9, ema21: ta.ema21, ema50: ta.ema50,\n    rsi: ta.rsi?.value, rsiPrev: ta.rsi?.prev, rsiSlp: ta.rsi?.slope\n  };\n  if (ta.rsiShort) { c.rsi3 = ta.rsiShort.value; c.rsi3Sig = ta.rsiShort.signal; }\n  if (ta.macd) { c.mH = ta.macd.histogram; c.mHS = ta.macd.histSlope; c.mX = ta.macd.crossover; }\n  if (ta.macdEgx) { c.mEgxH = ta.macdEgx.histogram; c.mEgxHS = ta.macdEgx.histSlope; c.mEgxX = ta.macdEgx.crossover; }\n  c.atr = ta.atr;\n  if (ta.ichimoku) { c.ichi = { cloud: ta.ichimoku.cloud, tk: ta.ichimoku.tkCross, tenkan: ta.ichimoku.tenkan, kijun: ta.ichimoku.kijun }; }\n  if (ta.adx) { c.adx = { v: ta.adx.adx, pdi: ta.adx.pdi, mdi: ta.adx.mdi, sig: ta.adx.signal }; }\n  if (ta.bollinger) { c.bb = { u: ta.bollinger.upper, l: ta.bollinger.lower, w: ta.bollinger.width, pB: ta.bollinger.pctB, sig: ta.bollinger.signal }; }\n  if (ta.stochastic) { c.stoch = { k: ta.stochastic.k, d: ta.stochastic.d, sig: ta.stochastic.signal, x: ta.stochastic.crossover }; }\n  // NEW indicators\n  if (ta.vwap) { c.vwap = { v: ta.vwap.value, u1: ta.vwap.upper1, l1: ta.vwap.lower1, u2: ta.vwap.upper2, l2: ta.vwap.lower2, pos: ta.vwap.position }; }\n  if (ta.superTrend) { c.st = { v: ta.superTrend.value, t: ta.superTrend.trend, d: ta.superTrend.distance }; }\n  if (ta.pivotPoints) {\n    c.pivot = { pp: ta.pivotPoints.pp, pos: ta.pivotPoints.position,\n      std: { r1: ta.pivotPoints.standard.r1, s1: ta.pivotPoints.standard.s1, r2: ta.pivotPoints.standard.r2, s2: ta.pivotPoints.standard.s2 },\n      fib: { r1: ta.pivotPoints.fibonacci.r1, s1: ta.pivotPoints.fibonacci.s1, r2: ta.pivotPoints.fibonacci.r2, s2: ta.pivotPoints.fibonacci.s2 },\n      cam: { r3: ta.pivotPoints.camarilla.r3, s3: ta.pivotPoints.camarilla.s3, r4: ta.pivotPoints.camarilla.r4, s4: ta.pivotPoints.camarilla.s4 }\n    };\n  }\n  if (ta.williamsR) { c.wr = { v: ta.williamsR.value, sig: ta.williamsR.signal }; }\n  if (ta.psar) { c.psar = { v: ta.psar.value, t: ta.psar.trend, d: ta.psar.distance }; }\n  if (ta.cci) { c.cci = { v: ta.cci.value, sig: ta.cci.signal }; }\n  if (ta.roc) { c.roc = { v: ta.roc.value, sig: ta.roc.signal }; }\n  if (ta.heikinAshi) { c.ha = { c: ta.heikinAshi.color, str: ta.heikinAshi.streak, s: ta.heikinAshi.strength, doji: ta.heikinAshi.doji }; }\n  if (ta.volumeProfile) { c.vp = { poc: ta.volumeProfile.poc, vah: ta.volumeProfile.vah, val: ta.volumeProfile.val, pos: ta.volumeProfile.position }; }\n  if (ta.linReg) { c.lr = { slp: ta.linReg.slopePct, r2: ta.linReg.r2, u: ta.linReg.upper, l: ta.linReg.lower, c: ta.linReg.center, sig: ta.linReg.signal }; }\n  // S/R, Elliott, Fibonacci\n  if (ta.sr?.supports?.length) c.sup = ta.sr.supports;\n  if (ta.sr?.resistances?.length) c.res = ta.sr.resistances;\n  if (ta.elliott && ta.elliott.label !== 'N/A') {\n    c.ew = { l: ta.elliott.label, p: ta.elliott.phase, q: ta.elliott.quality, d: ta.elliott.direction };\n    if (ta.elliott.subWave) c.ew.sub = ta.elliott.subWave;\n  }\n  if (ta.fib) { c.fib = { sh: ta.fib.swingHigh, sl: ta.fib.swingLow, ret: ta.fib.retracements, ext: ta.fib.extensions, nr: ta.fib.nearest, nd: ta.fib.nearestDist }; }\n  if (ta.egxFibStrategy) { c.egxFib = { up: ta.egxFibStrategy.isUpSwing, corr: ta.egxFibStrategy.correctionLevel, t1: ta.egxFibStrategy.target1, t2: ta.egxFibStrategy.target2, retPct: ta.egxFibStrategy.retracementPct, extPct: ta.egxFibStrategy.extensionPct, sigs: ta.egxFibStrategy.signals, nearCorr: ta.egxFibStrategy.nearCorrection, nearTgt: ta.egxFibStrategy.nearTarget }; }\n  // Volume / Smart Money\n  if (ta.volume) {\n    c.vol = {\n      sm: ta.volume.smartMoney, smc: ta.volume.smConfidence,\n      obv: ta.volume.obv, div: ta.volume.obvDivergence, ad: ta.volume.adLine,\n      mfi: ta.volume.mfi, mfiSig: ta.volume.mfiSignal, cmf: ta.volume.cmf, cmfSig: ta.volume.cmfSignal,\n      spike: ta.volume.volumeSpike, vr: ta.volume.volumeRatio\n    };\n  }\n  if (ta.patterns) { c.pat = { st: ta.patterns.structure, p: ta.patterns.patterns }; }\n  return c;\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  if (d._fetchLog) { results.push({ json: d }); continue; }\n  const compressed = {\n    stock: d.stock, fullName: d.fullName,\n    currentPrice: d.currentPrice, error: d.error || null,\n    confluence: d.confluence, waveAlignment: d.waveAlignment || null,\n    tfs: (d.availableTFs || []).map(t => TF_SHORT[t] || t),\n    tf: {},\n    news: (d.news || []).slice(0, 10),\n    news_error: d.news_error || null\n  };\n  for (const tf of TF_ORDER) {\n    if (d.ta?.[tf]) {\n      const c = compressTF(d.ta[tf]);\n      if (c) compressed.tf[TF_SHORT[tf] || tf] = c;\n    }\n  }\n  if (d.shares > 0 && d.avgCost > 0) {\n    const cp = d.currentPrice || 0;\n    compressed.position = { shares: d.shares, avgCost: d.avgCost, posValue: +(cp * d.shares).toFixed(2), cost: +(d.avgCost * d.shares).toFixed(2), upnl: +((cp - d.avgCost) * d.shares).toFixed(2), upnlPct: +(((cp - d.avgCost) / d.avgCost) * 100).toFixed(2), breakEven: d.avgCost };\n  }\n  const regimeTF = compressed.tf['4H'] || compressed.tf['1H'] || compressed.tf['W'] || null;\n  if (regimeTF && regimeTF.adx) {\n    const adxV = regimeTF.adx.v, pdi = regimeTF.adx.pdi, mdi = regimeTF.adx.mdi;\n    compressed.regime = adxV > 25 ? (pdi > mdi ? 'trending_up' : 'trending_down') : (adxV < 18 ? 'ranging' : 'weak_trend');\n    compressed.squeeze = !!(regimeTF.bb && regimeTF.bb.w > 0 && regimeTF.bb.w < 0.025);\n  }\n  let rsiBull = 0, rsiBear = 0;\n  for (const tfD of Object.values(compressed.tf)) {\n    if (tfD.rsi != null) { if (tfD.rsi < 35) rsiBull++; else if (tfD.rsi > 65) rsiBear++; }\n  }\n  compressed.rsiConsensus = (rsiBull > 0 || rsiBear > 0) ? (rsiBull >= rsiBear ? 'multi_oversold_' + rsiBull : 'multi_overbought_' + rsiBear) : 'neutral';\n  results.push({ json: compressed });\n}\nreturn results;\n"
      },
      "id": "9bfa779f-9eb8-419c-a68e-f172a4fb43fc",
      "name": "Compress for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "\nif ($input.all()[0]?.json?._skip) return [{ json: { _skip: true, reason: 'EGX closed' } }];\n\nconst httpReq = this.helpers.httpRequest;\n\nconst ZAI_API_KEY  = 'KEY';\nconst ZAI_ENDPOINT = 'https://open.bigmodel.cn/api/paas/v4/chat/completions';\nconst HTTP_TIMEOUT = 240000;\n\nconst SYSTEM_PROMPT = `You are an elite senior Technical Analyst specializing EXCLUSIVELY in the Egyptian Exchange (EGX).\nYou are performing a DEEP, COMPREHENSIVE analysis of a SINGLE held stock. This is a detailed portfolio review — leave no stone unturned.\n\n=== EGX MARKET CONTEXT ===\n- EGX annualized volatility: ~29.75% (nearly 2x MSCI EM)\n- Average annual return: ~19% with extreme variance (2005: +146%, 2008: -56%, 2023: >70%)\n- Peak cycles: ~26 months, trough cycles: ~18 months\n- CBE interest rate (currently ~20%, easing from 27.25% peak) — rate cuts are bullish for equities\n- EGX is a \"macro-first\" market: CBE rates > EGP stability > inflation > political stability\n- Egypt 5-day trading week (Sun-Thu), hours 10:00-14:00 Cairo (EET)\n\n=== DATA QUALITY ===\nAll intraday data (15m, 1H) filtered to organic trading session (10:00-14:00 Cairo). MOC auction removed.\n4H = SYNTHESIZED from healed 1H candles = one organic trading day.\n\n=== MULTI-TIMEFRAME FRAMEWORK ===\n  W (Weekly)  -> Long-term macro trend & deep Elliott Wave (5y data)\n  4H          -> PRIMARY MACRO ANCHOR (= 1 organic EGX day, 60d data)\n  1H          -> Swing signals & sub-wave structure (60d data)\n  15m         -> Precision entry/exit timing (60d data)\n\n=== FULL INDICATOR KEY (27 indicators across all timeframes) ===\n\nCORE INDICATORS:\n- ema: EMA 9/21/50 alignment (bullish/bearish/mixed)\n- rsi: RSI-14 (standard trend filter)\n- rsi3/rsi3Sig: RSI 3-period with 85/15 thresholds — 91% win rate on EGX\n- mH/mHS/mX: MACD 12/26/9 histogram, slope, crossover\n- mEgxH/mEgxHS/mEgxX: MACD 8/17/9 (EGX-optimized, faster signals)\n- atr: Average True Range (14-period)\n\nTREND INDICATORS:\n- ichi.cloud/tk: Ichimoku 7/22/44 (5-day EGX week adapted)\n- adx.v/pdi/mdi/sig: ADX 14-period trend strength (>25 = strong trend)\n- st.v/t/d: SuperTrend (10/3) — trend following with dynamic S/R\n- psar.v/t/d: Parabolic SAR — trend direction + trailing stop\n- lr.slp/r2/sig: Linear Regression Channel (20) — trend slope + R-squared fit quality\n- ha.c/str/s: Heikin-Ashi candle analysis — smoothed trend with streak counting\n\nMOMENTUM INDICATORS:\n- bb.u/l/w/pB/sig: Bollinger Bands 10/2.5 — squeeze detection, %B position\n- stoch.k/d/sig/x: Stochastic 9/3/2 — quick oversold/overbought with crossovers\n- wr.v/sig: Williams %R (14) — momentum extremes (-80 oversold / -20 overbought)\n- cci.v/sig: CCI (20) — momentum divergence, >+200 extreme OB, <-200 extreme OS\n- roc.v/sig: Rate of Change (12) — momentum direction + strength\n\nVOLUME INDICATORS:\n- vwap.v/u1/l1/u2/l2/pos: VWAP with standard deviation bands — institutional fair value\n- vp.poc/vah/val/pos: Volume Profile — Point of Control + Value Area High/Low\n- vol.sm/smc: Smart Money composite (OBV + A/D + MFI + CMF combined)\n- vol.mfi/mfiSig: MFI (14) — volume-weighted RSI (>80 institutional OB, <20 OS)\n- vol.cmf/cmfSig: CMF (20) — Chaikin Money Flow (>0.05 accumulation, <-0.05 distribution)\n- vol.obv/div: OBV trend + divergence detection\n\nSTRUCTURE:\n- pivot.pp/std/fib/cam: Multi-type Pivot Points (Standard/Fibonacci/Camarilla)\n- sup/res: Merged S/R levels from legacy + Fibonacci\n- ew.l/p/q/d/sub: Elliott Wave with sub-wave Fibonacci ratio analysis\n- fib.sh/sl/ret/ext/nr/nd: Fibonacci retracements + extensions + nearest level\n- pat.st/p: Price structure + patterns (HH/HL, Double Top/Bottom, H&S, inv H&S)\n\nEGX FIBONACCI STRATEGY (egxFib):\n- egxFib.up: true=upswing, false=downswing\n- egxFib.retPct: current retracement percentage\n- egxFib.extPct: current extension percentage\n- egxFib.corr: price level where 71% correction completes\n- egxFib.t1/t2: 160% and 260% extension targets\n- egxFib.sigs: signals array (correction_complete_71pct, target_hit_160pct, target_hit_260pct, overcorrected, correction_in_progress)\n- egxFib.nearCorr: true if price is near 71% correction level\n- egxFib.nearTgt: true if price is near 160% or 260% target\n\n=== DEEP ANALYSIS RULES (single stock, leave nothing out) ===\n1. Analyze EVERY timeframe individually with ALL available indicators\n2. Cross-reference signals across timeframes — note confirmations AND divergences\n3. Identify the dominant trend on 4H (primary anchor) and confirm with Weekly\n4. Use 1H for swing entry windows and 15m for precision timing\n5. Check for indicator clusters (multiple indicators at same price = strong level)\n6. Specifically discuss SuperTrend vs Parabolic SAR agreement/disagreement\n7. Discuss VWAP position AND Volume Profile POC — institutional participation\n8. Check Heikin-Ashi streak for trend persistence\n9. Analyze Pivot Points for intraday targets\n10. Use Linear Regression R-squared to assess trend reliability\n11. INDICATOR PRIORITY: Stochastic > RSI and Stochastic > MACD for momentum signals. RSI and MACD are supporting, not leading\n12. EGX FIBONACCI STRATEGY: When egxFib signals 'correction_complete_71pct', treat as a STRONG buy signal (EGX corrections typically complete at ~71%). When price hits 160% or 260% extension targets, consider taking profit\n13. When Stochastic gives oversold + bullish crossover AND egxFib shows correction_complete_71pct, this is the HIGHEST confidence buy signal\n\n=== 2-WEEK PREDICTION METHODOLOGY ===\nFor the 2-week (10 trading days) prediction:\n- Use Weekly Elliott Wave position to determine macro context\n- Use 4H trend direction + ADX strength for medium-term bias\n- Apply ATR-based range estimation: 2-week range = ATR_4H * sqrt(10) * adjustment\n- Cross-reference with Fibonacci extension targets and Pivot levels\n- Factor in Volume Profile acceptance/rejection zones\n- Adjust for EGX-specific higher volatility (+30% vs standard models)\n- Consider any scheduled events from news\n\n=== NEWS ANALYSIS RULES ===\n- Analyze ALL provided Mubasher news items deeply for this stock\n- These are 2 weeks of news — assess the narrative arc and momentum\n- The 'title' field MUST be the original Arabic title\n- The 'analysis' field MUST be in Egyptian Arabic\n- If no news, focus entirely on TA\n\n=== POSITION MANAGEMENT ROLE ===\nYou are advising a HOLDER of this stock. Set 'recommendation' to:\n- ADD: Strong bullish setup — best to increase position\n- HOLD: Maintain position, risk/reward acceptable\n- TRIM: Take partial profit or reduce risk now\n- CUT: Exit position — stop hit or bearish reversal\nBase this on P&L context + TA signals combined.\n\n=== OUTPUT FORMAT ===\nRespond ONLY with valid JSON. No markdown. No code fences.\n{\n  \"stock\": \"TICKER\",\n  \"action\": \"BUY|SELL|HOLD|WATCH\",\n  \"recommendation\": \"ADD|HOLD|TRIM|CUT\",\n  \"confidence\": 0-100,\n  \"news_analysis\": [\n    {\n      \"title\": \"<original Arabic title>\",\n      \"impact\": \"positive|negative|neutral\",\n      \"analysis\": \"<3-4 sentences in Egyptian Arabic>\"\n    }\n  ],\n  \"prediction_1d\": {\"low\": 0.00, \"high\": 0.00},\n  \"prediction_1w\": {\"low\": 0.00, \"high\": 0.00},\n  \"prediction_2w\": {\"low\": 0.00, \"high\": 0.00, \"most_likely\": 0.00},\n  \"weekly_roadmap\": {\n    \"week1\": {\"bias\": \"bullish|bearish|neutral\", \"key_level\": 0.00, \"scenario\": \"<1-2 sentences in Egyptian Arabic>\"},\n    \"week2\": {\"bias\": \"bullish|bearish|neutral\", \"key_level\": 0.00, \"scenario\": \"<1-2 sentences in Egyptian Arabic>\"}\n  },\n  \"entry\": 0.00,\n  \"stopLoss\": 0.00,\n  \"takeProfit\": [0.00, 0.00, 0.00],\n  \"riskReward\": 0.00,\n  \"riskLevel\": \"LOW|MEDIUM|HIGH\",\n  \"per_timeframe\": {\n    \"W\": {\"bias\": \"bullish|bearish|neutral\", \"key_signal\": \"<brief>\"},\n    \"4H\": {\"bias\": \"bullish|bearish|neutral\", \"key_signal\": \"<brief>\"},\n    \"1H\": {\"bias\": \"bullish|bearish|neutral\", \"key_signal\": \"<brief>\"},\n    \"15m\": {\"bias\": \"bullish|bearish|neutral\", \"key_signal\": \"<brief>\"}\n  },\n  \"indicator_summary\": {\n    \"trend_indicators\": {\"bullish\": 0, \"bearish\": 0, \"neutral\": 0, \"dominant\": \"<signal>\"},\n    \"momentum_indicators\": {\"bullish\": 0, \"bearish\": 0, \"neutral\": 0, \"dominant\": \"<signal>\"},\n    \"volume_indicators\": {\"bullish\": 0, \"bearish\": 0, \"neutral\": 0, \"dominant\": \"<signal>\"}\n  },\n  \"reasoning_ar\": \"<10-12 concise sentences in Egyptian Arabic. Use only single quotes, NEVER double quotes. Cover: macro weekly trend, 4H anchor, SuperTrend+PSAR, Elliott Wave, Smart Money, key S/R+Fib, 2-week outlook>\"\n}\n\n=== CRITICAL JSON SAFETY RULES ===\n1. In Arabic text fields: use only single quotes. NEVER double quotes.\n2. No literal newlines inside string values.\n3. Keep reasoning_ar under 700 chars.\n\n=== LANGUAGE RULE ===\nALL JSON keys in English. reasoning_ar, news_analysis.analysis, news_analysis.title (original Arabic), weekly_roadmap scenarios in Arabic.\nAll other values (action, riskLevel, bias, impact, key_signal, dominant) in English.`;\n\nfunction buildContext(a) {\n  const lines = ['=== DEEP SINGLE-STOCK ANALYSIS: ' + a.stock + ' (' + a.fullName + ') ==='];\n  lines.push('Current Price: ' + a.currentPrice + ' EGP');\n  lines.push('Available TFs: ' + a.tfs.join(', '));\n  if (a.confluence) lines.push('MTF Confluence: score=' + a.confluence.score + ', bias=' + a.confluence.bias + ', strength=' + a.confluence.strength + ', bullPoints=' + (a.confluence.bullScore || 0) + ', bearPoints=' + (a.confluence.bearScore || 0));\n  if (a.waveAlignment) lines.push('Wave Alignment: signal=' + a.waveAlignment.signal + ' | ' + a.waveAlignment.detail);\n  if (a.error) lines.push('Data Note: ' + a.error);\n  if (a.position) {\n    lines.push('POSITION HELD: ' + a.position.shares + ' shares @ avg ' + a.position.avgCost + ' EGP | Value: ' + a.position.posValue + ' EGP | Cost: ' + a.position.cost + ' EGP');\n    lines.push('Unrealized P&L: ' + a.position.upnl + ' EGP (' + a.position.upnlPct + '%) | Break-even: ' + a.position.breakEven + ' EGP');\n  }\n  if (a.regime) lines.push('Market Regime: ' + a.regime + (a.squeeze ? ' [BB SQUEEZE]' : ''));\n  if (a.rsiConsensus && a.rsiConsensus !== 'neutral') lines.push('RSI Multi-TF: ' + a.rsiConsensus);\n\n  for (const [tf, data] of Object.entries(a.tf || {})) {\n    lines.push('');\n    lines.push('--- [' + tf + '] ---');\n    const parts = [];\n    parts.push('EMA=' + data.ema + ' (9:' + data.ema9 + ' 21:' + data.ema21 + ' 50:' + data.ema50 + ')');\n    if (data.rsi != null) parts.push('RSI14=' + data.rsi + '(prev:' + data.rsiPrev + ',slope:' + data.rsiSlp + ')');\n    if (data.rsi3 != null) parts.push('RSI3=' + data.rsi3 + '(' + data.rsi3Sig + ')');\n    if (data.mH != null) parts.push('MACD:hist=' + data.mH + ',slope=' + data.mHS + ',cross=' + data.mX);\n    if (data.mEgxH != null) parts.push('MACD_EGX:hist=' + data.mEgxH + ',slope=' + data.mEgxHS + ',cross=' + data.mEgxX);\n    parts.push('ATR=' + data.atr);\n    lines.push(parts.join(' | '));\n\n    const parts2 = [];\n    if (data.ichi) parts2.push('Ichimoku:cloud=' + data.ichi.cloud + ',TK=' + data.ichi.tk + ',tenkan=' + data.ichi.tenkan + ',kijun=' + data.ichi.kijun);\n    if (data.adx) parts2.push('ADX=' + data.adx.v + '(+DI=' + data.adx.pdi + ',-DI=' + data.adx.mdi + ',' + data.adx.sig + ')');\n    if (data.st) parts2.push('SuperTrend=' + data.st.v + '(' + data.st.t + ',dist=' + data.st.d + '%)');\n    if (data.psar) parts2.push('PSAR=' + data.psar.v + '(' + data.psar.t + ',dist=' + data.psar.d + '%)');\n    if (data.lr) parts2.push('LinReg:slope=' + data.lr.slp + '%,R2=' + data.lr.r2 + ',ch=[' + data.lr.l + '-' + data.lr.u + '],' + data.lr.sig);\n    if (data.ha) parts2.push('HeikinAshi:' + data.ha.c + ',streak=' + data.ha.str + ',' + data.ha.s + (data.ha.doji ? ',DOJI' : ''));\n    if (parts2.length) lines.push(parts2.join(' | '));\n\n    const parts3 = [];\n    if (data.bb) parts3.push('BB:width=' + data.bb.w + ',%B=' + data.bb.pB + ',' + data.bb.sig);\n    if (data.stoch) parts3.push('Stoch:K=' + data.stoch.k + ',D=' + data.stoch.d + ',' + data.stoch.sig + ',x=' + data.stoch.x);\n    if (data.wr) parts3.push('WilliamsR=' + data.wr.v + '(' + data.wr.sig + ')');\n    if (data.cci) parts3.push('CCI=' + data.cci.v + '(' + data.cci.sig + ')');\n    if (data.roc) parts3.push('ROC=' + data.roc.v + '(' + data.roc.sig + ')');\n    if (parts3.length) lines.push(parts3.join(' | '));\n\n    const parts4 = [];\n    if (data.vwap) parts4.push('VWAP=' + data.vwap.v + '(' + data.vwap.pos + ') bands=[' + data.vwap.l2 + ',' + data.vwap.l1 + '|' + data.vwap.u1 + ',' + data.vwap.u2 + ']');\n    if (data.vp) parts4.push('VolProfile:POC=' + data.vp.poc + ',VAH=' + data.vp.vah + ',VAL=' + data.vp.val + ',' + data.vp.pos);\n    if (data.vol) {\n      parts4.push('SmartMoney=' + data.vol.sm + '(conf=' + data.vol.smc + ')');\n      parts4.push('MFI=' + data.vol.mfi + '(' + data.vol.mfiSig + ') CMF=' + data.vol.cmf + '(' + data.vol.cmfSig + ')');\n      if (data.vol.div !== 'none') parts4.push('VolDiv=' + data.vol.div);\n      if (data.vol.spike) parts4.push('VOLUME_SPIKE(x' + data.vol.vr + ')');\n    }\n    if (parts4.length) lines.push(parts4.join(' | '));\n\n    const parts5 = [];\n    if (data.pivot) {\n      parts5.push('Pivot:PP=' + data.pivot.pp + '(' + data.pivot.pos + ') Std:[S1=' + data.pivot.std.s1 + ',R1=' + data.pivot.std.r1 + ',S2=' + data.pivot.std.s2 + ',R2=' + data.pivot.std.r2 + ']');\n      parts5.push('FibPivot:[S1=' + data.pivot.fib.s1 + ',R1=' + data.pivot.fib.r1 + '] Cam:[S3=' + data.pivot.cam.s3 + ',R3=' + data.pivot.cam.r3 + ']');\n    }\n    if (data.sup?.length) parts5.push('Sup=[' + data.sup.join(',') + ']');\n    if (data.res?.length) parts5.push('Res=[' + data.res.join(',') + ']');\n    if (data.fib) parts5.push('Fib:nearest=' + data.fib.nr + '(' + data.fib.nd + '% away) Swing:[' + data.fib.sl + '-' + data.fib.sh + ']');\n    if (data.egxFib) {\n      let efStr = 'EGX_Fib:' + (data.egxFib.up ? 'upswing' : 'downswing') + ' ret=' + data.egxFib.retPct + '% ext=' + data.egxFib.extPct + '% corr_lvl=' + data.egxFib.corr + ' T1=' + data.egxFib.t1 + ' T2=' + data.egxFib.t2;\n      if (data.egxFib.sigs?.length) efStr += ' signals=[' + data.egxFib.sigs.join(',') + ']';\n      parts5.push(efStr);\n    }\n    if (parts5.length) lines.push(parts5.join(' | '));\n\n    if (data.ew) {\n      let ewStr = 'Elliott:' + data.ew.l + '(' + data.ew.p + ',q=' + data.ew.q + ')';\n      if (data.ew.sub) ewStr += ' sub:ratio=' + data.ew.sub.ratio + ',fib=' + data.ew.sub.fibMatch;\n      lines.push(ewStr);\n    }\n    if (data.pat) {\n      lines.push('Structure=' + data.pat.st + (data.pat.p?.length ? ' Patterns=' + data.pat.p.join(',') : ''));\n    }\n  }\n\n  if (a.news?.length > 0) {\n    lines.push('');\n    lines.push('>>> NEWS (Mubasher, last 14 days, ' + a.news.length + ' articles):');\n    a.news.forEach((n, idx) => {\n      lines.push((idx + 1) + '. ' + n.title);\n      if (n.content && n.content !== n.title) lines.push('   ' + n.content.substring(0, 500));\n      if (n.date) lines.push('   Date: ' + n.date);\n    });\n  } else {\n    lines.push('');\n    lines.push('[No news. TA ONLY. DO NOT web_search.]');\n  }\n\n  return lines.join('\\n');\n}\n\nasync function callGLM(userMessage) {\n  const maxRetries = 2;\n  let lastError = null;\n  for (let attempt = 0; attempt < maxRetries; attempt++) {\n    try {\n      const resp = await httpReq({\n        method: 'POST', url: ZAI_ENDPOINT,\n        headers: { 'Authorization': 'Bearer ' + ZAI_API_KEY, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          model: 'glm-5',\n          messages: [\n            { role: 'system', content: SYSTEM_PROMPT },\n            { role: 'user',   content: userMessage }\n          ],\n          tools: [{ type: 'web_search', web_search: { enable: true, search_engine: 'search-prime', search_result: true } }],\n          temperature: 0.1,\n          max_tokens: 6000\n        }),\n        returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: HTTP_TIMEOUT\n      });\n      if (resp.statusCode !== 200) {\n        const body = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body);\n        throw new Error('Z.ai ' + resp.statusCode + ': ' + body.substring(0, 150));\n      }\n      const body = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n      return body.choices?.[0]?.message?.content || '';\n    } catch (e) {\n      lastError = e.message;\n      if (attempt < maxRetries - 1) await new Promise(r => setTimeout(r, 3000 * Math.pow(2, attempt)));\n    }\n  }\n  throw new Error(lastError || 'API call failed after retries');\n}\n\nfunction defaultAI(a, errMsg) {\n  const p = a.currentPrice || 0;\n  const atrVal = Object.values(a.tf || {}).find(t => t?.atr)?.atr || p * 0.02;\n  return {\n    stock: a.stock, action: 'ERROR', recommendation: 'HOLD', confidence: 0,\n    news_analysis: [],\n    prediction_1d: { low: +(p - atrVal).toFixed(2), high: +(p + atrVal).toFixed(2) },\n    prediction_1w:  { low: +(p - atrVal * 2).toFixed(2), high: +(p + atrVal * 2.2).toFixed(2) },\n    prediction_2w:  { low: +(p - atrVal * 3.5).toFixed(2), high: +(p + atrVal * 4).toFixed(2), most_likely: p },\n    weekly_roadmap: { week1: { bias: 'neutral', key_level: p, scenario: 'N/A' }, week2: { bias: 'neutral', key_level: p, scenario: 'N/A' } },\n    entry: 0, stopLoss: 0, takeProfit: [0], riskReward: 0, riskLevel: 'HIGH',\n    per_timeframe: {},\n    indicator_summary: { trend_indicators: { bullish: 0, bearish: 0, neutral: 0, dominant: 'N/A' }, momentum_indicators: { bullish: 0, bearish: 0, neutral: 0, dominant: 'N/A' }, volume_indicators: { bullish: 0, bearish: 0, neutral: 0, dominant: 'N/A' } },\n    reasoning_ar: '\\u0641\\u0634\\u0644 \\u0627\\u0644\\u062A\\u062D\\u0644\\u064A\\u0644: ' + errMsg\n  };\n}\n\nfunction sanitise(raw, fb) {\n  const p = fb.currentPrice || 0;\n  const atrVal = Object.values(fb.tf || {}).find(t => t?.atr)?.atr || p * 0.02;\n  return {\n    stock: raw.stock || fb.stock,\n    action: ['BUY', 'SELL', 'HOLD', 'WATCH'].includes(raw.action) ? raw.action : 'HOLD',\n    recommendation: ['ADD', 'HOLD', 'TRIM', 'CUT'].includes(raw.recommendation) ? raw.recommendation : 'HOLD',\n    confidence: typeof raw.confidence === 'number' ? Math.min(100, Math.max(0, raw.confidence)) : 50,\n    news_analysis: Array.isArray(raw.news_analysis) ? raw.news_analysis : [],\n    prediction_1d: (raw.prediction_1d || raw.prediction_24h)?.low != null ? { low: +((raw.prediction_1d || raw.prediction_24h).low), high: +((raw.prediction_1d || raw.prediction_24h).high) } : { low: +(p - atrVal).toFixed(2), high: +(p + atrVal).toFixed(2) },\n    prediction_1w:  (raw.prediction_1w || raw.prediction_5d)?.low != null ? { low: +((raw.prediction_1w || raw.prediction_5d).low), high: +((raw.prediction_1w || raw.prediction_5d).high) } : { low: +(p - atrVal * 2).toFixed(2), high: +(p + atrVal * 2.2).toFixed(2) },\n    prediction_2w:  raw.prediction_2w?.low != null ? { low: +raw.prediction_2w.low, high: +raw.prediction_2w.high, most_likely: raw.prediction_2w.most_likely || p } : { low: +(p - atrVal * 3.5).toFixed(2), high: +(p + atrVal * 4).toFixed(2), most_likely: p },\n    weekly_roadmap: raw.weekly_roadmap || { week1: { bias: 'neutral', key_level: p, scenario: 'N/A' }, week2: { bias: 'neutral', key_level: p, scenario: 'N/A' } },\n    entry: raw.entry || 0,\n    stopLoss: raw.stopLoss || 0,\n    takeProfit: Array.isArray(raw.takeProfit) ? raw.takeProfit : (raw.takeProfit ? [raw.takeProfit] : [0]),\n    riskReward: raw.riskReward || 0,\n    riskLevel: ['LOW', 'MEDIUM', 'HIGH'].includes(raw.riskLevel) ? raw.riskLevel : 'MEDIUM',\n    per_timeframe: raw.per_timeframe || {},\n    indicator_summary: raw.indicator_summary || {},\n    reasoning_ar: raw.reasoning_ar || '\\u0644\\u0627 \\u064A\\u0648\\u062C\\u062F \\u062A\\u062D\\u0644\\u064A\\u0644.'\n  };\n}\n\nconst inputItems = $input.all();\nconst validItems = inputItems.filter(i => !i.json._fetchLog && i.json.currentPrice > 0).map(i => i.json);\nconst results = [];\n\nfor (const sd of validItems) {\n  const userMessage = 'Perform DEEP ANALYSIS of this SINGLE EGX stock I am currently holding. Include 2-WEEK price prediction with weekly roadmap. This is my only held position — analyze every indicator thoroughly.\\n\\n' + buildContext(sd);\n  let parsedData = null;\n  let errMsg = 'Unknown';\n  try {\n    const rawOutput = await callGLM(userMessage);\n    let cleaned = rawOutput.replace(/\\`\\`\\`json/gi, '').replace(/\\`\\`\\`/g, '').trim();\n    let si = cleaned.indexOf('{'), ei = cleaned.lastIndexOf('}');\n    if (si === -1 || ei === -1) throw new Error('No JSON found');\n    const jsonRaw = cleaned.substring(si, ei + 1);\n    const cleanJson = s => { const r = []; let inS = false, ps = false; for (let i = 0; i < s.length; i++) { const c = s[i], cc = c.charCodeAt(0); if (ps) { r.push(c); ps = false; continue; } if (cc === 92) { r.push(c); ps = true; continue; } if (cc === 34) { if (!inS) { r.push(c); inS = true; continue; } let j = i + 1; while (j < s.length && (s[j].charCodeAt(0) === 32 || s[j].charCodeAt(0) === 9 || s[j].charCodeAt(0) === 10 || s[j].charCodeAt(0) === 13)) j++; const nxt = s[j] || ''; if (':,}]'.includes(nxt) || j >= s.length) { r.push(c); inS = false; } else { r.push(String.fromCharCode(92)); r.push(String.fromCharCode(34)); } continue; } if (inS && ((cc < 32 && cc !== 9 && cc !== 10 && cc !== 13) || cc === 127 || cc === 8232 || cc === 8233)) { r.push(' '); continue; } r.push(c); } return r.join(''); };\n    try {\n      parsedData = JSON.parse(cleanJson(jsonRaw));\n    } catch (e1) {\n      let found = false;\n      for (let end = ei - 1; end > si && !found; end--) {\n        if (cleaned[end] === '}') {\n          try {\n            const candidate = JSON.parse(cleanJson(cleaned.substring(si, end + 1)));\n            if (candidate && candidate.stock) { parsedData = candidate; found = true; }\n          } catch (e2) {}\n        }\n      }\n      if (!parsedData) throw e1;\n    }\n  } catch (e) {\n    errMsg = e.message;\n  }\n  results.push({ json: { ...sd, ai: parsedData ? sanitise(parsedData, sd) : defaultAI(sd, errMsg) } });\n}\n\nfor (const item of inputItems.filter(i => i.json._fetchLog)) results.push(item);\nfor (const item of inputItems.filter(i => !i.json._fetchLog && i.json.currentPrice <= 0)) {\n  const d = item.json;\n  d.ai = defaultAI(d, d.error || 'No price data');\n  results.push({ json: d });\n}\nreturn results;\n"
      },
      "id": "1f732d84-8669-499c-9e0c-dea91ec088bd",
      "name": "Deep AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "\nif ($input.all()[0]?.json?._skip) return [{ json: { _skip: true } }];\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst httpReq = this.helpers.httpRequest;\n\nconst WEBHOOK_URLS = [\n  'https://discord.com/api/webhooks/1479018213269438550/Wp6GlhcQ6MY36XvZxVZrnmTV0djf9M4T8UKEjASsYXOpG_pL8sz0WRQnC3UtJKoIIp6F'\n];\nconst BOT = {\n  username: 'EGX Deep Analyst \\u2022 Single Stock',\n  avatar_url: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0IcHOvVsV9GMr6RBfsKYCyL4GcD0MRuvaGg&s'\n};\n\nconst COL = { BUY: 5763719, SELL: 15548997, WATCH: 16776960, HOLD: 10070709, ADD: 4437377, TRIM: 16744272, CUT: 15548997, ERROR: 10038562 };\nconst ACTION_EMOJI = { BUY: '\\uD83D\\uDFE2', SELL: '\\uD83D\\uDD34', WATCH: '\\uD83D\\uDFE1', HOLD: '\\u26AA', ADD: '\\uD83D\\uDFE2', TRIM: '\\uD83D\\uDFE0', CUT: '\\uD83D\\uDD34', ERROR: '\\u274C' };\nconst RECOM_EMOJI = { ADD: '\\uD83D\\uDFE2 ADD', HOLD: '\\u26AA HOLD', TRIM: '\\uD83D\\uDFE0 TRIM', CUT: '\\uD83D\\uDD34 CUT' };\n\nconst data = $input.all().map(i => i.json).filter(d => !d._fetchLog && d.currentPrice > 0);\nif (data.length === 0) return [{ json: { error: 'No valid stock data' } }];\n\nconst a = data[0]; // Single stock\nconst ai = a.ai || {};\nconst action = ai.action || 'HOLD';\nconst color = COL[action] || COL.HOLD;\nconst conf = ai.confidence || 0;\nconst runDate = a.runDate || new Date().toISOString().split('T')[0];\n\nconst allEmbeds = [];\n\n// ═══ EMBED 1: HEADER + ACTION ═══\nconst headerLines = [\n  ACTION_EMOJI[action] + ' **' + action + '** \\u2022 ' + conf + '% confidence \\u2022 Risk: ' + (ai.riskLevel || 'N/A') + (ai.recommendation ? '  |  ' + (RECOM_EMOJI[ai.recommendation] || ai.recommendation) : ''),\n  '',\n  '**Current Price:** `' + Number(a.currentPrice).toFixed(3) + ' EGP`'\n];\nif (a.confluence) {\n  headerLines.push('**MTF Confluence:** `' + a.confluence.score + '` (' + a.confluence.bias + ', ' + a.confluence.strength + ')');\n}\nif (a.waveAlignment?.signal && a.waveAlignment.signal !== 'insufficient_data') {\n  headerLines.push('**Wave Alignment:** `' + a.waveAlignment.signal + '`');\n  if (a.waveAlignment.detail) headerLines.push('> ' + a.waveAlignment.detail);\n}\n\nallEmbeds.push({\n  title: '\\uD83D\\uDCCA ' + a.fullName + ' (' + a.stock + ') \\u2022 ' + runDate,\n  description: headerLines.join('\\n').substring(0, 4000),\n  color\n});\n\n// ═══ POSITION WIDGET ═══\nif (a.position && a.position.shares > 0) {\n  const pos = a.position;\n  const rec = ai.recommendation || 'HOLD';\n  const pnlSign = pos.upnl >= 0 ? '+' : '';\n  const pnlFlag = pos.upnlPct >= 0 ? '\\uD83D\\uDFE2' : '\\uD83D\\uDD34';\n  const posLines = [\n    (RECOM_EMOJI[rec] || rec) + ' \\u2022 ' + pos.shares.toLocaleString() + ' shares held',\n    '',\n    '**\\uD83D\\uDCB0 Avg Cost:** `' + pos.avgCost.toFixed(3) + ' EGP`  **Current:** `' + Number(a.currentPrice).toFixed(3) + ' EGP`',\n    '**\\uD83D\\uDCCA Position Value:** `' + pos.posValue.toLocaleString() + ' EGP`  **Cost Basis:** `' + pos.cost.toLocaleString() + ' EGP`',\n    '',\n    pnlFlag + ' **Unrealized P&L:** `' + pnlSign + pos.upnl.toLocaleString() + ' EGP (' + pnlSign + Number(pos.upnlPct).toFixed(2) + '%)`',\n    '**\\uD83C\\uDFAF Break-even:** `' + pos.breakEven.toFixed(3) + ' EGP`'\n  ];\n  allEmbeds.push({\n    title: '\\uD83D\\uDCBC Position Tracker \\u2022 ' + a.stock,\n    description: posLines.join('\\n').substring(0, 1024),\n    color: pos.upnlPct >= 0 ? COL.BUY : COL.SELL\n  });\n}\n\n// ═══ EMBED 2: TREND INDICATORS ═══\nconst trendLines = [];\nconst bestTF = a.tf?.['4H'] || a.tf?.['1H'] || Object.values(a.tf || {})[0] || {};\n\ntrendLines.push('**\\u2022 EMA Alignment:** `' + (bestTF.ema || 'N/A') + '` (9:' + (bestTF.ema9 || '?') + ' 21:' + (bestTF.ema21 || '?') + ' 50:' + (bestTF.ema50 || '?') + ')');\nif (bestTF.adx) trendLines.push('**\\u2022 ADX:** `' + bestTF.adx.v + '` (+DI=' + bestTF.adx.pdi + ' -DI=' + bestTF.adx.mdi + ') \\u2192 `' + bestTF.adx.sig + '`');\nif (bestTF.ichi) trendLines.push('**\\u2022 Ichimoku:** Cloud=`' + bestTF.ichi.cloud + '` TK=`' + bestTF.ichi.tk + '`');\nif (bestTF.st) trendLines.push('**\\u2022 SuperTrend:** `' + bestTF.st.v + '` (' + bestTF.st.t + ', ' + bestTF.st.d + '% away)');\nif (bestTF.psar) trendLines.push('**\\u2022 Parabolic SAR:** `' + bestTF.psar.v + '` (' + bestTF.psar.t + ', ' + bestTF.psar.d + '% away)');\nif (bestTF.lr) trendLines.push('**\\u2022 Lin Regression:** slope=`' + bestTF.lr.slp + '%` R\\u00B2=`' + bestTF.lr.r2 + '` \\u2192 `' + bestTF.lr.sig + '`');\nif (bestTF.ha) trendLines.push('**\\u2022 Heikin-Ashi:** `' + bestTF.ha.c + '` streak=' + bestTF.ha.str + ' \\u2192 `' + bestTF.ha.s + '`' + (bestTF.ha.doji ? ' \\u26A0 DOJI' : ''));\n\nif (ai.indicator_summary?.trend_indicators) {\n  const ti = ai.indicator_summary.trend_indicators;\n  trendLines.push('');\n  trendLines.push('**Score:** \\uD83D\\uDFE2' + (ti.bullish || 0) + ' \\uD83D\\uDD34' + (ti.bearish || 0) + ' \\u26AA' + (ti.neutral || 0) + ' \\u2192 **' + (ti.dominant || 'N/A') + '**');\n}\n\nallEmbeds.push({\n  title: '\\uD83D\\uDCC8 Trend Analysis (4H anchor)',\n  description: trendLines.join('\\n').substring(0, 4000),\n  color\n});\n\n// ═══ EMBED 3: MOMENTUM INDICATORS ═══\nconst momLines = [];\nif (bestTF.rsi != null) momLines.push('**\\u2022 RSI-14:** `' + bestTF.rsi + '` (prev:' + bestTF.rsiPrev + ', slope:' + bestTF.rsiSlp + ')');\nif (bestTF.rsi3 != null) momLines.push('**\\u2022 RSI-3 (EGX):** `' + bestTF.rsi3 + '` \\u2192 `' + bestTF.rsi3Sig + '`');\nif (bestTF.mH != null) momLines.push('**\\u2022 MACD 12/26/9:** hist=`' + bestTF.mH + '` slope=`' + bestTF.mHS + '` cross=`' + bestTF.mX + '`');\nif (bestTF.mEgxH != null) momLines.push('**\\u2022 MACD EGX 8/17/9:** hist=`' + bestTF.mEgxH + '` slope=`' + bestTF.mEgxHS + '` cross=`' + bestTF.mEgxX + '`');\nif (bestTF.bb) momLines.push('**\\u2022 Bollinger 10/2.5:** width=`' + bestTF.bb.w + '%` %B=`' + bestTF.bb.pB + '` \\u2192 `' + bestTF.bb.sig + '`');\nif (bestTF.stoch) momLines.push('**\\u2022 Stochastic 9/3/2:** K=`' + bestTF.stoch.k + '` D=`' + bestTF.stoch.d + '` \\u2192 `' + bestTF.stoch.sig + '` cross=`' + bestTF.stoch.x + '`');\nif (bestTF.wr) momLines.push('**\\u2022 Williams %R:** `' + bestTF.wr.v + '` \\u2192 `' + bestTF.wr.sig + '`');\nif (bestTF.cci) momLines.push('**\\u2022 CCI (20):** `' + bestTF.cci.v + '` \\u2192 `' + bestTF.cci.sig + '`');\nif (bestTF.roc) momLines.push('**\\u2022 ROC (12):** `' + bestTF.roc.v + '%` \\u2192 `' + bestTF.roc.sig + '`');\n\nif (ai.indicator_summary?.momentum_indicators) {\n  const mi = ai.indicator_summary.momentum_indicators;\n  momLines.push('');\n  momLines.push('**Score:** \\uD83D\\uDFE2' + (mi.bullish || 0) + ' \\uD83D\\uDD34' + (mi.bearish || 0) + ' \\u26AA' + (mi.neutral || 0) + ' \\u2192 **' + (mi.dominant || 'N/A') + '**');\n}\n\nallEmbeds.push({\n  title: '\\u26A1 Momentum Analysis',\n  description: momLines.join('\\n').substring(0, 4000),\n  color\n});\n\n// ═══ EMBED 4: VOLUME + SMART MONEY ═══\nconst volLines = [];\nif (bestTF.vwap) volLines.push('**\\u2022 VWAP:** `' + bestTF.vwap.v + '` (' + bestTF.vwap.pos + ') bands=[' + bestTF.vwap.l1 + '|' + bestTF.vwap.u1 + ']');\nif (bestTF.vp) volLines.push('**\\u2022 Volume Profile:** POC=`' + bestTF.vp.poc + '` VAH=`' + bestTF.vp.vah + '` VAL=`' + bestTF.vp.val + '` \\u2192 `' + bestTF.vp.pos + '`');\nif (bestTF.vol) {\n  volLines.push('**\\u2022 Smart Money:** `' + bestTF.vol.sm + '` (confidence: ' + bestTF.vol.smc + ')');\n  volLines.push('**\\u2022 MFI (14):** `' + bestTF.vol.mfi + '` (' + bestTF.vol.mfiSig + ')');\n  volLines.push('**\\u2022 CMF (20):** `' + bestTF.vol.cmf + '` (' + bestTF.vol.cmfSig + ')');\n  volLines.push('**\\u2022 OBV:** `' + bestTF.vol.obv + '`' + (bestTF.vol.div !== 'none' ? ' \\u26A0 `' + bestTF.vol.div + '`' : ''));\n  if (bestTF.vol.spike) volLines.push('**\\u2022 \\u26A0 VOLUME SPIKE:** \\u00D7' + bestTF.vol.vr + ' above average!');\n}\n\nif (ai.indicator_summary?.volume_indicators) {\n  const vi = ai.indicator_summary.volume_indicators;\n  volLines.push('');\n  volLines.push('**Score:** \\uD83D\\uDFE2' + (vi.bullish || 0) + ' \\uD83D\\uDD34' + (vi.bearish || 0) + ' \\u26AA' + (vi.neutral || 0) + ' \\u2192 **' + (vi.dominant || 'N/A') + '**');\n}\n\nallEmbeds.push({\n  title: '\\uD83D\\uDCB0 Volume & Smart Money',\n  description: volLines.join('\\n').substring(0, 4000),\n  color\n});\n\n// ═══ EMBED 5: STRUCTURE — Elliott + S/R + Pivots ═══\nconst strLines = [];\n\n// Elliott Wave per TF\nfor (const [tf, tfData] of Object.entries(a.tf || {})) {\n  if (tfData?.ew) {\n    let s = '**[' + tf + ']** ' + tfData.ew.l + ' (' + tfData.ew.p + ', q=' + tfData.ew.q + ')';\n    if (tfData.ew.sub?.fibMatch && tfData.ew.sub.fibMatch !== 'none') s += ' \\u2022 sub-wave `' + tfData.ew.sub.fibMatch + '`';\n    strLines.push(s);\n  }\n}\nif (strLines.length) strLines.push('');\n\n// Fibonacci\nif (bestTF.fib) {\n  strLines.push('**Fibonacci:** Swing [' + bestTF.fib.sl + ' \\u2192 ' + bestTF.fib.sh + '] Nearest=`' + bestTF.fib.nr + '` (' + bestTF.fib.nd + '% away)');\n}\n\n// S/R\nif (bestTF.sup?.length || bestTF.res?.length) {\n  strLines.push('**Support:** `' + (bestTF.sup || []).join(', ') + '`');\n  strLines.push('**Resistance:** `' + (bestTF.res || []).join(', ') + '`');\n}\n\n// Pivot Points\nif (bestTF.pivot) {\n  strLines.push('');\n  strLines.push('**Pivot Point:** `' + bestTF.pivot.pp + '` (' + bestTF.pivot.pos + ')');\n  strLines.push('Standard: S2=`' + bestTF.pivot.std.s2 + '` S1=`' + bestTF.pivot.std.s1 + '` | R1=`' + bestTF.pivot.std.r1 + '` R2=`' + bestTF.pivot.std.r2 + '`');\n  strLines.push('Camarilla: S3=`' + bestTF.pivot.cam.s3 + '` | R3=`' + bestTF.pivot.cam.r3 + '`');\n}\n\n// Patterns\nif (bestTF.pat) {\n  strLines.push('');\n  strLines.push('**Structure:** `' + bestTF.pat.st + '`');\n  if (bestTF.pat.p?.length) strLines.push('**Patterns:** `' + bestTF.pat.p.join(', ') + '`');\n}\n\nallEmbeds.push({\n  title: '\\uD83C\\uDFD7\\uFE0F Elliott Wave & Structure',\n  description: strLines.join('\\n').substring(0, 4000),\n  color\n});\n\n// ═══ EMBED 6: PER-TIMEFRAME SUMMARY ═══\nif (ai.per_timeframe && Object.keys(ai.per_timeframe).length > 0) {\n  const ptfLines = [];\n  const tfOrder = ['W', '4H', '1H', '15m'];\n  for (const tf of tfOrder) {\n    const ptf = ai.per_timeframe[tf];\n    if (ptf) {\n      const biasIcon = ptf.bias === 'bullish' ? '\\uD83D\\uDFE2' : ptf.bias === 'bearish' ? '\\uD83D\\uDD34' : '\\u26AA';\n      ptfLines.push(biasIcon + ' **[' + tf + ']** ' + ptf.bias.toUpperCase() + ' \\u2014 ' + (ptf.key_signal || 'N/A'));\n    }\n  }\n  if (ptfLines.length) {\n    allEmbeds.push({\n      title: '\\uD83D\\uDD0D Per-Timeframe Verdict',\n      description: ptfLines.join('\\n').substring(0, 4000),\n      color\n    });\n  }\n}\n\n// ═══ EMBED 7: TARGETS & 2-WEEK ROADMAP ═══\nconst targetLines = [];\ntargetLines.push('**\\uD83D\\uDCCA Predictions:**');\ntargetLines.push('\\u2022 **1D:** `' + Number((ai.prediction_1d || ai.prediction_24h)?.low || 0).toFixed(3) + ' \\u2013 ' + Number((ai.prediction_1d || ai.prediction_24h)?.high || 0).toFixed(3) + ' EGP`');\ntargetLines.push('\\u2022 **1W:** `' + Number((ai.prediction_1w || ai.prediction_5d)?.low || 0).toFixed(3) + ' \\u2013 ' + Number((ai.prediction_1w || ai.prediction_5d)?.high || 0).toFixed(3) + ' EGP`');\nif (ai.prediction_2w) {\n  targetLines.push('\\u2022 **2 weeks: `' + Number(ai.prediction_2w.low).toFixed(3) + ' \\u2013 ' + Number(ai.prediction_2w.high).toFixed(3) + ' EGP`** (most likely: `' + Number(ai.prediction_2w.most_likely || 0).toFixed(3) + '`)');\n}\n\nif (ai.entry > 0) {\n  targetLines.push('');\n  targetLines.push('**\\uD83C\\uDFAF Levels:**');\n  targetLines.push('\\u2022 Entry: `' + Number(ai.entry).toFixed(3) + '`');\n  targetLines.push('\\u2022 Stop Loss: `' + Number(ai.stopLoss).toFixed(3) + '`');\n  const tpArr = Array.isArray(ai.takeProfit) ? ai.takeProfit : [ai.takeProfit];\n  tpArr.forEach((tp, idx) => {\n    if (tp > 0) targetLines.push('\\u2022 TP' + (idx + 1) + ': `' + Number(tp).toFixed(3) + '`');\n  });\n  if (ai.riskReward > 0) targetLines.push('\\u2022 Risk/Reward: `' + Number(ai.riskReward).toFixed(2) + '`');\n}\n\nif (ai.weekly_roadmap) {\n  targetLines.push('');\n  targetLines.push('**\\uD83D\\uDDFA\\uFE0F 2-Week Roadmap:**');\n  if (ai.weekly_roadmap.week1) {\n    const w1 = ai.weekly_roadmap.week1;\n    const w1Icon = w1.bias === 'bullish' ? '\\uD83D\\uDFE2' : w1.bias === 'bearish' ? '\\uD83D\\uDD34' : '\\u26AA';\n    targetLines.push(w1Icon + ' **Week 1:** ' + (w1.scenario || 'N/A') + (w1.key_level ? ' (key: `' + Number(w1.key_level).toFixed(3) + '`)' : ''));\n  }\n  if (ai.weekly_roadmap.week2) {\n    const w2 = ai.weekly_roadmap.week2;\n    const w2Icon = w2.bias === 'bullish' ? '\\uD83D\\uDFE2' : w2.bias === 'bearish' ? '\\uD83D\\uDD34' : '\\u26AA';\n    targetLines.push(w2Icon + ' **Week 2:** ' + (w2.scenario || 'N/A') + (w2.key_level ? ' (key: `' + Number(w2.key_level).toFixed(3) + '`)' : ''));\n  }\n}\n\nallEmbeds.push({\n  title: '\\uD83C\\uDFAF Targets & 2-Week Roadmap',\n  description: targetLines.join('\\n').substring(0, 4000),\n  color\n});\n\n// ═══ EMBED 8: NEWS ═══\nif (ai.news_analysis?.length > 0) {\n  const newsLines = [];\n  ai.news_analysis.forEach(n => {\n    const icon = n.impact === 'positive' ? '\\uD83D\\uDFE2' : n.impact === 'negative' ? '\\uD83D\\uDD34' : '\\uD83D\\uDFE1';\n    newsLines.push(icon + ' **' + (n.title || '').substring(0, 100) + '**');\n    if (n.analysis) newsLines.push('> ' + n.analysis.substring(0, 300));\n    newsLines.push('');\n  });\n  allEmbeds.push({\n    title: '\\uD83D\\uDCF0 News Analysis (14 days)',\n    description: newsLines.join('\\n').substring(0, 4000),\n    color\n  });\n}\n\n// ═══ EMBED 9: AI REASONING ═══\nconst reasoning = (ai.reasoning_ar || '').substring(0, 3900);\nif (reasoning.length > 10) {\n  allEmbeds.push({\n    title: '\\uD83E\\uDDE0 Deep Analysis',\n    description: reasoning,\n    color\n  });\n}\n\n// ═══ CHUNK & SEND ═══\nconst payloads = [];\nlet batch = [], chars = 0;\nfor (const e of allEmbeds) {\n  const len = (e.title || '').length + (e.description || '').length + 100;\n  if (batch.length >= 2 || (chars + len > 5500 && batch.length > 0)) {\n    payloads.push(batch); batch = []; chars = 0;\n  }\n  batch.push(e); chars += len;\n}\nif (batch.length > 0) payloads.push(batch);\n\nconst sendResults = [];\nfor (let i = 0; i < payloads.length; i++) {\n  const body = JSON.stringify({ ...BOT, embeds: payloads[i] });\n  for (const webhookUrl of WEBHOOK_URLS) {\n    let success = false;\n    for (let attempt = 0; attempt < 3 && !success; attempt++) {\n      try {\n        const resp = await httpReq({\n          method: 'POST', url: webhookUrl,\n          headers: { 'Content-Type': 'application/json' },\n          body,\n          returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 15000\n        });\n        if (resp.statusCode >= 200 && resp.statusCode < 300) {\n          sendResults.push({ batch: i + 1, status: resp.statusCode, ok: true });\n          success = true;\n        } else if (resp.statusCode === 429) {\n          const ra = (typeof resp.body === 'object' ? resp.body?.retry_after : 3) || 3;\n          await sleep(ra * 1000 + 500);\n        } else {\n          const errBody = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body);\n          sendResults.push({ batch: i + 1, status: resp.statusCode, ok: false, detail: errBody.substring(0, 200) });\n          break;\n        }\n      } catch (e) {\n        sendResults.push({ batch: i + 1, error: e.message, ok: false });\n        if (attempt < 2) await sleep(2000);\n      }\n    }\n    await sleep(1200);\n  }\n  if (i < payloads.length - 1) await sleep(2000);\n}\n\nreturn [{ json: {\n  stock: a.stock,\n  fullName: a.fullName,\n  action: ai.action,\n  confidence: ai.confidence,\n  totalEmbeds: allEmbeds.length,\n  totalPayloads: payloads.length,\n  sendResults,\n  allOk: sendResults.every(r => r.ok)\n} }];\n"
      },
      "id": "d929cb4f-2881-4234-b6ac-0b2d28a9681f",
      "name": "Format & Send to Discord",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        16
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1216,
        16
      ],
      "id": "c7835cfc-26b7-438f-bc4b-dac0340d504c",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Single Stock Config": {
      "main": [
        [
          {
            "node": "Fetch Yahoo OHLCV (Single Stock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yahoo OHLCV (Single Stock)": {
      "main": [
        [
          {
            "node": "Deep TA Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deep TA Engine": {
      "main": [
        [
          {
            "node": "Fetch News (Mubasher - Extended)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News (Mubasher - Extended)": {
      "main": [
        [
          {
            "node": "Compress for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress for AI": {
      "main": [
        [
          {
            "node": "Deep AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deep AI Analysis": {
      "main": [
        [
          {
            "node": "Format & Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Single Stock Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "283c4283-c152-4158-a3c9-ccff9bca7f91",
  "meta": {
    "instanceId": "141ae7eb68892bbe98ec3a6b040e6891f0344046a266c895ce0b483dfac70d53"
  },
  "id": "BKelFjEQxjOLqzn4",
  "tags": []
}