workflows.example/EGX Deep Analyst.json
{
  "name": "EGX Deep Analyst",
  "nodes": [
    {
      "parameters": {
        "jsCode": "\n/*\n * STOCK CONFIG — EGX Deep Analyst\n * Yahoo EGX ticker format: TICKER.CA\n * Fetch Matrix: 15m→60d, 1H→60d, 1W→5y. 4H synthesized from 1H.\n */\nconst STOCKS = [\n  { ticker: 'SKPC',  name: 'Sidi Kerir Petrochemicals' },\n  { ticker: 'ICFC',  name: 'International Co For Investment & Development' },\n  { ticker: 'IFAP',  name: 'International Agricultural Products' },\n  { ticker: 'ISMQ',  name: 'Iron And Steel for Mines and Quarries' },\n  { ticker: 'ZMID',  name: 'Zahraa El Maadi Investment & Development' }\n];\n\nconst FETCH_MATRIX = [\n  { id: '15m',  interval: '15m',  range: '60d',  label: '15-Minute Entry' },\n  { id: '1H',   interval: '60m',  range: '60d',  label: '1-Hour Swing' },\n  { id: '1W',   interval: '1wk',  range: '5y',   label: 'Weekly Deep' }\n];\n\nconst runDate = new Date().toISOString().split('T')[0];\nreturn [{ json: { stocks: STOCKS, fetchMatrix: FETCH_MATRIX, runDate } }];\n"
      },
      "id": "7bc9c153-8415-468b-887b-57565a6f2e94",
      "name": "Stock Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6704,
        -1424
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*\n * YAHOO FINANCE DEFENSIVE FETCHER v4\n * Architecture: sequential per stock, 3 TFs, 2s delays, 3 retries\n * Data Healer: MOC filter, grid inject, piastre fix, 4H synthesis\n */\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst httpReq = this.helpers.httpRequest;\nconst config = $input.all()[0].json;\nconst { stocks, fetchMatrix, runDate } = config;\n\nconst YAHOO_BASE = 'https://query1.finance.yahoo.com/v8/finance/chart';\nconst YAHOO_HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',\n  'Accept': 'application/json'\n};\n\nconst CAIRO_OFFSET_MS = 2 * 60 * 60 * 1000;\nfunction toCairoHour(unixSec) {\n  const d = new Date((unixSec * 1000) + CAIRO_OFFSET_MS);\n  return d.getUTCHours();\n}\nfunction toCairoDate(unixSec) {\n  const d = new Date((unixSec * 1000) + CAIRO_OFFSET_MS);\n  return d.toISOString().split('T')[0];\n}\n\nasync function fetchYahoo(ticker, interval, range, maxRetries) {\n  maxRetries = maxRetries || 3;\n  const url = YAHOO_BASE + '/' + ticker + '.CA?interval=' + interval + '&range=' + range;\n  for (let attempt = 0; attempt < maxRetries; attempt++) {\n    try {\n      const resp = await httpReq({\n        method: 'GET', url,\n        headers: YAHOO_HEADERS,\n        returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 20000\n      });\n      if (resp.statusCode === 200) {\n        const body = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n        return { ok: true, data: body };\n      }\n      if (resp.statusCode === 404) return { ok: false, err: 'Yahoo 404: ' + ticker + '.CA not found' };\n      if (resp.statusCode === 401 || resp.statusCode === 403) {\n        await sleep(5000 * (attempt + 1));\n        continue;\n      }\n      if (attempt === maxRetries - 1) return { ok: false, err: 'Yahoo HTTP ' + resp.statusCode };\n    } catch (e) {\n      if (attempt === maxRetries - 1) return { ok: false, err: 'Yahoo error: ' + e.message };\n    }\n    await sleep(2000 * Math.pow(2, attempt));\n  }\n  return { ok: false, err: 'Max retries exceeded' };\n}\n\nfunction extractOHLCV(yahooData) {\n  const result = yahooData?.chart?.result?.[0];\n  if (!result?.timestamp) return null;\n  const ts = result.timestamp;\n  const q = result.indicators?.quote?.[0];\n  if (!q) return null;\n  return {\n    timestamps: ts,\n    opens:   ts.map((_, i) => q.open?.[i] ?? null),\n    highs:   ts.map((_, i) => q.high?.[i] ?? null),\n    lows:    ts.map((_, i) => q.low?.[i] ?? null),\n    closes:  ts.map((_, i) => q.close?.[i] ?? null),\n    volumes: ts.map((_, i) => q.volume?.[i] ?? 0)\n  };\n}\n\nfunction fixPiastreAnomaly(closes) {\n  if (closes.length < 10) return closes;\n  const valid = closes.filter(c => c != null && c > 0);\n  if (valid.length < 5) return closes;\n  const sorted = [...valid].sort((a, b) => a - b);\n  const median = sorted[Math.floor(sorted.length / 2)];\n  return closes.map(c => {\n    if (c == null) return c;\n    if (median > 0 && c > median * 50 && c < median * 200) return +(c / 100).toFixed(4);\n    return c;\n  });\n}\n\nfunction filterMOC(raw, isIntraday) {\n  if (!isIntraday || !raw) return raw;\n  const idx = [];\n  for (let i = 0; i < raw.timestamps.length; i++) {\n    if (toCairoHour(raw.timestamps[i]) < 14) idx.push(i);\n  }\n  return {\n    timestamps: idx.map(i => raw.timestamps[i]),\n    opens:   idx.map(i => raw.opens[i]),\n    highs:   idx.map(i => raw.highs[i]),\n    lows:    idx.map(i => raw.lows[i]),\n    closes:  idx.map(i => raw.closes[i]),\n    volumes: idx.map(i => raw.volumes[i])\n  };\n}\n\nfunction healGrid(raw, intervalSec) {\n  if (!raw || raw.timestamps.length < 2) return raw;\n  const healed = { timestamps: [], opens: [], highs: [], lows: [], closes: [], volumes: [] };\n  for (let i = 0; i < raw.timestamps.length; i++) {\n    if (i > 0) {\n      const gap = raw.timestamps[i] - raw.timestamps[i - 1];\n      if (gap > intervalSec * 1.5 && gap < intervalSec * 50) {\n        const prevClose = healed.closes[healed.closes.length - 1] || raw.closes[i - 1];\n        let fillTs = raw.timestamps[i - 1] + intervalSec;\n        while (fillTs < raw.timestamps[i]) {\n          const fillHour = toCairoHour(fillTs);\n          if (fillHour >= 10 && fillHour < 14) {\n            healed.timestamps.push(fillTs);\n            healed.opens.push(prevClose); healed.highs.push(prevClose);\n            healed.lows.push(prevClose); healed.closes.push(prevClose);\n            healed.volumes.push(0);\n          }\n          fillTs += intervalSec;\n        }\n      }\n    }\n    const prevClose = healed.closes.length > 0 ? healed.closes[healed.closes.length - 1] : null;\n    const c = raw.closes[i], o = raw.opens[i], h = raw.highs[i], l = raw.lows[i];\n    if (c != null && c > 0) {\n      healed.timestamps.push(raw.timestamps[i]);\n      healed.opens.push(o != null && o > 0 ? o : c);\n      healed.highs.push(h != null && h > 0 ? h : c);\n      healed.lows.push(l != null && l > 0 ? l : c);\n      healed.closes.push(c);\n      healed.volumes.push(raw.volumes[i] || 0);\n    } else if (prevClose != null) {\n      healed.timestamps.push(raw.timestamps[i]);\n      healed.opens.push(prevClose); healed.highs.push(prevClose);\n      healed.lows.push(prevClose); healed.closes.push(prevClose);\n      healed.volumes.push(0);\n    }\n  }\n  return healed;\n}\n\nfunction synthesize4H(healed1H) {\n  if (!healed1H || healed1H.timestamps.length < 4) return null;\n  const byDay = {};\n  for (let i = 0; i < healed1H.timestamps.length; i++) {\n    const day = toCairoDate(healed1H.timestamps[i]);\n    if (!byDay[day]) byDay[day] = [];\n    byDay[day].push(i);\n  }\n  const result = { timestamps: [], opens: [], highs: [], lows: [], closes: [], volumes: [] };\n  for (const day of Object.keys(byDay).sort()) {\n    const indices = byDay[day];\n    if (indices.length === 0) continue;\n    const dayO = healed1H.opens[indices[0]];\n    const dayH = Math.max(...indices.map(i => healed1H.highs[i]));\n    const dayL = Math.min(...indices.map(i => healed1H.lows[i]));\n    const dayC = healed1H.closes[indices[indices.length - 1]];\n    const dayV = indices.reduce((s, i) => s + (healed1H.volumes[i] || 0), 0);\n    if (dayC > 0) {\n      result.timestamps.push(healed1H.timestamps[indices[0]]);\n      result.opens.push(dayO); result.highs.push(dayH);\n      result.lows.push(dayL); result.closes.push(dayC);\n      result.volumes.push(dayV);\n    }\n  }\n  return result.closes.length >= 5 ? result : null;\n}\n\nfunction toPlainOHLCV(healed) {\n  if (!healed) return null;\n  const fixedCloses = fixPiastreAnomaly(healed.closes);\n  return {\n    opens: healed.opens, highs: healed.highs,\n    lows: healed.lows, closes: fixedCloses, volumes: healed.volumes\n  };\n}\n\n// MAIN ORCHESTRATOR\nconst fetchLog = [];\nconst results = [];\n\nfor (const stock of stocks) {\n  const bundle = {\n    stock: stock.ticker, fullName: stock.name,\n    runDate, currentPrice: 0, mtf: {}, error: null\n  };\n  let hasAnyData = false;\n\n  for (const tf of fetchMatrix) {\n    const isIntraday = (tf.id === '15m' || tf.id === '1H');\n    const intervalSec = tf.id === '15m' ? 900 : tf.id === '1H' ? 3600 : 0;\n\n    const result = await fetchYahoo(stock.ticker, tf.interval, tf.range);\n    fetchLog.push({ stock: stock.ticker, tf: tf.id, ok: result.ok, err: result.err || null });\n\n    if (result.ok) {\n      let raw = extractOHLCV(result.data);\n      if (raw && raw.timestamps.length > 0) {\n        raw = filterMOC(raw, isIntraday);\n        if (isIntraday && intervalSec > 0) raw = healGrid(raw, intervalSec);\n        const plain = toPlainOHLCV(raw);\n        if (plain && plain.closes.length >= 10) {\n          bundle.mtf[tf.id] = plain;\n          hasAnyData = true;\n          const lastClose = plain.closes[plain.closes.length - 1];\n          if (lastClose > 0) bundle.currentPrice = +lastClose.toFixed(2);\n        }\n        if (tf.id === '1H' && raw) {\n          const synth4H = synthesize4H(raw);\n          const plain4H = toPlainOHLCV(synth4H);\n          if (plain4H && plain4H.closes.length >= 10) {\n            bundle.mtf['4H'] = plain4H;\n          }\n        }\n      }\n    }\n    await sleep(2000);\n  }\n\n  if (!hasAnyData) {\n    bundle.error = 'No data from Yahoo Finance for ' + stock.ticker + '.CA across all timeframes.';\n  } else if (!bundle.mtf['4H']) {\n    bundle.error = 'Warning: Missing 4H macro anchor for ' + stock.ticker + '. Partial TA only.';\n  }\n\n  results.push({ json: bundle });\n}\n\nresults.push({ json: { _fetchLog: fetchLog } });\nreturn results;\n"
      },
      "id": "628119d6-497b-4164-aa2b-e292df633940",
      "name": "Fetch Yahoo OHLCV (All TFs)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6928,
        -1424
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*\n * TA ENGINE — Multi-Timeframe + EGX Research Optimized\n *\n * EXISTING (kept): EMA, RSI-14, MACD 12/26/9, ATR, Zigzag, Elliott Wave,\n *                  Fibonacci, OBV, A/D Line, Volume Spikes, Pattern Detection\n *\n * NEW (from EGX research):\n *   - RSI Short (3-period, 85/15) — 91% win rate on EGX\n *   - MACD EGX (8/17/9) — optimized for EGX volatility\n *   - Ichimoku (7/22/44) — adapted for 5-day EGX week\n *   - MFI (14-period, 80/20) — smart money flow detection\n *   - CMF (20-period) — accumulation/distribution confirmation\n *   - ADX/DMI (14-period) — trend strength filter\n *   - Bollinger Bands (10/2.5) — volatility squeeze detection\n *   - Stochastic (9/3/2) — quick oscillator signals\n */\n\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst TF_HIERARCHY = ['1W', '4H', '1H', '15m'];\nconst TF_WEIGHTS = { '1W': 2, '4H': 5, '1H': 3, '15m': 2 };\nconst ZZ_THRESHOLDS = { '1W': 0.06, '4H': 0.04, '1H': 0.025, '15m': 0.015 };\n\n// ═══ CORE INDICATORS (existing) ═══\n\nfunction calcEMA(arr, p) {\n  if (!arr.length) return [];\n  const k = 2 / (p + 1), e = [arr[0]];\n  for (let i = 1; i < arr.length; i++) e.push(arr[i] * k + e[i - 1] * (1 - k));\n  return e;\n}\n\nfunction calcRSI(closes, p) {\n  p = p || 14;\n  if (closes.length < p + 2) return { value: 50, prev: 50, slope: 0 };\n  const g = [], l = [];\n  for (let i = 1; i < closes.length; i++) {\n    const d = closes[i] - closes[i - 1];\n    g.push(d > 0 ? d : 0);\n    l.push(d < 0 ? -d : 0);\n  }\n  let ag = g.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let al = l.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let cur = 50, prev = 50;\n  for (let i = p; i < g.length; i++) {\n    ag = (ag * (p - 1) + g[i]) / p;\n    al = (al * (p - 1) + l[i]) / p;\n    prev = cur;\n    cur = al === 0 ? 100 : 100 - 100 / (1 + ag / al);\n  }\n  return { value: +cur.toFixed(2), prev: +prev.toFixed(2), slope: +(cur - prev).toFixed(2) };\n}\n\nfunction calcMACD(closes) {\n  if (closes.length < 27) return null;\n  const e12 = calcEMA(closes, 12), e26 = calcEMA(closes, 26);\n  const ml = e12.map((v, i) => v - e26[i]);\n  const sl = calcEMA(ml, 9);\n  const h = ml.map((v, i) => v - sl[i]);\n  const n = ml.length;\n  return {\n    line: +ml[n - 1].toFixed(4), signal: +sl[n - 1].toFixed(4),\n    histogram: +h[n - 1].toFixed(4),\n    prevHistogram: n > 1 ? +h[n - 2].toFixed(4) : 0,\n    histSlope: n > 1 ? +(h[n - 1] - h[n - 2]).toFixed(4) : 0,\n    crossover: n > 1 && ml[n - 2] < sl[n - 2] && ml[n - 1] > sl[n - 1] ? 'bullish'\n             : n > 1 && ml[n - 2] > sl[n - 2] && ml[n - 1] < sl[n - 1] ? 'bearish' : 'none'\n  };\n}\n\nfunction calcATR(H, L, C, p) {\n  p = p || 14;\n  if (C.length < 2) return 0;\n  const tr = [];\n  for (let i = 1; i < C.length; i++)\n    tr.push(Math.max(H[i] - L[i], Math.abs(H[i] - C[i - 1]), Math.abs(L[i] - C[i - 1])));\n  if (tr.length < p) return +(tr.reduce((a, b) => a + b, 0) / tr.length).toFixed(4);\n  let a = tr.slice(0, p).reduce((x, y) => x + y, 0) / p;\n  for (let i = p; i < tr.length; i++) a = (a * (p - 1) + tr[i]) / p;\n  return +a.toFixed(4);\n}\n\n// ═══ NEW: RSI SHORT-TERM (3-period, 85/15) ═══\nfunction calcRSIShort(closes) {\n  const p = 3;\n  if (closes.length < p + 2) return { value: 50, signal: 'neutral' };\n  const g = [], l = [];\n  for (let i = 1; i < closes.length; i++) {\n    const d = closes[i] - closes[i - 1];\n    g.push(d > 0 ? d : 0);\n    l.push(d < 0 ? -d : 0);\n  }\n  let ag = g.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let al = l.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let cur = 50;\n  for (let i = p; i < g.length; i++) {\n    ag = (ag * (p - 1) + g[i]) / p;\n    al = (al * (p - 1) + l[i]) / p;\n    cur = al === 0 ? 100 : 100 - 100 / (1 + ag / al);\n  }\n  const val = +cur.toFixed(2);\n  let signal = 'neutral';\n  if (val >= 85) signal = 'overbought';\n  else if (val <= 15) signal = 'oversold';\n  else if (val >= 70) signal = 'bullish';\n  else if (val <= 30) signal = 'bearish';\n  return { value: val, signal };\n}\n\n// ═══ NEW: MACD EGX-OPTIMIZED (8/17/9) ═══\nfunction calcMACDEGX(closes) {\n  if (closes.length < 18) return null;\n  const e8 = calcEMA(closes, 8), e17 = calcEMA(closes, 17);\n  const ml = e8.map((v, i) => v - e17[i]);\n  const sl = calcEMA(ml, 9);\n  const h = ml.map((v, i) => v - sl[i]);\n  const n = ml.length;\n  return {\n    line: +ml[n-1].toFixed(4), signal: +sl[n-1].toFixed(4),\n    histogram: +h[n-1].toFixed(4),\n    histSlope: n > 1 ? +(h[n-1] - h[n-2]).toFixed(4) : 0,\n    crossover: n > 1 && ml[n-2] < sl[n-2] && ml[n-1] > sl[n-1] ? 'bullish'\n             : n > 1 && ml[n-2] > sl[n-2] && ml[n-1] < sl[n-1] ? 'bearish' : 'none'\n  };\n}\n\n// ═══ NEW: ICHIMOKU (7/22/44 EGX-adapted for 5-day week) ═══\nfunction calcIchimoku(highs, lows, closes) {\n  const tenkanP = 7, kijunP = 22, senkouBP = 44;\n  if (closes.length < senkouBP + 1) return null;\n\n  function donchianMid(h, l, period, idx) {\n    const start = Math.max(0, idx - period + 1);\n    let hi = -Infinity, lo = Infinity;\n    for (let i = start; i <= idx; i++) {\n      if (h[i] > hi) hi = h[i];\n      if (l[i] < lo) lo = l[i];\n    }\n    return (hi + lo) / 2;\n  }\n\n  const n = closes.length - 1;\n  const tenkan = +donchianMid(highs, lows, tenkanP, n).toFixed(4);\n  const kijun = +donchianMid(highs, lows, kijunP, n).toFixed(4);\n  const senkouA = +((tenkan + kijun) / 2).toFixed(4);\n  const senkouB = +donchianMid(highs, lows, senkouBP, n).toFixed(4);\n  const price = closes[n];\n\n  const cloudTop = Math.max(senkouA, senkouB);\n  const cloudBot = Math.min(senkouA, senkouB);\n  let cloud = 'inside_cloud';\n  if (price > cloudTop) cloud = 'above_cloud';\n  else if (price < cloudBot) cloud = 'below_cloud';\n\n  const tkCross = tenkan > kijun ? 'bullish' : tenkan < kijun ? 'bearish' : 'neutral';\n\n  return { tenkan, kijun, senkouA, senkouB, cloud, tkCross };\n}\n\n// ═══ NEW: MFI (Money Flow Index, 14-period) ═══\nfunction calcMFI(highs, lows, closes, volumes) {\n  const p = 14;\n  if (closes.length < p + 1) return { value: 50, signal: 'neutral' };\n  const tp = closes.map((c, i) => (highs[i] + lows[i] + c) / 3);\n  let posMF = 0, negMF = 0;\n  for (let i = closes.length - p; i < closes.length; i++) {\n    if (i <= 0) continue;\n    const mf = tp[i] * volumes[i];\n    if (tp[i] > tp[i-1]) posMF += mf;\n    else negMF += mf;\n  }\n  const mfr = negMF === 0 ? 100 : posMF / negMF;\n  const val = +(100 - 100 / (1 + mfr)).toFixed(2);\n  let signal = 'neutral';\n  if (val >= 80) signal = 'overbought';\n  else if (val <= 20) signal = 'oversold';\n  return { value: val, signal };\n}\n\n// ═══ NEW: CMF (Chaikin Money Flow, 20-period) ═══\nfunction calcCMF(highs, lows, closes, volumes) {\n  const p = 20;\n  if (closes.length < p) return { value: 0, signal: 'neutral' };\n  let mfvSum = 0, volSum = 0;\n  for (let i = closes.length - p; i < closes.length; i++) {\n    const range = highs[i] - lows[i];\n    if (range > 0) {\n      const mfm = ((closes[i] - lows[i]) - (highs[i] - closes[i])) / range;\n      mfvSum += mfm * volumes[i];\n    }\n    volSum += volumes[i];\n  }\n  const val = volSum === 0 ? 0 : +(mfvSum / volSum).toFixed(4);\n  let signal = 'neutral';\n  if (val > 0.05) signal = 'accumulation';\n  else if (val < -0.05) signal = 'distribution';\n  return { value: val, signal };\n}\n\n// ═══ NEW: ADX/DMI (14-period) ═══\nfunction calcADX(highs, lows, closes) {\n  const p = 14;\n  if (closes.length < p * 2) return { adx: 0, pdi: 0, mdi: 0, signal: 'no_trend' };\n  const dmP = [], dmM = [], tr = [];\n  for (let i = 1; i < closes.length; i++) {\n    const upMove = highs[i] - highs[i-1];\n    const downMove = lows[i-1] - lows[i];\n    dmP.push(upMove > downMove && upMove > 0 ? upMove : 0);\n    dmM.push(downMove > upMove && downMove > 0 ? downMove : 0);\n    tr.push(Math.max(highs[i] - lows[i], Math.abs(highs[i] - closes[i-1]), Math.abs(lows[i] - closes[i-1])));\n  }\n  let atrS = tr.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let dmPS = dmP.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  let dmMS = dmM.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  const dxArr = [];\n  for (let i = p; i < tr.length; i++) {\n    atrS = (atrS * (p-1) + tr[i]) / p;\n    dmPS = (dmPS * (p-1) + dmP[i]) / p;\n    dmMS = (dmMS * (p-1) + dmM[i]) / p;\n    const pdi = atrS > 0 ? (dmPS / atrS) * 100 : 0;\n    const mdi = atrS > 0 ? (dmMS / atrS) * 100 : 0;\n    const sum = pdi + mdi;\n    dxArr.push(sum > 0 ? (Math.abs(pdi - mdi) / sum) * 100 : 0);\n  }\n  if (dxArr.length < p) return { adx: 0, pdi: 0, mdi: 0, signal: 'no_trend' };\n  let adx = dxArr.slice(0, p).reduce((a, b) => a + b, 0) / p;\n  for (let i = p; i < dxArr.length; i++) adx = (adx * (p-1) + dxArr[i]) / p;\n  const lastPdi = atrS > 0 ? +(dmPS / atrS * 100).toFixed(2) : 0;\n  const lastMdi = atrS > 0 ? +(dmMS / atrS * 100).toFixed(2) : 0;\n  const adxVal = +adx.toFixed(2);\n  let signal = 'no_trend';\n  if (adxVal > 25) signal = lastPdi > lastMdi ? 'strong_uptrend' : 'strong_downtrend';\n  else if (adxVal > 20) signal = lastPdi > lastMdi ? 'weak_uptrend' : 'weak_downtrend';\n  else signal = 'ranging';\n  return { adx: adxVal, pdi: lastPdi, mdi: lastMdi, signal };\n}\n\n// ═══ NEW: BOLLINGER BANDS (10/2.5 for EGX intraday) ═══\nfunction calcBollinger(closes) {\n  const p = 10, mult = 2.5;\n  if (closes.length < p) return null;\n  const slice = closes.slice(-p);\n  const sma = slice.reduce((a, b) => a + b, 0) / p;\n  const variance = slice.reduce((s, v) => s + Math.pow(v - sma, 2), 0) / p;\n  const stdDev = Math.sqrt(variance);\n  const upper = +(sma + mult * stdDev).toFixed(4);\n  const lower = +(sma - mult * stdDev).toFixed(4);\n  const width = +((upper - lower) / sma * 100).toFixed(2);\n  const price = closes[closes.length - 1];\n  const pctB = upper !== lower ? +((price - lower) / (upper - lower) * 100).toFixed(2) : 50;\n  let signal = 'neutral';\n  if (pctB > 100) signal = 'above_upper';\n  else if (pctB < 0) signal = 'below_lower';\n  else if (width < 3) signal = 'squeeze';\n  return { upper, lower, middle: +sma.toFixed(4), width, pctB, signal };\n}\n\n// ═══ NEW: STOCHASTIC (9/3/2 — quick signals) ═══\nfunction calcStochastic(highs, lows, closes) {\n  const kP = 9, dP = 3, slow = 2;\n  if (closes.length < kP + dP + slow) return null;\n  const rawK = [];\n  for (let i = kP - 1; i < closes.length; i++) {\n    let hi = -Infinity, lo = Infinity;\n    for (let j = i - kP + 1; j <= i; j++) {\n      if (highs[j] > hi) hi = highs[j];\n      if (lows[j] < lo) lo = lows[j];\n    }\n    const range = hi - lo;\n    rawK.push(range > 0 ? ((closes[i] - lo) / range) * 100 : 50);\n  }\n  const slowK = [];\n  for (let i = slow - 1; i < rawK.length; i++) {\n    let sum = 0;\n    for (let j = i - slow + 1; j <= i; j++) sum += rawK[j];\n    slowK.push(sum / slow);\n  }\n  const dLine = [];\n  for (let i = dP - 1; i < slowK.length; i++) {\n    let sum = 0;\n    for (let j = i - dP + 1; j <= i; j++) sum += slowK[j];\n    dLine.push(sum / dP);\n  }\n  if (!slowK.length || !dLine.length) return null;\n  const k = +slowK[slowK.length - 1].toFixed(2);\n  const d = +dLine[dLine.length - 1].toFixed(2);\n  const prevK = slowK.length > 1 ? +slowK[slowK.length - 2].toFixed(2) : k;\n  const prevD = dLine.length > 1 ? +dLine[dLine.length - 2].toFixed(2) : d;\n  let signal = 'neutral';\n  if (k < 20 && d < 20) signal = 'oversold';\n  else if (k > 80 && d > 80) signal = 'overbought';\n  let crossover = 'none';\n  if (prevK < prevD && k > d) crossover = 'bullish';\n  else if (prevK > prevD && k < d) crossover = 'bearish';\n  return { k, d, signal, crossover };\n}\n\n// ═══ ZIGZAG / ELLIOTT / FIBONACCI (existing, kept) ═══\n\nfunction zigzag(highs, lows, threshold) {\n  if (highs.length < 5) return [];\n  const swings = [];\n  let dir = 0, lastIdx = 0;\n  while (lastIdx < highs.length && (highs[lastIdx] == null || lows[lastIdx] == null)) lastIdx++;\n  if (lastIdx >= highs.length) return [];\n  let lastHigh = highs[lastIdx], lastLow = lows[lastIdx];\n  for (let i = lastIdx + 1; i < highs.length; i++) {\n    if (highs[i] == null || lows[i] == null) continue;\n    if (dir === 0) {\n      if (highs[i] >= lastLow * (1 + threshold)) {\n        swings.push({ idx: lastIdx, price: lastLow, type: 'L' });\n        dir = 1; lastIdx = i; lastHigh = highs[i];\n      } else if (lows[i] <= lastHigh * (1 - threshold)) {\n        swings.push({ idx: lastIdx, price: lastHigh, type: 'H' });\n        dir = -1; lastIdx = i; lastLow = lows[i];\n      }\n    } else if (dir === 1) {\n      if (highs[i] > lastHigh) { lastIdx = i; lastHigh = highs[i]; }\n      else if (lows[i] <= lastHigh * (1 - threshold)) {\n        swings.push({ idx: lastIdx, price: lastHigh, type: 'H' });\n        dir = -1; lastIdx = i; lastLow = lows[i];\n      }\n    } else {\n      if (lows[i] < lastLow) { lastIdx = i; lastLow = lows[i]; }\n      else if (highs[i] >= lastLow * (1 + threshold)) {\n        swings.push({ idx: lastIdx, price: lastLow, type: 'L' });\n        dir = 1; lastIdx = i; lastHigh = highs[i];\n      }\n    }\n  }\n  if (dir === 1) swings.push({ idx: lastIdx, price: lastHigh, type: 'H' });\n  else if (dir === -1) swings.push({ idx: lastIdx, price: lastLow, type: 'L' });\n  return swings;\n}\n\nfunction detectElliott(swings) {\n  if (swings.length < 4) return { phase: 'unknown', position: 0, direction: 'none', quality: 0, label: 'N/A', waveCount: 0, subWave: null };\n  const recent = swings.slice(-12);\n  const lastSwing = recent[recent.length - 1];\n  let startIdx = -1;\n  const lookForType = lastSwing.type === 'H' ? 'L' : 'H';\n  for (let i = recent.length - 2; i >= 0; i--) {\n    if (recent[i].type === lookForType) {\n      if (startIdx === -1) startIdx = i;\n      else {\n        if (lookForType === 'L' && recent[i].price < recent[startIdx].price) startIdx = i;\n        else if (lookForType === 'H' && recent[i].price > recent[startIdx].price) startIdx = i;\n        else break;\n      }\n    }\n  }\n  if (startIdx === -1) startIdx = 0;\n  const waveSwings = recent.slice(startIdx);\n  const waveCount = Math.max(0, waveSwings.length - 1);\n  const direction = lastSwing.type === 'H' ? 'up' : 'down';\n\n  let phase, position;\n  if (waveCount >= 1 && waveCount <= 5) { phase = 'impulse'; position = waveCount; }\n  else if (waveCount >= 6 && waveCount <= 8) { phase = 'corrective'; position = waveCount - 5; }\n  else if (waveCount > 8) { phase = 'extended'; position = waveCount; }\n  else { phase = 'forming'; position = 0; }\n\n  let quality = 30;\n  if (phase === 'impulse' && waveSwings.length >= 6) {\n    const waveSizes = [];\n    for (let i = 1; i < Math.min(waveSwings.length, 6); i++)\n      waveSizes.push(Math.abs(waveSwings[i].price - waveSwings[i - 1].price));\n    if (waveSizes.length >= 5) {\n      const w1 = waveSizes[0], w3 = waveSizes[2], w5 = waveSizes[4];\n      if (w3 >= Math.min(w1, w5)) quality += 20;\n      if (w3 >= Math.max(w1, w5)) quality += 10;\n    }\n    if (waveSwings.length >= 3) {\n      const w1Start = waveSwings[0].price, w2End = waveSwings[2].price;\n      if (direction === 'up' && w2End > w1Start) quality += 15;\n      else if (direction === 'down' && w2End < w1Start) quality += 15;\n    }\n    if (waveSwings.length >= 5) {\n      const w1End = waveSwings[1].price, w4End = waveSwings[4].price;\n      if (direction === 'up' && w4End > w1End * 0.98) quality += 15;\n      else if (direction === 'down' && w4End < w1End * 1.02) quality += 15;\n    }\n    quality = Math.min(95, quality);\n  } else if (phase === 'impulse' && waveCount >= 2) {\n    quality = 40 + waveCount * 5;\n  } else if (phase === 'corrective') {\n    quality = 50;\n  }\n\n  // SUB-WAVE analysis: detect where we are within the current wave\n  let subWave = null;\n  if (waveSwings.length >= 4) {\n    const lastWaveStart = waveSwings[waveSwings.length - 2];\n    const lastWaveEnd = waveSwings[waveSwings.length - 1];\n    const waveRange = Math.abs(lastWaveEnd.price - lastWaveStart.price);\n    const prevWaveRange = waveSwings.length >= 3\n      ? Math.abs(waveSwings[waveSwings.length - 2].price - waveSwings[waveSwings.length - 3].price) : 0;\n\n    if (prevWaveRange > 0) {\n      const ratio = +(waveRange / prevWaveRange).toFixed(2);\n      let fibMatch = 'none';\n      if (Math.abs(ratio - 0.618) < 0.08) fibMatch = '61.8%';\n      else if (Math.abs(ratio - 0.382) < 0.08) fibMatch = '38.2%';\n      else if (Math.abs(ratio - 1.618) < 0.12) fibMatch = '161.8%';\n      else if (Math.abs(ratio - 1.0) < 0.08) fibMatch = '100%';\n      else if (Math.abs(ratio - 2.618) < 0.15) fibMatch = '261.8%';\n\n      subWave = { ratio, fibMatch, waveRange: +waveRange.toFixed(4) };\n    }\n  }\n\n  const impulseLabels = { 1: 'W1', 2: 'W2', 3: 'W3', 4: 'W4', 5: 'W5' };\n  const correctiveLabels = { 1: 'A', 2: 'B', 3: 'C' };\n  const arrow = direction === 'up' ? '\\u2191' : '\\u2193';\n  let label;\n  if (phase === 'impulse') label = (impulseLabels[position] || 'W' + position) + arrow;\n  else if (phase === 'corrective') label = (correctiveLabels[position] || position) + arrow;\n  else label = phase + arrow;\n\n  return { phase, position, direction, waveCount, quality, label, subWave };\n}\n\nfunction calcFibonacci(swings, currentPrice) {\n  if (swings.length < 2 || currentPrice == null || currentPrice <= 0) return null;\n  let lastHigh = null, lastLow = null;\n  for (let i = swings.length - 1; i >= 0; i--) {\n    if (swings[i].type === 'H' && !lastHigh && swings[i].price != null) lastHigh = swings[i];\n    if (swings[i].type === 'L' && !lastLow && swings[i].price != null) lastLow = swings[i];\n    if (lastHigh && lastLow) break;\n  }\n  if (!lastHigh || !lastLow) return null;\n  const high = lastHigh.price, low = lastLow.price;\n  if (high == null || low == null) return null;\n  const range = high - low;\n  if (range <= 0) return null;\n  const isUpSwing = lastLow.idx < lastHigh.idx;\n  const retRatios = [0.236, 0.382, 0.5, 0.618, 0.786];\n  const extRatios = [1.272, 1.618, 2.618];\n  const retracements = retRatios.map(r => +(isUpSwing ? high - range * r : low + range * r).toFixed(2));\n  const extensions = extRatios.map(r => +(isUpSwing ? low + range * r : high - range * r).toFixed(2));\n  const allLevels = [...retracements, ...extensions];\n  let nearest = null, minDist = Infinity;\n  for (const lvl of allLevels) {\n    const dist = Math.abs(currentPrice - lvl);\n    if (dist < minDist) { minDist = dist; nearest = lvl; }\n  }\n  return {\n    swingHigh: +high.toFixed(2), swingLow: +low.toFixed(2),\n    retracements, extensions,\n    nearest: nearest ? +nearest.toFixed(2) : null,\n    nearestDist: nearest ? +(minDist / currentPrice * 100).toFixed(2) : null\n  };\n}\n\n// ═══ VOLUME ANALYSIS (existing + MFI/CMF) ═══\n\nfunction calcOBV(closes, volumes) {\n  if (closes.length < 10) return { trend: 'neutral', divergence: 'none' };\n  let obv = 0;\n  const obvArr = [0];\n  for (let i = 1; i < closes.length; i++) {\n    if (closes[i] > closes[i - 1]) obv += volumes[i];\n    else if (closes[i] < closes[i - 1]) obv -= volumes[i];\n    obvArr.push(obv);\n  }\n  const lb = Math.min(10, obvArr.length - 1);\n  const obvStart = obvArr[obvArr.length - 1 - lb];\n  const obvEnd = obvArr[obvArr.length - 1];\n  const obvTrend = obvEnd > obvStart * 1.05 ? 'rising' : obvEnd < obvStart * 0.95 ? 'falling' : 'flat';\n  const priceStart = closes[closes.length - 1 - lb];\n  const priceEnd = closes[closes.length - 1];\n  const priceUp = priceEnd > priceStart;\n  const obvUp = obvTrend === 'rising';\n  let divergence = 'none';\n  if (priceUp && !obvUp) divergence = 'bearish_divergence';\n  else if (!priceUp && obvUp) divergence = 'bullish_divergence';\n  return { trend: obvTrend, divergence };\n}\n\nfunction calcADLine(highs, lows, closes, volumes) {\n  if (closes.length < 10) return { trend: 'neutral' };\n  let ad = 0, adPrev = 0;\n  const startPrev = Math.max(0, closes.length - 11);\n  for (let i = 0; i < closes.length; i++) {\n    const range = highs[i] - lows[i];\n    if (range > 0) {\n      const mfm = ((closes[i] - lows[i]) - (highs[i] - closes[i])) / range;\n      ad += mfm * volumes[i];\n      if (i >= startPrev && i < closes.length - 1) adPrev += mfm * volumes[i];\n    }\n  }\n  return { trend: ad > adPrev * 1.05 ? 'accumulation' : ad < adPrev * 0.95 ? 'distribution' : 'neutral' };\n}\n\nfunction detectVolumeSpikes(volumes) {\n  if (volumes.length < 21) return { hasSpike: false, ratio: 1 };\n  const recent = volumes.slice(-21, -1);\n  const avg = recent.reduce((a, b) => a + b, 0) / recent.length;\n  const lastVol = volumes[volumes.length - 1];\n  const ratio = avg > 0 ? +(lastVol / avg).toFixed(2) : 1;\n  return { hasSpike: ratio > 2, ratio };\n}\n\nfunction volumeAnalysis(highs, lows, closes, volumes) {\n  const obv = calcOBV(closes, volumes);\n  const ad = calcADLine(highs, lows, closes, volumes);\n  const spikes = detectVolumeSpikes(volumes);\n  const mfi = calcMFI(highs, lows, closes, volumes);\n  const cmf = calcCMF(highs, lows, closes, volumes);\n\n  // Enhanced smart money signal combining all volume indicators\n  let smartMoney = 'neutral';\n  let smConfidence = 0;\n\n  // OBV divergence\n  if (obv.divergence === 'bullish_divergence') smConfidence += 2;\n  else if (obv.divergence === 'bearish_divergence') smConfidence -= 2;\n\n  // A/D Line\n  if (ad.trend === 'accumulation') smConfidence += 1;\n  else if (ad.trend === 'distribution') smConfidence -= 1;\n\n  // MFI\n  if (mfi.signal === 'oversold') smConfidence += 2;\n  else if (mfi.signal === 'overbought') smConfidence -= 2;\n\n  // CMF\n  if (cmf.signal === 'accumulation') smConfidence += 2;\n  else if (cmf.signal === 'distribution') smConfidence -= 2;\n\n  // Volume spike amplifies the signal\n  if (spikes.hasSpike) {\n    if (smConfidence > 0) smConfidence += 1;\n    else if (smConfidence < 0) smConfidence -= 1;\n  }\n\n  if (smConfidence >= 4) smartMoney = 'strong_accumulation';\n  else if (smConfidence >= 2) smartMoney = 'accumulation';\n  else if (smConfidence <= -4) smartMoney = 'strong_distribution';\n  else if (smConfidence <= -2) smartMoney = 'distribution';\n  else if (spikes.hasSpike) smartMoney = 'high_activity';\n\n  return {\n    obv: obv.trend, obvDivergence: obv.divergence,\n    adLine: ad.trend,\n    volumeSpike: spikes.hasSpike, volumeRatio: spikes.ratio,\n    mfi: mfi.value, mfiSignal: mfi.signal,\n    cmf: cmf.value, cmfSignal: cmf.signal,\n    smartMoney, smConfidence\n  };\n}\n\n// ═══ PATTERN DETECTION (existing, kept) ═══\n\nfunction detectPatterns(swings) {\n  if (swings.length < 4) return { structure: 'unknown', patterns: [] };\n  const patterns = [];\n  const recentHighs = swings.filter(s => s.type === 'H').slice(-4).map(s => s.price);\n  const recentLows = swings.filter(s => s.type === 'L').slice(-4).map(s => s.price);\n  let structure = 'unknown';\n  if (recentHighs.length >= 2 && recentLows.length >= 2) {\n    const hh = recentHighs[recentHighs.length - 1] > recentHighs[recentHighs.length - 2];\n    const hl = recentLows[recentLows.length - 1] > recentLows[recentLows.length - 2];\n    const lh = recentHighs[recentHighs.length - 1] < recentHighs[recentHighs.length - 2];\n    const ll = recentLows[recentLows.length - 1] < recentLows[recentLows.length - 2];\n    if (hh && hl) structure = 'uptrend (HH/HL)';\n    else if (lh && ll) structure = 'downtrend (LH/LL)';\n    else if (hh && ll) structure = 'expanding';\n    else if (lh && hl) structure = 'contracting';\n    else structure = 'ranging';\n  }\n  if (recentLows.length >= 2) {\n    const l = recentLows.slice(-2);\n    if (Math.abs(l[0] - l[1]) / l[0] < 0.02) patterns.push('Double Bottom');\n  }\n  if (recentHighs.length >= 2) {\n    const h = recentHighs.slice(-2);\n    if (Math.abs(h[0] - h[1]) / h[0] < 0.02) patterns.push('Double Top');\n  }\n  return { structure, patterns };\n}\n\n// ═══ LEGACY S/R + MERGE (existing, kept) ═══\n\nfunction calcLegacySR(H, L, C) {\n  const raw = [];\n  for (let i = 2; i < C.length - 2; i++) {\n    if (H[i] > H[i-1] && H[i] > H[i-2] && H[i] > H[i+1] && H[i] > H[i+2]) raw.push({ price: H[i], type: 'R' });\n    if (L[i] < L[i-1] && L[i] < L[i-2] && L[i] < L[i+1] && L[i] < L[i+2]) raw.push({ price: L[i], type: 'S' });\n  }\n  const used = new Set(), cl = [];\n  for (let i = 0; i < raw.length; i++) {\n    if (used.has(i)) continue;\n    let sum = raw[i].price, cnt = 1;\n    for (let j = i + 1; j < raw.length; j++)\n      if (!used.has(j) && Math.abs(raw[j].price - raw[i].price) / raw[i].price < 0.02) {\n        sum += raw[j].price; cnt++; used.add(j);\n      }\n    used.add(i);\n    cl.push({ p: +(sum / cnt).toFixed(2), s: cnt });\n  }\n  cl.sort((a, b) => b.s - a.s);\n  const price = C[C.length - 1];\n  return {\n    supports: cl.filter(x => x.p < price).sort((a, b) => b.p - a.p).slice(0, 3).map(x => x.p),\n    resistances: cl.filter(x => x.p >= price).sort((a, b) => a.p - b.p).slice(0, 3).map(x => x.p)\n  };\n}\n\nfunction mergeSR(legacy, fib, price) {\n  const supports = [...(legacy?.supports || [])];\n  const resistances = [...(legacy?.resistances || [])];\n  if (fib) {\n    for (const lvl of fib.retracements) {\n      if (lvl < price && !supports.find(s => Math.abs(s - lvl) / price < 0.01)) supports.push(lvl);\n      else if (lvl >= price && !resistances.find(r => Math.abs(r - lvl) / price < 0.01)) resistances.push(lvl);\n    }\n    for (const lvl of fib.extensions) {\n      if (lvl >= price && !resistances.find(r => Math.abs(r - lvl) / price < 0.01)) resistances.push(lvl);\n    }\n  }\n  supports.sort((a, b) => b - a);\n  resistances.sort((a, b) => a - b);\n  return { supports: supports.slice(0, 5), resistances: resistances.slice(0, 5) };\n}\n\n// ═══ COMPUTE ONE TIMEFRAME (expanded with all new indicators) ═══\n\nfunction computeTF(ohlcv, tfId) {\n  const { opens, highs, lows, closes, volumes } = ohlcv;\n  if (closes.length < 20) return null;\n  const n = closes.length;\n  let price = closes[n - 1];\n  if (price == null || price <= 0) {\n    for (let i = n - 2; i >= 0; i--) { if (closes[i] != null && closes[i] > 0) { price = closes[i]; break; } }\n  }\n  if (price == null || price <= 0) return null;\n\n  // Core EMAs\n  const e9 = calcEMA(closes, 9), e21 = calcEMA(closes, 21);\n  const e50 = calcEMA(closes, Math.min(50, closes.length));\n  const ema9 = +e9[n-1].toFixed(4), ema21 = +e21[n-1].toFixed(4), ema50 = +e50[n-1].toFixed(4);\n  const align = ema9 > ema21 && ema21 > ema50 ? 'bullish'\n              : ema9 < ema21 && ema21 < ema50 ? 'bearish' : 'mixed';\n\n  // RSI-14 (existing)\n  const rsi = calcRSI(closes, 14);\n  // RSI-3 (new — EGX optimized 91% win rate)\n  const rsiShort = calcRSIShort(closes);\n\n  // MACD standard (existing)\n  const macd = calcMACD(closes);\n  // MACD EGX (new — 8/17/9)\n  const macdEgx = calcMACDEGX(closes);\n\n  // ATR (existing)\n  const atr = calcATR(highs, lows, closes, 14);\n\n  // Ichimoku (new — 7/22/44)\n  const ichimoku = calcIchimoku(highs, lows, closes);\n\n  // ADX (new)\n  const adx = calcADX(highs, lows, closes);\n\n  // Bollinger (new — 10/2.5)\n  const bollinger = calcBollinger(closes);\n\n  // Stochastic (new — 9/3/2)\n  const stochastic = calcStochastic(highs, lows, closes);\n\n  // Zigzag + Elliott\n  const zzThreshold = ZZ_THRESHOLDS[tfId] || 0.03;\n  const swings = zigzag(highs, lows, zzThreshold);\n  const elliott = detectElliott(swings);\n  const fib = calcFibonacci(swings, price);\n  const legacySR = calcLegacySR(highs, lows, closes);\n  const mergedSR = mergeSR(legacySR, fib, price);\n\n  // Volume analysis (enhanced with MFI/CMF)\n  const vol = volumeAnalysis(highs, lows, closes, volumes);\n\n  // Pattern detection\n  const pats = detectPatterns(swings);\n\n  return {\n    ema9, ema21, ema50, emaAlign: align,\n    rsi, rsiShort,\n    macd, macdEgx,\n    atr,\n    ichimoku, adx, bollinger, stochastic,\n    sr: mergedSR, elliott, fib,\n    volume: vol, patterns: pats\n  };\n}\n\n// ═══ CROSS-TF WAVE ALIGNMENT (existing, kept) ═══\n\nfunction waveAlignment(tfs) {\n  const waves = {};\n  for (const [tf, data] of Object.entries(tfs)) {\n    if (data?.elliott) waves[tf] = data.elliott;\n  }\n  const entries = Object.entries(waves);\n  if (entries.length < 2) return { aligned: false, signal: 'insufficient_data', detail: '' };\n  const directions = entries.map(([_, w]) => w.direction);\n  const allUp = directions.every(d => d === 'up');\n  const allDown = directions.every(d => d === 'down');\n  const higherTF = waves['1W'] || waves['4H'];\n  const lowerTF = waves['1H'] || waves['15m'];\n  let signal = 'neutral';\n  let detail = entries.map(([tf, w]) => tf + ':' + w.label).join(' | ');\n  if (allUp) {\n    signal = higherTF && higherTF.phase === 'impulse' && higherTF.position === 3\n           ? 'strong_bullish_alignment' : 'bullish_alignment';\n  } else if (allDown) {\n    signal = higherTF && higherTF.phase === 'impulse' && higherTF.position === 3\n           ? 'strong_bearish_alignment' : 'bearish_alignment';\n  } else if (higherTF && lowerTF) {\n    if (higherTF.direction === 'up' && lowerTF.phase === 'corrective') signal = 'pullback_in_uptrend';\n    else if (higherTF.direction === 'down' && lowerTF.phase === 'corrective') signal = 'bounce_in_downtrend';\n    else signal = 'divergent';\n  }\n  return { aligned: allUp || allDown, signal, detail };\n}\n\n// ═══ ENHANCED MTF CONFLUENCE (updated with all new indicators) ═══\n\nfunction confluence(tfs, waveAlign) {\n  let bull = 0, bear = 0, total = 0;\n  for (const [tf, data] of Object.entries(tfs)) {\n    if (!data) continue;\n    const w = TF_WEIGHTS[tf] || 1;\n    total += w;\n\n    // EMA alignment (10%)\n    if (data.emaAlign === 'bullish') bull += w * 0.10;\n    else if (data.emaAlign === 'bearish') bear += w * 0.10;\n\n    // RSI-14 trend (5%)\n    if (data.rsi?.value > 55) bull += w * 0.05;\n    else if (data.rsi?.value < 45) bear += w * 0.05;\n\n    // RSI-3 extreme signals (8% — high weight due to 91% win rate on EGX)\n    if (data.rsiShort?.signal === 'oversold') bull += w * 0.08;\n    else if (data.rsiShort?.signal === 'overbought') bear += w * 0.08;\n\n    // MACD EGX (8%)\n    if (data.macdEgx) {\n      if (data.macdEgx.histogram > 0 && data.macdEgx.histSlope > 0) bull += w * 0.05;\n      else if (data.macdEgx.histogram < 0 && data.macdEgx.histSlope < 0) bear += w * 0.05;\n      if (data.macdEgx.crossover === 'bullish') bull += w * 0.03;\n      else if (data.macdEgx.crossover === 'bearish') bear += w * 0.03;\n    }\n\n    // Ichimoku (7%)\n    if (data.ichimoku) {\n      if (data.ichimoku.cloud === 'above_cloud') bull += w * 0.05;\n      else if (data.ichimoku.cloud === 'below_cloud') bear += w * 0.05;\n      if (data.ichimoku.tkCross === 'bullish') bull += w * 0.02;\n      else if (data.ichimoku.tkCross === 'bearish') bear += w * 0.02;\n    }\n\n    // ADX + DMI (7%)\n    if (data.adx) {\n      if (data.adx.signal === 'strong_uptrend') bull += w * 0.07;\n      else if (data.adx.signal === 'strong_downtrend') bear += w * 0.07;\n      else if (data.adx.signal === 'weak_uptrend') bull += w * 0.03;\n      else if (data.adx.signal === 'weak_downtrend') bear += w * 0.03;\n    }\n\n    // Bollinger (5%)\n    if (data.bollinger) {\n      if (data.bollinger.signal === 'below_lower') bull += w * 0.05;\n      else if (data.bollinger.signal === 'above_upper') bear += w * 0.05;\n    }\n\n    // Stochastic (5%)\n    if (data.stochastic) {\n      if (data.stochastic.signal === 'oversold') bull += w * 0.03;\n      else if (data.stochastic.signal === 'overbought') bear += w * 0.03;\n      if (data.stochastic.crossover === 'bullish') bull += w * 0.02;\n      else if (data.stochastic.crossover === 'bearish') bear += w * 0.02;\n    }\n\n    // Elliott Wave (10%)\n    if (data.elliott) {\n      const ew = data.elliott;\n      if (ew.phase === 'impulse') {\n        if (ew.direction === 'up') {\n          if (ew.position === 3) bull += w * 0.10;\n          else if (ew.position === 1 || ew.position === 5) bull += w * 0.06;\n          else bull += w * 0.03;\n        } else {\n          if (ew.position === 3) bear += w * 0.10;\n          else if (ew.position === 1 || ew.position === 5) bear += w * 0.06;\n          else bear += w * 0.03;\n        }\n      } else if (ew.phase === 'corrective') {\n        if (ew.direction === 'up') bear += w * 0.05;\n        else bull += w * 0.05;\n      }\n    }\n\n    // Smart Money / Volume (10%)\n    if (data.volume) {\n      if (data.volume.smartMoney === 'strong_accumulation') bull += w * 0.10;\n      else if (data.volume.smartMoney === 'accumulation') bull += w * 0.06;\n      else if (data.volume.smartMoney === 'strong_distribution') bear += w * 0.10;\n      else if (data.volume.smartMoney === 'distribution') bear += w * 0.06;\n    }\n\n    // Patterns (5%)\n    if (data.patterns?.structure) {\n      if (data.patterns.structure.includes('uptrend')) bull += w * 0.05;\n      else if (data.patterns.structure.includes('downtrend')) bear += w * 0.05;\n      if (data.patterns.patterns?.includes('Double Bottom')) bull += w * 0.03;\n      if (data.patterns.patterns?.includes('Double Top')) bear += w * 0.03;\n    }\n  }\n\n  // Cross-TF wave alignment bonus (10%)\n  if (waveAlign && total > 0) {\n    const alignW = total * 0.10;\n    if (waveAlign.signal.includes('bullish')) bull += alignW;\n    else if (waveAlign.signal.includes('bearish')) bear += alignW;\n    if (waveAlign.signal.includes('strong_')) {\n      if (waveAlign.signal.includes('bullish')) bull += alignW * 0.5;\n      else bear += alignW * 0.5;\n    }\n  }\n\n  if (total === 0) return { score: 0, bias: 'neutral', strength: 'NONE' };\n  const net = +((bull - bear) / total * 100).toFixed(1);\n  return {\n    score: net,\n    bias: net > 15 ? 'bullish' : net < -15 ? 'bearish' : 'neutral',\n    strength: Math.abs(net) > 50 ? 'STRONG' : Math.abs(net) > 25 ? 'MODERATE' : 'WEAK'\n  };\n}\n\n// ═══ MAIN ═══\nconst results = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  if (d._fetchLog) { results.push(item); continue; }\n  if (d.error && Object.keys(d.mtf || {}).length === 0) { results.push(item); continue; }\n  const taResults = {};\n  for (const tf of TF_HIERARCHY) {\n    if (d.mtf?.[tf]) {\n      const ta = computeTF(d.mtf[tf], tf);\n      if (ta) taResults[tf] = ta;\n    }\n  }\n  const waveAlign = waveAlignment(taResults);\n  const conf = confluence(taResults, waveAlign);\n  results.push({ json: {\n    stock: d.stock, fullName: d.fullName, runDate: d.runDate,\n    currentPrice: d.currentPrice, error: d.error,\n    ta: taResults, confluence: conf,\n    waveAlignment: waveAlign,\n    availableTFs: Object.keys(taResults)\n  } });\n}\nreturn results;\n"
      },
      "id": "5a4470c4-5dd5-49ea-961d-a392ca2da636",
      "name": "TA Engine (All Timeframes)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7152,
        -1424
      ]
    },
    {
      "parameters": {
        "jsCode": "\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst httpReq = this.helpers.httpRequest;\nconst results = [];\n\n// Arabic month name → zero-based month index\nconst AR_MONTHS = {\n  'يناير': 0, 'فبراير': 1, 'مارس': 2, 'أبريل': 3,\n  'مايو': 4, 'يونيو': 5, 'يوليو': 6, 'أغسطس': 7,\n  'سبتمبر': 8, 'أكتوبر': 9, 'نوفمبر': 10, 'ديسمبر': 11\n};\n\nfunction parseArabicDate(str) {\n  if (!str) return null;\n  // Formats: \"3 مارس 10:44 ص\"  or  \"28 ديسمبر 2025 11:04 ص\"\n  const m = str.trim().match(/^(\\d{1,2})\\s+(\\S+?)(?:\\s+(\\d{4}))?\\s+\\d/);\n  if (!m) return null;\n  const month = AR_MONTHS[m[2]];\n  if (month === undefined) return null;\n  const year = m[3] ? parseInt(m[3]) : new Date().getFullYear();\n  return new Date(year, month, parseInt(m[1]));\n}\n\nfunction stripHtml(s) {\n  return (s || '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#\\d+;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction parseNewsList(html) {\n  const items = [];\n  // Each block has: date span → title link (always adjacent in content div)\n  const pat = /mi-article-media-block__date[^>]*>([\\s\\S]*?)<\\/span>[\\s\\S]{1,300}?mi-article-media-block__title[^>]*href=\"(\\/news\\/(\\d+)\\/[^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/g;\n  let m;\n  while ((m = pat.exec(html)) !== null) {\n    items.push({\n      dateStr: m[1].trim(),\n      url: m[2],\n      id: m[3],\n      title: stripHtml(m[4]).trim(),\n      dt: parseArabicDate(m[1].trim())\n    });\n  }\n  return items;\n}\n\nfunction extractArticleContent(html) {\n  const idx = html.indexOf('article__content-text');\n  if (idx === -1) return '';\n  const section = html.substring(idx, idx + 8000);\n  const parts = [];\n  const pPat = /<p[^>]*>([\\s\\S]*?)<\\/p>/g;\n  let pm;\n  while ((pm = pPat.exec(section)) !== null) {\n    const text = stripHtml(pm[1]);\n    if (text.length > 5) parts.push(text);\n  }\n  return parts.join('\\n').substring(0, 900);\n}\n\nconst LIST_HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36',\n  'Accept': 'text/html,application/xhtml+xml',\n  'Accept-Language': 'ar-EG,ar;q=0.9,en;q=0.5',\n  'Referer': 'https://www.mubasher.info/'\n};\n\nfor (const item of $input.all()) {\n  const out = { ...item.json, news: [] };\n  if (out._fetchLog || (out.error && !out.ta)) { results.push({ json: out }); continue; }\n\n  try {\n    const stockLower = (out.stock || '').toLowerCase();\n    const listUrl = 'https://www.mubasher.info/markets/EGX/stocks/' + stockLower + '/news';\n\n    const listResp = await httpReq({\n      method: 'GET', url: listUrl,\n      headers: LIST_HEADERS,\n      returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 15000\n    });\n\n    if (listResp.statusCode === 200) {\n      const html = typeof listResp.body === 'string' ? listResp.body : '';\n      const allNews = parseNewsList(html);\n      const oneWeekAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\n      const recent = allNews.filter(n => n.dt && n.dt >= oneWeekAgo).slice(0, 5);\n\n      for (const n of recent) {\n        await sleep(500);\n        let content = '';\n        try {\n          const articleUrl = 'https://www.mubasher.info/news/' + n.id;\n          const artResp = await httpReq({\n            method: 'GET', url: articleUrl,\n            headers: { ...LIST_HEADERS, Referer: listUrl },\n            returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 12000\n          });\n          if (artResp.statusCode === 200) {\n            const artHtml = typeof artResp.body === 'string' ? artResp.body : '';\n            content = extractArticleContent(artHtml);\n          }\n        } catch (artErr) { /* use title as fallback */ }\n\n        out.news.push({\n          title: n.title.substring(0, 200),\n          content: content || n.title,\n          date: n.dateStr,\n          url: 'https://www.mubasher.info' + n.url\n        });\n      }\n    }\n  } catch (e) {\n    out.news_error = e.message;\n  }\n\n  results.push({ json: out });\n  await sleep(400);\n}\n\nreturn results;\n"
      },
      "id": "671c0a63-e256-4c90-bd0e-0c24dfba5a0c",
      "name": "Fetch News (Mubasher)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7360,
        -1424
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*\n * COMPRESS DATA FOR AI\n * Includes all new EGX-optimized indicators.\n */\nif ($input.all()[0]?.json?._skip) return $input.all();\n\nconst TF_ORDER = ['1W', '4H', '1H', '15m'];\nconst TF_SHORT = { '1W': 'W', '4H': '4H', '1H': '1H', '15m': '15m' };\n\nfunction compressTF(ta) {\n  if (!ta) return null;\n  const c = {\n    ema: ta.emaAlign,\n    ema9: ta.ema9, ema21: ta.ema21, ema50: ta.ema50,\n    rsi: ta.rsi?.value, rsiPrev: ta.rsi?.prev, rsiSlp: ta.rsi?.slope\n  };\n\n  // RSI-3 (EGX optimized)\n  if (ta.rsiShort) {\n    c.rsi3 = ta.rsiShort.value;\n    c.rsi3Sig = ta.rsiShort.signal;\n  }\n\n  // MACD standard\n  if (ta.macd) {\n    c.mH = ta.macd.histogram;\n    c.mHS = ta.macd.histSlope;\n    c.mX = ta.macd.crossover;\n  }\n\n  // MACD EGX (8/17/9)\n  if (ta.macdEgx) {\n    c.mEgxH = ta.macdEgx.histogram;\n    c.mEgxHS = ta.macdEgx.histSlope;\n    c.mEgxX = ta.macdEgx.crossover;\n  }\n\n  c.atr = ta.atr;\n\n  // Ichimoku\n  if (ta.ichimoku) {\n    c.ichi = {\n      cloud: ta.ichimoku.cloud,\n      tk: ta.ichimoku.tkCross,\n      tenkan: ta.ichimoku.tenkan,\n      kijun: ta.ichimoku.kijun\n    };\n  }\n\n  // ADX\n  if (ta.adx) {\n    c.adx = { v: ta.adx.adx, pdi: ta.adx.pdi, mdi: ta.adx.mdi, sig: ta.adx.signal };\n  }\n\n  // Bollinger\n  if (ta.bollinger) {\n    c.bb = { u: ta.bollinger.upper, l: ta.bollinger.lower, w: ta.bollinger.width, pB: ta.bollinger.pctB, sig: ta.bollinger.signal };\n  }\n\n  // Stochastic\n  if (ta.stochastic) {\n    c.stoch = { k: ta.stochastic.k, d: ta.stochastic.d, sig: ta.stochastic.signal, x: ta.stochastic.crossover };\n  }\n\n  // S/R\n  if (ta.sr?.supports?.length) c.sup = ta.sr.supports;\n  if (ta.sr?.resistances?.length) c.res = ta.sr.resistances;\n\n  // Elliott Wave\n  if (ta.elliott && ta.elliott.label !== 'N/A') {\n    c.ew = { l: ta.elliott.label, p: ta.elliott.phase, q: ta.elliott.quality, d: ta.elliott.direction };\n    if (ta.elliott.subWave) c.ew.sub = ta.elliott.subWave;\n  }\n\n  // Fibonacci\n  if (ta.fib) {\n    c.fib = { sh: ta.fib.swingHigh, sl: ta.fib.swingLow, ret: ta.fib.retracements, ext: ta.fib.extensions, nr: ta.fib.nearest, nd: ta.fib.nearestDist };\n  }\n\n  // Volume / Smart Money\n  if (ta.volume) {\n    c.vol = {\n      sm: ta.volume.smartMoney, smc: ta.volume.smConfidence,\n      obv: ta.volume.obv, div: ta.volume.obvDivergence,\n      ad: ta.volume.adLine,\n      mfi: ta.volume.mfi, mfiSig: ta.volume.mfiSignal,\n      cmf: ta.volume.cmf, cmfSig: ta.volume.cmfSignal,\n      spike: ta.volume.volumeSpike, vr: ta.volume.volumeRatio\n    };\n  }\n\n  // Patterns\n  if (ta.patterns) {\n    c.pat = { st: ta.patterns.structure, p: ta.patterns.patterns };\n  }\n\n  return c;\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  if (d._fetchLog) { results.push({ json: d }); continue; }\n  const compressed = {\n    stock: d.stock, fullName: d.fullName,\n    currentPrice: d.currentPrice, error: d.error || null,\n    confluence: d.confluence, waveAlignment: d.waveAlignment || null,\n    tfs: (d.availableTFs || []).map(t => TF_SHORT[t] || t),\n    tf: {},\n    news: (d.news || []).slice(0, 5),\n    news_error: d.news_error || null\n  };\n  for (const tf of TF_ORDER) {\n    if (d.ta?.[tf]) {\n      const c = compressTF(d.ta[tf]);\n      if (c) compressed.tf[TF_SHORT[tf] || tf] = c;\n    }\n  }\n  results.push({ json: compressed });\n}\nreturn results;\n"
      },
      "id": "8e35bc55-bd4e-40cf-9e94-5be52225c5e6",
      "name": "Compress for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7584,
        -1424
      ]
    },
    {
      "parameters": {
        "jsCode": "\nif ($input.all()[0]?.json?._skip) return [{ json: { _skip: true, reason: 'EGX closed' } }];\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst httpReq = this.helpers.httpRequest;\n\nconst ZAI_API_KEY  = 'KEY';\nconst ZAI_ENDPOINT = 'https://open.bigmodel.cn/api/paas/v4/chat/completions';\nconst SLEEP_MS     = 1500;\nconst HTTP_TIMEOUT = 180000;\n\nconst SYSTEM_PROMPT = `You are an elite senior Technical Analyst specializing EXCLUSIVELY in the Egyptian Exchange (EGX).\nYou are analyzing a SINGLE stock with full focus. Provide deep, thorough analysis.\n\n=== EGX MARKET CONTEXT (from research) ===\n- EGX annualized volatility: ~29.75% (nearly 2x MSCI EM) — adjust all analysis thresholds accordingly\n- Average annual return: ~19% with extreme variance (2005: +146%, 2008: -56%, 2023: >70%)\n- Peak cycles: ~26 months, trough cycles: ~18 months\n- CBE interest rate (currently ~20%, easing from 27.25% peak) — rate cuts are bullish for equities\n- EGX is a \"macro-first\" market: CBE rates > EGP stability > inflation > political stability\n- Egypt's 5-day trading week (Sun-Thu), hours 10:00-14:00 Cairo (EET)\n\n=== DATA QUALITY NOTE ===\nAll intraday data (15m, 1H) has been filtered to the organic trading session (10:00-14:00 Cairo).\nThe MOC auction (14:00-14:30) has been programmatically removed.\n4H = SYNTHESIZED from 4 healed 1H candles = one organic trading day.\nDaily timeframe REMOVED (Yahoo daily close includes MOC auction price).\n\n=== MULTI-TIMEFRAME FRAMEWORK ===\n  W (Weekly) -> Long-term macro trend & deep Elliott Wave\n  4H         -> PRIMARY MACRO ANCHOR (= 1 organic EGX day)\n  1H         -> Swing signals & sub-wave structure\n  15m        -> Precision entry timing\n\n=== INDICATOR KEY (EGX-OPTIMIZED) ===\nEXISTING:\n- ema: EMA 9/21/50 alignment (bullish/bearish/mixed)\n- rsi: RSI-14 (trend filter)\n- mH/mHS/mX: MACD 12/26/9 histogram, slope, crossover\n\nNEW (EGX research-backed):\n- rsi3/rsi3Sig: RSI 3-period with 85/15 thresholds — 91% win rate on EGX backtests\n  * rsi3 <= 15 = EXTREME oversold (strong buy signal)\n  * rsi3 >= 85 = EXTREME overbought (strong sell signal)\n- mEgxH/mEgxHS/mEgxX: MACD 8/17/9 (EGX-optimized, faster signals)\n- ichi.cloud/tk: Ichimoku 7/22/44 (adapted for 5-day EGX week)\n  * above_cloud = bullish, below_cloud = bearish, inside = indecision\n  * tk = tenkan/kijun cross\n- adx.v/pdi/mdi/sig: ADX 14-period trend strength\n  * ADX > 25 = strong trend confirmed\n  * ADX < 20 = ranging (use mean reversion)\n- bb.u/l/w/pB/sig: Bollinger 10/2.5 (volatility squeeze)\n  * squeeze signal = imminent breakout\n  * pctB > 100 or < 0 = price outside bands\n- stoch.k/d/sig/x: Stochastic 9/3/2 (quick oscillator)\n  * oversold + bullish crossover = entry signal\n- vol.mfi/mfiSig: MFI 14-period (Money Flow Index)\n  * > 80 = institutional overbought, < 20 = institutional oversold\n- vol.cmf/cmfSig: CMF 20-period (Chaikin Money Flow)\n  * positive = accumulation, negative = distribution\n- vol.sm/smc: Smart Money composite signal & confidence score\n  * Combines OBV, A/D Line, MFI, CMF, volume spikes\n- ew.sub: Elliott sub-wave Fibonacci ratio analysis\n\n=== ELLIOTT WAVE INTERPRETATION ===\n- ew.l = Wave label, ew.p = phase, ew.q = quality (0-95), ew.d = direction\n- ew.sub.ratio = current wave ratio to previous wave\n- ew.sub.fibMatch = Fibonacci relationship (38.2%, 61.8%, 100%, 161.8%, 261.8%)\n- Wave 3 (impulse, quality > 60) = STRONGEST phase, expect acceleration\n- Wave 5 = final push, watch for exhaustion (RSI divergence + MFI > 80)\n- Wave C (corrective) = final correction leg, prepare for reversal\n- Cross-TF alignment (waveAlignment.signal) is critical for confidence\n\n=== NEWS ANALYSIS RULES ===\n- Analyze ALL provided Mubasher news items for this stock\n- Correlate each news item with the technical picture:\n  * Positive news + bullish technicals = REINFORCED buy signal\n  * Positive news + bearish technicals = CONFLICTING (technicals take priority)\n  * Negative news + bearish technicals = REINFORCED sell signal\n- Consider news recency: more recent = more weight\n- The 'title' field in EVERY news_analysis item MUST be the original Arabic title from the news context — do NOT translate it to English\n- The 'analysis' field in EVERY news_analysis item MUST be written in Egyptian Arabic — this is mandatory\n- If no news, focus entirely on TA\n- ONLY web_search on mubasher.info, enterprise.press, amwalalghad.com if breaking news provided\n\n=== OUTPUT FORMAT ===\nRespond ONLY with valid JSON. No markdown. No code fences.\n{\n  \"stock\": \"TICKER\",\n  \"action\": \"BUY|SELL|HOLD|WATCH\",\n  \"confidence\": 0-100,\n  \"news_analysis\": [\n    {\n      \"title\": \"<العنوان الأصلي للخبر باللغة العربية كما ورد في السياق>\",\n      \"impact\": \"positive|negative|neutral\",\n      \"analysis\": \"<2-3 sentences in Egyptian Arabic (عربي مصري) analyzing this news in the stock's technical context>\"\n    }\n  ],\n  \"prediction_24h\": {\"low\": 0.00, \"high\": 0.00},\n  \"prediction_5d\": {\"low\": 0.00, \"high\": 0.00},\n  \"entry\": 0.00,\n  \"stopLoss\": 0.00,\n  \"takeProfit\": 0.00,\n  \"riskLevel\": \"LOW|MEDIUM|HIGH\",\n  \"reasoning_ar\": \"<8-12 sentences in Egyptian Arabic (عربي مصري) covering: organic session filter, Elliott Wave position and sub-wave Fibonacci, Smart Money flow (MFI/CMF/OBV/A-D), Ichimoku cloud status, ADX trend strength, RSI-3 extreme signals, key Fibonacci/S-R levels, news-TA correlation, and MTF confluence>\"\n}\n\n=== LANGUAGE RULE ===\nALL prompt instructions above are in English. ALL JSON field keys must be in English.\nThe value of 'reasoning_ar', each 'analysis' inside news_analysis, AND each 'title' inside news_analysis (use the original Arabic title from the news context) must be in Arabic.\nAll other JSON values (action, riskLevel, impact, etc.) must remain in English.`;\n\nfunction buildContext(a) {\n  const lines = ['=== ' + a.stock + ' (' + a.fullName + ') -- Current Price: ' + a.currentPrice + ' EGP ==='];\n  lines.push('Available TFs: ' + a.tfs.join(', '));\n  if (a.confluence) lines.push('MTF Confluence: score=' + a.confluence.score + ', bias=' + a.confluence.bias + ', strength=' + a.confluence.strength);\n  if (a.waveAlignment) lines.push('Wave Alignment: signal=' + a.waveAlignment.signal + ' | ' + a.waveAlignment.detail);\n  if (a.error) lines.push('Data Note: ' + a.error);\n\n  for (const [tf, data] of Object.entries(a.tf || {})) {\n    const parts = ['[' + tf + ']', 'ema=' + data.ema];\n    if (data.ema9) parts.push('EMA9=' + data.ema9 + ' EMA21=' + data.ema21 + ' EMA50=' + data.ema50);\n    if (data.rsi != null) parts.push('RSI14=' + data.rsi + '(prev:' + data.rsiPrev + ',slope:' + data.rsiSlp + ')');\n    if (data.rsi3 != null) parts.push('RSI3=' + data.rsi3 + '(' + data.rsi3Sig + ')');\n    if (data.mH != null) parts.push('MACD:hist=' + data.mH + ',slope=' + data.mHS + ',xover=' + data.mX);\n    if (data.mEgxH != null) parts.push('MACD_EGX:hist=' + data.mEgxH + ',slope=' + data.mEgxHS + ',xover=' + data.mEgxX);\n    if (data.atr) parts.push('ATR=' + data.atr);\n    if (data.sup?.length) parts.push('Sup=[' + data.sup.join(',') + ']');\n    if (data.res?.length) parts.push('Res=[' + data.res.join(',') + ']');\n\n    // Ichimoku\n    if (data.ichi) parts.push('Ichimoku:cloud=' + data.ichi.cloud + ',TK=' + data.ichi.tk);\n\n    // ADX\n    if (data.adx) parts.push('ADX=' + data.adx.v + '(+DI=' + data.adx.pdi + ',-DI=' + data.adx.mdi + ',' + data.adx.sig + ')');\n\n    // Bollinger\n    if (data.bb) parts.push('BB:width=' + data.bb.w + ',%B=' + data.bb.pB + ',sig=' + data.bb.sig);\n\n    // Stochastic\n    if (data.stoch) parts.push('Stoch:K=' + data.stoch.k + ',D=' + data.stoch.d + ',' + data.stoch.sig + ',x=' + data.stoch.x);\n\n    // Elliott Wave\n    if (data.ew) {\n      let ewStr = 'Elliott:' + data.ew.l + '(' + data.ew.p + ',q=' + data.ew.q + ')';\n      if (data.ew.sub) ewStr += ' sub:ratio=' + data.ew.sub.ratio + ',fib=' + data.ew.sub.fibMatch;\n      parts.push(ewStr);\n    }\n\n    // Fibonacci\n    if (data.fib) parts.push('Fib:nearest=' + data.fib.nr + '(' + data.fib.nd + '%)');\n\n    // Volume/Smart Money\n    if (data.vol) {\n      parts.push('SmartMoney=' + data.vol.sm + '(conf=' + data.vol.smc + ')');\n      parts.push('MFI=' + data.vol.mfi + '(' + data.vol.mfiSig + ')');\n      parts.push('CMF=' + data.vol.cmf + '(' + data.vol.cmfSig + ')');\n      if (data.vol.div !== 'none') parts.push('VolDiv=' + data.vol.div);\n      if (data.vol.spike) parts.push('VOLUME_SPIKE(x' + data.vol.vr + ')');\n    }\n\n    // Patterns\n    if (data.pat) {\n      parts.push('Structure=' + data.pat.st);\n      if (data.pat.p?.length) parts.push('Patterns=' + data.pat.p.join(','));\n    }\n\n    lines.push(parts.join(' | '));\n  }\n\n  if (a.news?.length > 0) {\n    lines.push('');\n    lines.push('>>> NEWS (Mubasher, last 7 days):');\n    a.news.forEach((n, idx) => {\n      lines.push((idx + 1) + '. ' + n.title);\n      if (n.content && n.content !== n.title) lines.push('   ' + n.content.substring(0, 300));\n      if (n.date) lines.push('   Date: ' + n.date);\n    });\n    lines.push('You MAY web_search on mubasher.info or enterprise.press ONLY if breaking news is present.');\n  } else {\n    lines.push('');\n    lines.push('[No news. TA ONLY. DO NOT web_search.]');\n  }\n\n  return lines.join('\\n');\n}\n\nasync function callGLM(userMessage, useWebSearch) {\n  const maxRetries = 2;\n  let lastError = null;\n\n  for (let attempt = 0; attempt < maxRetries; attempt++) {\n    try {\n      const reqBody = {\n        model: 'glm-5',\n        messages: [\n          { role: 'system', content: SYSTEM_PROMPT },\n          { role: 'user',   content: userMessage }\n        ],\n        temperature: 0.1,\n        max_tokens: 4000\n      };\n      if (useWebSearch) {\n        reqBody.tools = [{ type: 'web_search', web_search: { enable: true, search_engine: 'search-prime', search_result: true } }];\n      }\n      const resp = await httpReq({\n        method: 'POST', url: ZAI_ENDPOINT,\n        headers: { 'Authorization': 'Bearer ' + ZAI_API_KEY, 'Content-Type': 'application/json' },\n        body: JSON.stringify(reqBody),\n        returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: HTTP_TIMEOUT\n      });\n      if (resp.statusCode !== 200) {\n        const body = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body);\n        throw new Error('Z.ai ' + resp.statusCode + ': ' + body.substring(0, 150));\n      }\n      const body = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n      return body.choices?.[0]?.message?.content || '';\n    } catch (e) {\n      lastError = e.message;\n      if (attempt < maxRetries - 1) {\n        const backoffMs = 2000 * Math.pow(2, attempt);\n        await new Promise(r => setTimeout(r, backoffMs));\n      }\n    }\n  }\n\n  throw new Error(lastError || 'API call failed after retries');\n}\n\nfunction defaultAI(a, errMsg) {\n  const p = a.currentPrice || 0;\n  const atrVal = Object.values(a.tf || {}).find(t => t?.atr)?.atr || p * 0.02;\n  return {\n    stock: a.stock, action: 'HOLD', confidence: 0,\n    news_analysis: [],\n    prediction_24h: { low: +(p - atrVal).toFixed(2), high: +(p + atrVal).toFixed(2) },\n    prediction_5d:  { low: +(p - atrVal * 2).toFixed(2), high: +(p + atrVal * 2.2).toFixed(2) },\n    entry: 0, stopLoss: 0, takeProfit: 0, riskLevel: 'HIGH',\n    reasoning_ar: 'فشل التحليل: ' + errMsg\n  };\n}\n\nfunction sanitise(raw, fb) {\n  const p = fb.currentPrice || 0;\n  const atrVal = Object.values(fb.tf || {}).find(t => t?.atr)?.atr || p * 0.02;\n  return {\n    stock:          raw.stock || fb.stock,\n    action:         ['BUY', 'SELL', 'HOLD', 'WATCH'].includes(raw.action) ? raw.action : 'HOLD',\n    confidence:     typeof raw.confidence === 'number' ? Math.min(100, Math.max(0, raw.confidence)) : 50,\n    news_analysis:  Array.isArray(raw.news_analysis) ? raw.news_analysis : [],\n    prediction_24h: raw.prediction_24h?.low != null ? { low: +raw.prediction_24h.low, high: +raw.prediction_24h.high } : { low: +(p - atrVal).toFixed(2), high: +(p + atrVal).toFixed(2) },\n    prediction_5d:  raw.prediction_5d?.low != null ? { low: +raw.prediction_5d.low, high: +raw.prediction_5d.high } : { low: +(p - atrVal * 2).toFixed(2), high: +(p + atrVal * 2.2).toFixed(2) },\n    entry:          raw.entry || 0,\n    stopLoss:       raw.stopLoss || 0,\n    takeProfit:     raw.takeProfit || 0,\n    riskLevel:      ['LOW', 'MEDIUM', 'HIGH'].includes(raw.riskLevel) ? raw.riskLevel : 'MEDIUM',\n    reasoning_ar:   raw.reasoning_ar || 'لا يوجد تحليل.'\n  };\n}\n\nconst inputItems = $input.all();\nconst results = [];\nconst validItems = inputItems.filter(i => !i.json._fetchLog && i.json.currentPrice > 0).map(i => i.json);\nconst errorItems = inputItems.filter(i => !i.json._fetchLog && (i.json.currentPrice <= 0 || (!i.json.ta && i.json.error)));\nconst logItems   = inputItems.filter(i => i.json._fetchLog);\n\n// SINGLE STOCK PER API CALL — focused analysis per stock\nfor (let i = 0; i < validItems.length; i++) {\n  const sd = validItems[i];\n  const userMessage = 'Analyze this SINGLE EGX stock with full depth. Return JSON for this one stock only.\\n\\n' + buildContext(sd);\n  const hasNews = sd.news && sd.news.length > 0;\n\n  let parsedData = null;\n  let errMsg = 'Unknown';\n\n  const cleanJson = s => s.replace(/[\\u0000-\\u001F\\u007F\\u2028\\u2029]/g, ' ');\n  function tryParseJSON(raw) {\n    let cleaned = raw.replace(/\\`\\`\\`json/gi, '').replace(/\\`\\`\\`/g, '').trim();\n    let si = cleaned.indexOf('{'), ei = cleaned.lastIndexOf('}');\n    if (si === -1 || ei === -1) return null;\n    const jsonRaw = cleaned.substring(si, ei + 1);\n    try {\n      return JSON.parse(cleanJson(jsonRaw));\n    } catch (e1) {\n      for (let end = ei - 1; end > si; end--) {\n        if (cleaned[end] === '}') {\n          try {\n            const candidate = JSON.parse(cleanJson(cleaned.substring(si, end + 1)));\n            if (candidate && candidate.stock) return candidate;\n          } catch (e2) {}\n        }\n      }\n      return null;\n    }\n  }\n\n  try {\n    // Attempt 1: with web_search if news available\n    const rawOutput = await callGLM(userMessage, hasNews);\n    parsedData = tryParseJSON(rawOutput);\n\n    // Attempt 2: retry without web_search and stricter prompt if JSON extraction failed\n    if (!parsedData) {\n      await sleep(2000);\n      const strictPrefix = 'IMPORTANT: Respond ONLY with a valid JSON object. No text before or after. No markdown code fences. No commentary.\\n\\n';\n      const rawRetry = await callGLM(strictPrefix + userMessage, false);\n      parsedData = tryParseJSON(rawRetry);\n      if (!parsedData) throw new Error('No JSON found after retry');\n    }\n  } catch (e) {\n    errMsg = e.message;\n  }\n\n  results.push({ json: { ...sd, ai: parsedData ? sanitise(parsedData, sd) : defaultAI(sd, errMsg) } });\n\n  if (i < validItems.length - 1) await sleep(SLEEP_MS);\n}\n\nfor (const item of errorItems) {\n  const d = item.json;\n  d.ai = defaultAI(d, d.error || 'No price data');\n  results.push({ json: d });\n}\n\nfor (const item of logItems) results.push(item);\nreturn results;\n"
      },
      "id": "0d3abb17-314b-4397-a3bc-655797a52a0b",
      "name": "AI Analysis (Per Stock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        -1424
      ]
    },
    {
      "parameters": {
        "jsCode": "\nif ($input.all()[0]?.json?._skip) return [{ json: { _skip: true } }];\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst httpReq = this.helpers.httpRequest;\n\nconst WEBHOOK_URLS = [\n'https://discord.com/api/webhooks/1479018213269438550/Wp6GlhcQ6MY36XvZxVZrnmTV0djf9M4T8UKEjASsYXOpG_pL8sz0WRQnC3UtJKoIIp6F'\n];\nconst BOT = {\n  username: 'EGX Deep Analyst',\n  avatar_url: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0IcHOvVsV9GMr6RBfsKYCyL4GcD0MRuvaGg&s'\n};\n\nconst COL = { BUY: 5763719, SELL: 15548997, WATCH: 16776960, HOLD: 10070709, ERROR: 10038562 };\nconst ACTION_PRIORITY = { BUY: 1, HOLD: 2, WATCH: 3, SELL: 4, ERROR: 5 };\nconst ACTION_EMOJI = { BUY: '🟢', SELL: '🔴', WATCH: '🟡', HOLD: '⚪', ERROR: '❌' };\n\nfunction getTrend(tfData) {\n  const anchor = tfData?.['4H'] || Object.values(tfData || {})[0];\n  if (!anchor) return 'Unknown';\n  if (anchor.ema === 'bullish') return 'Uptrend';\n  if (anchor.ema === 'bearish') return 'Downtrend';\n  return 'Sideways';\n}\n\nconst data = $input.all().map(i => i.json).filter(d => !d._fetchLog);\n\ndata.sort((a, b) => {\n  const pa = ACTION_PRIORITY[a.ai?.action] || 5;\n  const pb = ACTION_PRIORITY[b.ai?.action] || 5;\n  if (pa !== pb) return pa - pb;\n  return (b.ai?.confidence || 0) - (a.ai?.confidence || 0);\n});\n\nconst allEmbeds = [];\nconst runDate = data[0]?.runDate || new Date().toISOString().split('T')[0];\n\n// ── Action counts ──\nconst actionCounts = {};\nfor (const a of data) {\n  const act = a.ai?.action || 'HOLD';\n  actionCounts[act] = (actionCounts[act] || 0) + 1;\n}\nconst summaryParts = [];\nif (actionCounts.BUY) summaryParts.push('🟢 BUY: ' + actionCounts.BUY);\nif (actionCounts.WATCH) summaryParts.push('🟡 WATCH: ' + actionCounts.WATCH);\nif (actionCounts.HOLD) summaryParts.push('⚪ HOLD: ' + actionCounts.HOLD);\nif (actionCounts.SELL) summaryParts.push('🔴 SELL: ' + actionCounts.SELL);\n\n// ── Best picks for header ──\nconst topBuy = data.find(d => d.ai?.action === 'BUY');\nconst topSell = data.find(d => d.ai?.action === 'SELL');\n\nconst headerLines = [\n  '**' + data.length + ' stocks analyzed** · ' + summaryParts.join(' · '),\n  ''\n];\n\nif (topBuy) {\n  const b24 = topBuy.ai.prediction_24h || {};\n  const b5d = topBuy.ai.prediction_5d || {};\n  headerLines.push('📈 **Best long:** ' + topBuy.fullName + ' — 24h: `' + Number(b24.low).toFixed(3) + '–' + Number(b24.high).toFixed(3) + '` · 5d: `' + Number(b5d.low).toFixed(3) + '–' + Number(b5d.high).toFixed(3) + ' EGP`');\n} else {\n  const bestUpside = data\n    .filter(d => (d.ai?.action === 'WATCH' || d.ai?.action === 'HOLD') && d.ai?.prediction_24h?.high && d.currentPrice > 0)\n    .sort((a, b) => ((b.ai.prediction_24h.high - b.currentPrice) / b.currentPrice) - ((a.ai.prediction_24h.high - a.currentPrice) / a.currentPrice))[0];\n  if (bestUpside) {\n    const u24 = bestUpside.ai.prediction_24h || {};\n    const u5d = bestUpside.ai.prediction_5d || {};\n    const upPct = ((u24.high - bestUpside.currentPrice) / bestUpside.currentPrice * 100).toFixed(1);\n    headerLines.push('📈 **Best upside (' + bestUpside.ai.action + '):** ' + bestUpside.fullName + ' — 24h: `' + Number(u24.low).toFixed(3) + '–' + Number(u24.high).toFixed(3) + '` · 5d: `' + Number(u5d.low).toFixed(3) + '–' + Number(u5d.high).toFixed(3) + ' EGP` (+' + upPct + '% upside)');\n  }\n}\n\nif (topSell) {\n  const s24 = topSell.ai.prediction_24h || {};\n  const s5d = topSell.ai.prediction_5d || {};\n  headerLines.push('📉 **Best short:** ' + topSell.fullName + ' — 24h: `' + Number(s24.low).toFixed(3) + '–' + Number(s24.high).toFixed(3) + '` · 5d: `' + Number(s5d.low).toFixed(3) + '–' + Number(s5d.high).toFixed(3) + ' EGP`');\n} else {\n  const bearish = data\n    .filter(d => (d.ai?.action === 'WATCH' || d.ai?.action === 'HOLD') && d.ai?.prediction_24h?.high && d.currentPrice)\n    .sort((a, b) => (a.ai.prediction_24h.high - a.currentPrice) - (b.ai.prediction_24h.high - b.currentPrice))[0];\n  if (bearish) {\n    const bh24 = bearish.ai.prediction_24h || {};\n    headerLines.push('📉 **Watch for drop:** ' + bearish.fullName + ' — 24h: `' + Number(bh24.low).toFixed(3) + '–' + Number(bh24.high).toFixed(3) + ' EGP`');\n  }\n}\n\nallEmbeds.push({\n  title: '📊 EGX Daily Analysis · ' + runDate,\n  description: headerLines.join('\\n'),\n  color: 3447003\n});\n\n// ── Per-stock embeds ──\nfor (const a of data) {\n  const ai = a.ai || {};\n  const action = ai.action || 'HOLD';\n  const color = COL[action] || COL.HOLD;\n  const conf = ai.confidence || 0;\n\n  if (a.error && (!a.tf || Object.keys(a.tf).length === 0)) {\n    allEmbeds.push({\n      title: '❌ ' + a.fullName,\n      description: 'No data: `' + (a.error || '').substring(0, 300) + '`',\n      color: COL.ERROR\n    });\n    continue;\n  }\n\n  const trend = getTrend(a.tf);\n  const bestTF = a.tf?.['4H'] || a.tf?.['1H'] || Object.values(a.tf || {})[0] || {};\n\n  // Elliott Wave\n  const ewParts = [];\n  for (const [tf, tfData] of Object.entries(a.tf || {})) {\n    if (tfData?.ew) {\n      let s = tf + ':' + tfData.ew.l + '(q' + tfData.ew.q + ')';\n      if (tfData.ew.sub?.fibMatch && tfData.ew.sub.fibMatch !== 'none') s += '[' + tfData.ew.sub.fibMatch + ']';\n      ewParts.push(s);\n    }\n  }\n\n  const sections = [];\n\n  // Action header line\n  let actionLine = ' **' + action + '** · ' + conf + '% confidence';\n  if (ai.riskLevel) actionLine += ' · Risk: ' + ai.riskLevel;\n  sections.push(actionLine);\n\n  if (a.confluence) {\n    sections.push('Confluence: **' + a.confluence.score + '** (' + a.confluence.bias + ', ' + a.confluence.strength + ')');\n  }\n  if (ewParts.length) sections.push('Elliott: `' + ewParts.join(' | ') + '`');\n  if (a.waveAlignment?.signal && a.waveAlignment.signal !== 'insufficient_data') {\n    sections.push('Wave Align: `' + a.waveAlignment.signal + '`');\n  }\n\n  // ── Technical ──\n  sections.push('');\n  sections.push('**📊 Technical**');\n\n  let trendLine = '▸ Trend: `' + trend + '`';\n  if (bestTF.adx) trendLine += ' · ADX: `' + bestTF.adx.v + ' (' + bestTF.adx.sig + ')`';\n  sections.push(trendLine);\n\n  let rsiLine = '';\n  if (bestTF.rsi != null) rsiLine = 'RSI-14: `' + bestTF.rsi + '`';\n  if (bestTF.rsi3 != null) rsiLine += ' · RSI-3: `' + bestTF.rsi3 + ' (' + bestTF.rsi3Sig + ')`';\n  if (rsiLine) sections.push('▸ ' + rsiLine);\n\n  if (bestTF.ichi) {\n    sections.push('▸ Ichimoku: `' + bestTF.ichi.cloud + '` · TK cross: `' + bestTF.ichi.tk + '`');\n  }\n  if (bestTF.bb) {\n    sections.push('▸ BB: `width=' + bestTF.bb.w + '%, %B=' + bestTF.bb.pB + ', ' + bestTF.bb.sig + '`');\n  }\n  if (bestTF.stoch) {\n    sections.push('▸ Stoch: `K=' + bestTF.stoch.k + ' D=' + bestTF.stoch.d + ' (' + bestTF.stoch.sig + ', ' + bestTF.stoch.x + ')`');\n  }\n  if (bestTF.vol) {\n    sections.push('▸ Smart Money: `' + bestTF.vol.sm + ' (conf:' + bestTF.vol.smc + ')`');\n    let flowLine = '▸ MFI: `' + bestTF.vol.mfi + ' (' + bestTF.vol.mfiSig + ')` · CMF: `' + bestTF.vol.cmf + ' (' + bestTF.vol.cmfSig + ')`';\n    if (bestTF.vol.div && bestTF.vol.div !== 'none') flowLine += ' · `' + bestTF.vol.div + '`';\n    if (bestTF.vol.spike) flowLine += ' · SPIKE ×' + bestTF.vol.vr;\n    sections.push(flowLine);\n  }\n\n  const sup = (bestTF.sup || []).slice(0, 3).join(', ') || 'N/A';\n  const res = (bestTF.res || []).slice(0, 3).join(', ') || 'N/A';\n  sections.push('▸ Support: `' + sup + '` · Resistance: `' + res + '`');\n  if (bestTF.fib) {\n    sections.push('▸ Fib: `' + bestTF.fib.nr + '` (' + bestTF.fib.nd + '% away)');\n  }\n\n  // ── News ──\n  if (ai.news_analysis?.length > 0) {\n    sections.push('');\n    sections.push('**📰 News**');\n    ai.news_analysis.forEach(n => {\n      const icon = n.impact === 'positive' ? '🟢' : n.impact === 'negative' ? '🔴' : '🟡';\n      sections.push(icon + ' **' + (n.title || '').substring(0, 80) + '**');\n      if (n.analysis) sections.push('> ' + n.analysis.substring(0, 200));\n    });\n  }\n\n  // ── Targets ──\n  sections.push('');\n  sections.push('**🎯 Targets**');\n  sections.push('▸ 24h: `' + Number(ai.prediction_24h?.low || 0).toFixed(3) + ' – ' + Number(ai.prediction_24h?.high || 0).toFixed(3) + ' EGP`');\n  sections.push('▸ 5d:  `' + Number(ai.prediction_5d?.low || 0).toFixed(3) + ' – ' + Number(ai.prediction_5d?.high || 0).toFixed(3) + ' EGP`');\n  if (ai.entry > 0) {\n    sections.push('▸ Entry: `' + Number(ai.entry).toFixed(3) + '` · SL: `' + Number(ai.stopLoss).toFixed(3) + '` · TP: `' + Number(ai.takeProfit).toFixed(3) + '`');\n  }\n\n  // ── Analysis ──\n  sections.push('');\n  sections.push('**📝 Analysis**');\n  sections.push((ai.reasoning_ar || '').substring(0, 900));\n\n  allEmbeds.push({\n    title: ACTION_EMOJI[action] + ' ' + a.fullName + ' [`' + Number(a.currentPrice).toFixed(3) + ' EGP`]',\n    description: sections.join('\\n').substring(0, 4000),\n    color\n  });\n}\n\n// ── Chunk & send ──\nconst payloads = [];\nlet batch = [], chars = 0;\nfor (const e of allEmbeds) {\n  const len = (e.title || '').length + (e.description || '').length + 100;\n  if (batch.length >= 2 || (chars + len > 5500 && batch.length > 0)) {\n    payloads.push(batch);\n    batch = []; chars = 0;\n  }\n  batch.push(e);\n  chars += len;\n}\nif (batch.length > 0) payloads.push(batch);\n\nconst sendResults = [];\nfor (let i = 0; i < payloads.length; i++) {\n  const body = JSON.stringify({ ...BOT, embeds: payloads[i] });\n  for (const webhookUrl of WEBHOOK_URLS) {\n    let success = false;\n    for (let attempt = 0; attempt < 3 && !success; attempt++) {\n      try {\n        const resp = await httpReq({\n          method: 'POST', url: webhookUrl,\n          headers: { 'Content-Type': 'application/json' },\n          body,\n          returnFullResponse: true, ignoreHttpStatusErrors: true, timeout: 15000\n        });\n        if (resp.statusCode >= 200 && resp.statusCode < 300) {\n          sendResults.push({ batch: i + 1, webhook: webhookUrl.split('/')[6], status: resp.statusCode, ok: true });\n          success = true;\n        } else if (resp.statusCode === 429) {\n          const ra = (typeof resp.body === 'object' ? resp.body?.retry_after : 3) || 3;\n          await sleep(ra * 1000 + 500);\n        } else {\n          const errBody = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body);\n          sendResults.push({ batch: i + 1, webhook: webhookUrl.split('/')[6], status: resp.statusCode, ok: false, detail: errBody.substring(0, 200) });\n          break;\n        }\n      } catch (e) {\n        sendResults.push({ batch: i + 1, webhook: webhookUrl.split('/')[6], error: e.message, ok: false });\n        if (attempt < 2) await sleep(2000);\n      }\n    }\n    await sleep(1000);\n  }\n  if (i < payloads.length - 1) await sleep(2000);\n}\n\nreturn [{\n  json: {\n    totalStocks: data.length,\n    totalEmbeds: allEmbeds.length,\n    totalPayloads: payloads.length,\n    sendResults,\n    allOk: sendResults.every(r => r.ok)\n  }\n}];\n"
      },
      "id": "3275fc38-8b0c-4118-b524-c06eb9662886",
      "name": "Format & Send to Discord",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8032,
        -1424
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6512,
        -1424
      ],
      "id": "9e453dd3-82f0-44ae-9886-825a59da926a",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Stock Config": {
      "main": [
        [
          {
            "node": "Fetch Yahoo OHLCV (All TFs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yahoo OHLCV (All TFs)": {
      "main": [
        [
          {
            "node": "TA Engine (All Timeframes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TA Engine (All Timeframes)": {
      "main": [
        [
          {
            "node": "Fetch News (Mubasher)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News (Mubasher)": {
      "main": [
        [
          {
            "node": "Compress for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress for AI": {
      "main": [
        [
          {
            "node": "AI Analysis (Per Stock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis (Per Stock)": {
      "main": [
        [
          {
            "node": "Format & Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Stock Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0ad5407d-9699-4ca7-9fe8-eeb17e90c7ee",
  "meta": {
    "instanceId": "141ae7eb68892bbe98ec3a6b040e6891f0344046a266c895ce0b483dfac70d53"
  },
  "id": "h7qtdHH50FIZHD0y",
  "tags": []
}